[2015-10-17 15:43] lares83 opened #190 "Firefox: Performance Issue"
Hi,
I prepared code in Plunker in which I would like to display 3 opinions
http://plnkr.co/edit/hiZ7GW?p=preview

As you can see on Firefox "Opinions" header is animated first and after few seconds opinions are being displayed. In Chrome/Edge header and opinions are being animated at the same time.

Second issue I noticed is that when I want to display opinions that have only uuid and put in opini

[2015-10-17 15:57] EisenbergEffect commented on #190
@zewa666 Can you take a look into the animation issue.
@jdanyow If you get a chance, can you look into the "if.bind" issue?

[2015-10-17 16:04] michalru3ch commented on #158
Hi jdanyow.

I've just updated aurelia and babel (babel-core@5.8.25, babel-runtime@5.8.25) as well, but I still have the issue. Even the proposed workaround
[code]
didn't solve it.

Current error:

`
message: "Cannot read property 'source' of undefined"
stack: "TypeError: Cannot read property 'source' of undefined?    at Repeat.getViewIndexByKey (http://localhost:9000/jspm_packages/github/aurelia/

[2015-10-18 11:23] charlespockert opened #191 "Support full CSS selectors with @sync decorator"
At the moment, the `@sync` decorator only supports the most simple scenario when selecting child elements to track.

This is limiting to framework users as it means that certain control scenarios are not possible.

Take this nested tab control example:

[code]

With this `@sync` decorator tracking the children:

[code]

Leads to this undesirable situation as the selector is not specific enough to

[2015-10-20 07:23] chrismbeckett opened #192 "Feature Request: Callback handler on view when rendered"
A lot of jQuery-style components and frameworks (including Material Design Lite) are designed to bind to DOM elements after they have been rendered. MeteorJS for example allows a "rendered" event handler to be added to a view that is called when the view is rendered into the DOM and provides an ideal place to enable jQuery components, etc. The event also provides the root DOM element for the parti

[2015-10-20 08:05] heruan commented on #35
I'm also very interested on this, since I'm writing an Aurelia plugin which builds tables and forms from a JSON Schema description of entities. I didn't know the existence of `inlineView`, `ViewCompiler`, `ViewSlot`, etc. Where can I find documentation about these (or just a reference to know their existence)?

[2015-10-20 10:36] charlespockert commented on #192
@chrismbeckett I believe this has been discussed a few times in the gitter channel

The conclusion has usually been; whilst it's possible to add a hook that does something along these lines, there isn't really such a thing as "rendered" since the binding system is async, so calling it "rendered" is a bit of a misnomer.

Usually the issue with using `attached()` lies in that the DOM may not be in t

[2015-10-20 13:09] sylvain-hamel commented on #160
I can no longer reproduce this bug with 0.15.3. I think it was fixed by some other change.

[2015-10-20 13:09] #160 closed

[2015-10-20 14:55] EisenbergEffect commented on #35
Full api reference docs are coming for the beta in a couple of weeks.
On Oct 20, 2015 4:05 AM, "Giovanni Lovato" <notifications@github.com> wrote:

[2015-10-20 14:57] zewa666 commented on #189
you can either leverage Router events (https://github.com/aurelia/router/issues/24) or implement a BaseVM which the others would inherit. In there create your custom logic for all VMs. Personally I'd prefer the first way though.

[2015-10-20 16:22] leon-andria commented on #189
@zewa666 We share the same feeling, the first one is more better for less dependencies.
As you put in the link, this is the kind of details that we need absolutely, this is why i put the poster as an idea that i did for asp.net few years ago.
What is really frustrating today is that with Aurelia, it's really hard for "basic" developers to find out some details. With a good overview like this, we c

[2015-10-20 22:16] zewa666 commented on #189
Those things should and will happen in tge docs app which were working on nowas part of the beta release

[2015-10-21 21:37] jdanyow commented on #190
@lares83 are you still hitting an issue with `if.bind`?  I've updated your plunker to the latest aurelia bits, it's working in firefox now:

http://plnkr.co/edit/uRFQwi?p=preview

[2015-10-22 05:30] chrismbeckett commented on #192
Hey, I appreciate the feedback, the info on the taskQueue is much appreciated.

[2015-10-22 05:30] #192 closed

[2015-10-22 07:46] lares83 commented on #190
@jdanyow Hi, yes I still have it.  When you put

<opinion repeat.for="opinion of opinions" if.bind="opinion.uuid" opinion.bind="opinion" class="opinion card-container au-animate"></opinion>

opinions are not being displayed in firefox but on chrome they are.

[2015-10-24 04:20] tareqimbasher commented on #150
Yes I have this problem when clicking on any text input, data bound or not.

[2015-10-24 05:56] #182 closed

[2015-10-24 05:56] EisenbergEffect commented on #166
Fixed.

[2015-10-24 05:56] #166 closed

[2015-10-24 06:07] EisenbergEffect commented on #165
Now it is `element.au.controller.model` for any custom element.

[2015-10-24 06:07] #165 closed

[2015-10-24 06:11] EisenbergEffect commented on #150
I've identified the issue. It will be fixed in the next release.

[2015-10-24 07:04] LordZardeck opened #194 "Cannot use getter on repeat.for loop"
`this` is undefined in the following getter when running `repeat.for`:

**JavaScript:**
[code]

**HTML**
[code]

Is there something i'm doing wrong when implementing the `repeat.for` loop that is causing `this` to be undefined?

[2015-10-24 07:10] LordZardeck opened #195 "How to bind to the current bindingContext"
I'm wanting to pass the current binding context in to a custom element. This custom element could be contained in a variety of places inside a zone. Since I have a variety of implementations of the zone, sometimes the zone isn't the direct parent context of the custom element. Therefore I want to be able to pass the context in, injecting a specific context in. However, `this` doesn't work, like sh

[2015-10-24 13:17] #109 closed

[2015-10-24 13:56] BruceL33t opened #196 "Embedding javascript within templates doesn't seem to work?"
First for all I really love Aurelia so far. I'm super happy that I left Angular and React behind.

However I do have a slight problem I can't find a solution for when looking in the docs.

A client of mine was requesting a small change - in addition to the standard scrollbar at the bottom of a table, he would like me to add a scrollbar at the top.

Normally this would be fairly easy (although it s

[2015-10-24 14:08] jdanyow commented on #196
create a custom attribute for this- here's an example:

[code]

Then change your markup to:

[code]

(the custom attribute class was exported as `DoubleScrollCustomAttribute`... aurelia strips the `CustomAttribute` and hyphenates the name resulting in the `double-scroll` attribute you see on your table element above.

For more info on custom attributes check out the docs at aurelia.io

[2015-10-24 14:08] #196 closed

[2015-10-24 19:06] EisenbergEffect commented on #195
Custom elements automatically gain access to the current binding context via the bind callback. So, if your element want to do that, simply implement a method on the custom element class with the following signature: `bind(bindingContext)`.

[2015-10-24 19:06] #195 closed

[2015-10-24 19:18] LordZardeck commented on #195
@EisenbergEffect The problem is, the context can vary. I do use the `bind(bindingContext)` on some of my elements, but that provides the immediate parent. I need to control what context is given to the child custom element. is there a way to change what is passed to `bind(bindingContext)`?

[2015-10-24 19:20] LordZardeck commented on #195
@EisenbergEffect Essentially I need to provide a specific binding context, not the immediate parent's context.

[2015-10-24 19:23] EisenbergEffect commented on #195
There isn't a way to build that into an element. We do have a `with` behavior that lets you specify a binding context for a "section" of the DOM. You could use that. We are however going to be removing that in the next release due to the fact that it has some issues as a general behavior and we want to wait to add it officially until we can make it perfect. However, it might work for you and it's

[2015-10-24 19:25] LordZardeck commented on #195
@EisenbergEffect So essentially there is not way to reference the current bindingContext? In angular you can set a `controllerAs: 'ctrl'` property, which you can then reference inside the views. Is there nothing similar in Aurelia?

[2015-10-24 19:26] EisenbergEffect commented on #195
Nothing is built in at the moment. In your view model, you could create a property like this:

[code]

and then you could bind to `currentContext`.

[2015-10-24 19:27] LordZardeck commented on #195
@EisenbergEffect yeah, I was thinking about that. seemed redundant, but I guess it's what I have to do.

[2015-10-24 19:28] EisenbergEffect commented on #195
You can do that for now...then create an issue for us to build what you want ootb. If you have an inclination, you could look at adding the feature via a PR. If you have any questions on how that might work: @jdanyow is our binding guru and he can assist.

[2015-10-24 19:30] LordZardeck commented on #195
@EisenbergEffect Will do. Thanks!

[2015-10-24 22:59] EisenbergEffect commented on #161
All working now :)

[2015-10-24 22:59] #161 closed

[2015-10-25 19:13] stoffeastrom commented on #129
Fixed by `PAL`

[2015-10-25 19:13] #129 closed

[2015-10-26 11:28] valichek opened #197 "repeat.for renders empty items"
After last update (from __0.15.3__ to __0.16.0__) I got strange rendering with repeat.for.
It renders __empty__ items when I switch its source list from not empty array (`arr1`) to `null` and back to not empty array (`arr2`), so after switching to `arr2` there are empty items (same number as in `arr1`) + items from `arr2`. And this behavior is accumulative, so if I toggle from arr1=>null=>arr2=>nu

[2015-10-26 14:41] #189 closed

[2015-10-26 14:58] #152 closed

[2015-10-26 14:59] EisenbergEffect commented on #150
Fixed and going out in latest release.

[2015-10-26 14:59] #150 closed

[2015-10-26 15:23] EisenbergEffect commented on #84
I don't think we're going to add this for now. I'm not sure it's a good idea. However, we have provided some options to use mixins to share behavior.

[2015-10-26 15:23] #84 closed

[2015-10-26 15:24] EisenbergEffect commented on #81
I think this is covered with the async plugin.

[2015-10-26 15:24] #81 closed

[2015-10-28 13:39] devteamexpress commented on #197
I'm experiencing this issue as well.

[2015-10-28 14:55] paulbrickellmaven commented on #197
I'm not sure this problem is so new. I was seeing this behaviour months back. I never did resolve it and ended up using if.bind on a flag to remove a containing element when switching.

[2015-10-28 14:57] pbrickell commented on #197
I'm not sure this problem is so new. I was seeing this behaviour months back. I never did resolve it and ended up using if.bind on a flag to remove a containing element when switching.

[2015-10-28 15:20] devteamexpress commented on #197
It seems to happen to me when i use a child router and switch between routes.

[2015-10-28 15:23] valichek commented on #197
@pbrickell, the good way to avoid it is not to use `null` but just empty array `[]`

[2015-10-28 20:14] michalru3ch commented on #158
@jdanyow

Today I've installed the latest version of babel (5.8.30) and its runtime, but still same error...

From pure curiosity I gave it a try to debug the repeat.js and these are my findings:

- it crashes in method `getViewIndexByKey` when accessing the first binding of viewSlot.children `child.bindings[0].source[this.key]`. Strange thing is that none of the children ever had the list of bind

[2015-10-28 20:27] michalru3ch commented on #158
Ok, I have it.

Replace this line (repeat.js:404)

[code]

by this one

[code]

[2015-10-28 21:01] martingust commented on #158
@michalru3ch Great, That implementation was not right, will get this fix in by next release, thanks.

[2015-10-28 21:04] martingust commented on #197
@valichek Was not able to reproduce this issue. Can you please provide steps to replicate or example project?

[2015-10-30 11:36] sorenhoyer commented on #179
When you ```<require from="./login.css"></require>``` It seems it is not scoped to that template only, with or without ```as="scoped"``` . In all my tests it seems to be globally inserted. Is there a workaround, except inline styling on the html elements directly? :-)

[2015-10-30 12:15] martingust commented on #194
@LordZardeck It looks correct to me, I can't reproduce this. Would you mind creating example project with minimal steps to replicate? Thanks!

[2015-10-30 13:33] EisenbergEffect commented on #179
That capability only works if your component is using native shadow dom or if the browser supports scoped styles.

[2015-10-30 19:47] #158 closed

[2015-10-30 21:11] jdanyow commented on #185
duplicate of https://github.com/aurelia/binding/issues/183

[2015-10-30 21:11] #185 closed

[2015-11-03 14:14] RWOverdijk commented on #35
I can't wait for the docs. Is there some code I can read in the meantime?

[2015-11-04 16:40] LordZardeck commented on #194
@martingust Sorry about the late reply, I'll try to get a full example to you soon.

[2015-11-04 20:52] LordZardeck commented on #194
@martingust So when I use a simple example on plunker ([example](http://plnkr.co/edit/9DVHuORLdCQe1Izbslr1?p=preview)), it does indeed work. I will have to re-try this again tonight as I used a different method in the mean time.

[2015-11-09 04:58] EisenbergEffect commented on #73
Ok, I think this is a confusion about how to use custom attributes. A simple custom attribute that wants two-way binding to be the default should be declared like this:

[code]

For simple attributes, you don't define the properties, the framework provides on automatically...and so the binding mode need to be declared on the class. You only declare it on properties if you have an attribute that ma

[2015-11-09 07:46] EisenbergEffect commented on #197
Can anyone tell us how to reproduce this issue? If not, we can't fix it. A simple set of steps or a basic reproduction is what we need.

[2015-11-09 07:47] #194 closed

[2015-11-09 07:48] EisenbergEffect commented on #130
Coming in next release.

[2015-11-09 07:48] #130 closed

[2015-11-09 07:50] EisenbergEffect commented on #191
Here's what we did: We replace `sync` with two decorators `children` for selecting a collection, and `child` for referencing a single element. The selectors will now only match immediate child content of the element. I think this is better for encapsulation and it also makes things more performant.

If that does not work for you, you should know that these decorators are build on an extensible sys

[2015-11-09 07:50] #191 closed

[2015-11-09 07:52] EisenbergEffect commented on #156
Should be fixed a while ago now.

[2015-11-09 07:52] #156 closed

[2015-11-09 07:54] EisenbergEffect commented on #162
Here's how you would accomplish this in the next release. You create your your custom elements and make sure to use the `@noView()` decorator if they are used for data only. You can then use the new `@child('selector')` and `@children('selector}` decorators on properties to select references and child arrays respectively.

[2015-11-09 07:54] #162 closed

[2015-11-09 07:55] EisenbergEffect commented on #144
What's a good way to reproduce this so I can work on fixing the error output?

[2015-11-09 07:57] charlespockert commented on #191
Sounds cool

:thumbsup:

[2015-11-09 07:59] #107 closed

[2015-11-09 09:57] jods4 commented on #73
@EisenbergEffect I am not sure I understand fully.

As my example shows, I'm trying to have an options attribute. I only used `x` in the example, but of course I actually have a bunch of attributes.

Something more like this just an example, mind you:
`<input auto-complete='src.one-time: suggestions, selected.bind: value' />`

In this case `selected.bind` would not be two-way, even tough the field

[2015-11-09 11:03] devteamexpress commented on #197
Sorry for the delay , the issue seems to be more elaborate and i stripped down the project i was using so you have an example to look at

https://github.com/devteamexpress/test-aurelia

If you have a child router and you switch between routes the binding just stops working entirely and i am left with empty fields. I have two screens on my child router (General and Intergrations) start on general g

[2015-11-09 11:04] devteamexpress commented on #197
One thing i would like to add that if i change the binding from a value bind on an input field to a select field then the page fails entirely with cannot find disconnect of null.

[2015-11-09 13:59] EisenbergEffect commented on #73
Ok, I may have misunderstood. I'll re-open this and investigate further.

[2015-11-09 14:08] Ixonal commented on #162
Oh, cool. Didn't know if this had a high enough priority to make it into a pre-production version. I can't wait to try it out. Thanks for the hard work!

[2015-11-09 20:37] EisenbergEffect commented on #197
@devteamexpress That sample has too much going on and doesn't appear to be related to this issue.

Does anyone have a simple sample that demonstrates the repeater problem in isolation?

[2015-11-09 20:37] stoffeastrom opened #199 "can't test a `@bindable` callback function with `createModelForUnitTest`"
There isn't an example of how to test a simple `@bindable` function. It's not possible to stub since it's added with an `Object.defineProperty` with `writable = false`.

[2015-11-09 20:41] EisenbergEffect commented on #199
What about this?  https://github.com/aurelia/templating/blob/master/test/behavior-testing.js#L44

[2015-11-09 20:42] stoffeastrom commented on #199
Not the same thing. That only spies on the `valueChanged` which is a different thing. If you want to control what a @bindable function returns it needs to be possible to stub it somehow

[2015-11-09 20:48] EisenbergEffect commented on #199
You mean you want to change the property implementation itself? Change the value that the getter of the property returns?

[2015-11-09 20:50] stoffeastrom commented on #199
Silly example but maybe makes it more understandable
[code]
Now I want to control what the bound `getRandom();` function returns but that doesn't seem possible right now?

[2015-11-09 20:54] EisenbergEffect commented on #199
Ok. Gotcha. Have tried getting the property descriptor, and then re-defining it with your own getter that wraps the old one but returns your value?

[2015-11-09 20:55] stoffeastrom commented on #199
No, good idea.. will try that out!

[2015-11-09 21:09] stoffeastrom commented on #199
So, to be able to do that this pseudo code was needed

[code]

Maybe not the nicest but it works!

[2015-11-09 21:09] #199 closed

[2015-11-09 21:27] devteamexpress commented on #197
This may not be only about the repeat.for, but this is the issue that is holding back our company from releasing a live app. Anytime we use a child router and switch between routes the binding doesn't work.

I tried to dumb down the app were using to it's simplest form, please let me know what other information i can give you so we can tackle this issue.

[2015-11-09 21:33] EisenbergEffect commented on #197
@devteamexpress  If you have a routing issue, please report that on the router repo. That will notify the team members that work on routing.

[2015-11-09 21:36] devteamexpress commented on #197
@EisenbergEffect done

https://github.com/aurelia/router/issues/245

[2015-11-09 21:39] ShawnCholeva opened #200 "undefined object in 'this.moduleAnalyzer.analyze'"
Hey all, I am working on using the templatingEngine and createModelForUnitTest() since upgrading to framework v17.  I am getting this error when just trying to initialize my class using the templatingEngine.  There are a good bit of different examples out there that seem to use different Create methods and a behaviorInstance class.  Possibly I am not up to date on which functions to call.  Any ide

[2015-11-09 21:42] EisenbergEffect commented on #200
Should be fixed in the next release....happening within the next 24 hours.

[2015-11-10 20:47] #200 closed

[2015-11-10 20:49] EisenbergEffect commented on #197
I never had anyone provide a repro for this particular issue. Can someone try their code against the latest release and let me know if it's fixed. If not, can a repro be provided?

[2015-11-11 10:38] JeroenVinke opened #202 "create properties in controller class for typescript definitions"
[these properties](https://github.com/aurelia/templating/blob/master/src/controller.js#L14-L20) are missing from the [typescript definitions](https://github.com/aurelia/templating/blob/master/dist/aurelia-templating.d.ts#L1000-L1043)

I need this for my custom implementation of aurelia-dialog. It is giving me an error [here](https://github.com/aurelia/dialog/blob/master/src/dialog-service.js#L51)

[2015-11-11 13:01] jods4 opened #203 "Regression: @bindable raises TS1236"
Code using `@bindable property` now raises Typescript error 1236: _"The return type of a property decorator function must be either 'void' or 'any'."_

I am unsure why TS has this restriction (no time to look it up for now), the fact is that previous `.d.ts` had decorators typed as `bindable(...): any`. Now they are typed `bindable(...): Function`, which is probably more precise but trips up TS.

[2015-11-11 13:22] EisenbergEffect commented on #202
Can you describe what you are doing that requires you to use those
properties on the Controller class?
On Nov 11, 2015 5:38 AM, "Jeroen Vinke" <notifications@github.com> wrote:

[2015-11-11 13:52] JeroenVinke commented on #202
I have used bits and pieces of aurelia-dialog in my own dialog helper, and I need the `view` property in the `Controller` class so that I can add it to a viewslot. I am using a custom dialog solution because I wasn't able to get aurelia-dialog to play nicely with [material-bootstrap](https://fezvrasta.github.io/bootstrap-material-design/), and this custom solution also contains logic I use within

[2015-11-11 15:16] txels opened #204 "Cannot assign to bindable properties in unit tests."
I have a custom element declared like this, with some bindable property:

[code]

In my unit test, I initialize that property with the following:

[code]

This is my test-globals.js:

[code]

This is the error I get:

[code]

If the property is not `@bindable`, the test passes. But the custom element of course doesn't work as I intend...

---

Update: this error happens when this test is run as pa

[2015-11-11 15:18] marwijn commented on #203
I've tried to look into the problem and it seems that e.g. containerless should be written like:

[code]

[2015-11-11 15:36] txels commented on #204
(this is a follow-up of a discussion with @PWKad on gitter)

[2015-11-11 16:00] EisenbergEffect commented on #204
That is not how the templating engine is used anymore. That was a breaking change. See this set of tests for an example of proper usage: https://github.com/aurelia/templating/blob/master/test/behavior-testing.js

[2015-11-11 16:00] #204 closed

[2015-11-11 16:17] EisenbergEffect commented on #202
I can expose the view and viewModel properties. That makes sense to me. Hang on a bit and we'll get a patch release with the TS update shortly today.

[2015-11-11 16:30] txels commented on #204
Thanks! I just updated to latest pre-beta. I am now getting this error when using the new `TemplatingEngine` method:

[code]

[2015-11-11 16:32] EisenbergEffect commented on #204
Are you still initializing pal-browser?

[2015-11-11 16:32] EisenbergEffect commented on #202
Committed to master. Hang on a bit longer for the release. Going to fix a few other things too.

[2015-11-11 16:40] txels commented on #204
No. Should I?

[2015-11-11 16:43] txels commented on #204
Posted a more complete trace to gitter: https://gitter.im/Aurelia/Discuss?at=56436fb35f3db8f60ab60a63
Would you rather follow the conversation here or there?

[2015-11-11 16:44] EisenbergEffect commented on #204
Yes, that's where the implementation of that missing method comes from.

[code]

[2015-11-11 16:59] txels commented on #204
Cool. Thanks for the quick response!

[2015-11-11 17:01] txels commented on #204
Still, unfortunately, that doesn't solve my original issue. I still get:

[code]

...when assiging the bindable property in the test above.

[2015-11-11 17:03] EisenbergEffect commented on #204
can you post your full, updated code?

[2015-11-11 17:07] txels commented on #204
For that example, I updated `sc.spec.js` to:

[code]

And `test-globals` to:

[code]

Is the fact that I am reusing a container an issue?

[2015-11-11 17:10] EisenbergEffect commented on #204
I wouldn't re-use the container.

[2015-11-11 17:11] txels commented on #204
OK. I'll try with that and report back.

[2015-11-11 17:27] txels commented on #204
Yes, looks like re-creating the container doesn't get me into that issue. Many thanks again!

[2015-11-11 21:22] EisenbergEffect commented on #203
Released fix.

[2015-11-11 21:22] #203 closed

[2015-11-11 21:22] EisenbergEffect commented on #202
Released fix.

[2015-11-11 21:22] #202 closed

[2015-11-11 22:01] niieani opened #205 "Make .d.ts interface members optional"
It would be great to get code completion for Views/Templates when using TypeScript. One way to do it now is to make those classes implement some interfaces, like `ViewNode`.
Unfortunately the implementations are marked as obligatory, while they're really not (at least not for building on top of Aurelia).
Perhaps instead of this:
[code]
We could have this:
[code]
Then we could:
[code]

[2015-11-11 22:14] EisenbergEffect commented on #205
Your view model is not a ViewNode. Examples of ViewNodes are the View and ViewSlot classes of Aurelia, which require implementations of all those methods. I'm not sure what implementing an interface would buy you in this case. If you place the method on your class, you will have intellisense for it.

[2015-11-11 22:14] #205 closed

[2015-11-12 00:44] niieani commented on #205
Yes, I realize that a view model is not a ViewNode (but doesn't it also implement it, along with other possible methods?).
You say "If you place the method" -> this assumes that you have all those methods in hour head already, e.g. memorized from the documentation or source. I realize that proper docs are coming next week, but wouldn't it be even better to have intellisense/autocompletion with bui

[2015-11-12 07:30] JeroenVinke commented on #202
Thanks!

[2015-11-12 14:55] zebrooks opened #207 "ChildObserverBinder & ChildObserver"
http://plnkr.co/edit/tWileZUIMLuKlxctWDrX?p=preview
https://github.com/aurelia/templating/blob/master/src/child-observation.js#L199

`selector is undefined`
Earlier in the same method `this.selector` was used. Typo?

Happens when using the `@children` decorator and adding children in the view with a repeat.for (as in the plunker). Works fine if the children are static.

If I change it to `this.sel

[2015-11-12 15:26] tomalec opened #208 "Demo/example of templating engine"
I would like to use `aurelia-templating` as a standalone templating engine. That would cover templates as described at http://aurelia.io/docs.html#templating

Is it even possible? Could you provide an example or demo? Or at least guide me how to do that?

I would like to use
[code]
bind it to
[code]
and stamp to my DOM, with two-way data binding.

[2015-11-12 16:04] jedd-ahyoung opened #209 "Feature Request: @cacheStrategy decorator (or @view-cache decorator)"
I'm running into a problem (which is somewhat related to #140), documented in this StackOverflow question: http://stackoverflow.com/questions/33674752/disable-view-caching-for-a-custom-element

I believe that, in this instance, the view caching is causing problems (due to `if.bind` in a parent context). I think it would be nice to be able to opt-out of view caching on a per-element basis, dependin

[2015-11-12 16:36] EisenbergEffect commented on #209
There is no view caching unless you turn it on.

[2015-11-12 16:38] EisenbergEffect commented on #209
Can you describe your problem in more detail? Also, make sure you have the latest releases. We made some patch releases last night that fixed some issues with `if` and `repeat`.

[2015-11-12 17:59] jedd-ahyoung commented on #209
I thought view caching was on by default for the `if` binding - my mistake. I updated on Tuesday, I'll try updating again and see if that fixes the issue.

[2015-11-12 18:45] EisenbergEffect commented on #207
@zebrooks Can you provide a repro for me? I've got the first issue fixed but would like to investigate the second.

[2015-11-12 18:50] #207 closed

[2015-11-12 18:50] EisenbergEffect commented on #207
Never-mind...I found the problem ;) Release coming in a few minutes.

[2015-11-12 19:40] jedd-ahyoung commented on #209
I've updated and it hasn't fixed the issue. I'm attempting to create a Plunker to identify the issue, here: http://embed.plnkr.co/yqmPVJ/preview

It seems as though the base use case is working, but this isn't working in my application. Are there any known issues with having a `router-view` inside of an enclosing `if` binding, like so?

	<div id="application" class="au-animate" if.bind="isLoggedIn

[2015-11-12 19:51] EisenbergEffect commented on #209
I don't imagine that's going to work....the router-view really needs to be statically present in the DOM. Instead, consider using show.bind.

[2015-11-12 19:51] #209 closed

[2015-11-12 20:30] jedd-ahyoung commented on #209
Final question. I'd done it that way because I didn't want unused information in the DOM if the user isn't logged in or if they log out. Do I need to create an empty viewmodel or is there a way to clear the router-view? In past attempts I've always had to use `if.bind` or `show.bind`.

[2015-11-12 20:35] EisenbergEffect commented on #209
What displays if they aren't logged in? Couldn't you use a router pipeline step to redirect to a login page any time someone wasn't logged in? Then you don't have to worry about hiding UI.

[2015-11-12 20:59] jedd-ahyoung commented on #209
A login form displays if they aren't logged in, but that's also driven by
the show.bind. The reason I wanted to do it this way was to implement (in
the longer run) a login overlay in case of a timeout or something (so as
not to disrupt a current route or cause any untoward redirects). I may just
be able to use an empty view for the initial login.

Sorry to take your time on this - I definitely app

[2015-11-13 01:58] #108 closed

[2015-11-13 16:48] jedd-ahyoung commented on #209
@EisenbergEffect I've created a working example of the bug here: http://jedd-ahyoung.github.io/if-bind-test/. Should I create a new issue for this, or is this something that you guys would flag as a wontfix?

[2015-11-13 16:58] Ixonal commented on #162
Tried this and it doesn't appear to be working. It may just be user error, though. Back to the grid example, I have columns set up like this (pardon the TypeScript)...

[code]

and I use it in one of my views like this...

[code]

But columns is still just an empty list at the bind hook. From what I can tell, the ChildObserver is instantiated, but create is never called (put in a break point and t

[2015-11-13 19:54] EisenbergEffect commented on #162
You aren't using that correctly no. Here's what your code would look like:

[code]

[2015-11-13 19:58] EisenbergEffect commented on #209
Can you describe what I should be seeing in the demo above vs. what you are expecting to see?

[2015-11-13 20:12] Ixonal commented on #162
Hmmmm.... Still coming back empty... For now, I just took out the "columns" and "pagination" elements and put the columns directly into the grid element.

[code]

Column is pretty well the same as the type you put up there...

[code]

[2015-11-13 21:10] nomack84 commented on #162
@Ixonal your grid component need to include a 'content' tag, otherwise child/children won't work.

[2015-11-13 21:19] Ixonal commented on #162
@nomack84 Just tested that with same results. Still just an empty array.

If that requirement is intentional, though, y'all should make sure that's in the new documentation, since it's not really apparent.

[2015-11-13 21:30] EisenbergEffect commented on #162
Yep, that was my mistake. Sorry! The columns component needs a view with a content tag so that the individual column tags will be correctly projected.

[2015-11-13 21:31] EisenbergEffect commented on #162
(But IMO, I think it's actually better to just put the column tags directly under the grid element and have a columns property that is a simple array.)

[2015-11-13 21:32] nomack84 commented on #162
@EisenbergEffect I agree, having the `columns` tag is unnecessary.

[2015-11-13 21:36] Ixonal commented on #162
@EisenbergEffect @nomack84  That's what I'm currently doing. Still hasn't changed anything, though; the list is still empty, even after adding the content tag to the grid's view. I can see that the elements have been injected into the element in the markup, but they're not in the array.

[2015-11-13 21:38] nomack84 commented on #162
@Ixonal this is how it should be:

[code]

[code]

[code]

[code]

[code]

[code]

But as Rob suggested, the `columns` custom element is prolly useless.

[2015-11-13 21:39] nomack84 commented on #162
And you use it like this:

[code]

[2015-11-13 21:47] Ixonal commented on #162
@nomack84 That's pretty much what I'm doing (there's some more logic and/or properties, but effectively the same). I'm horribly confused as to what's wrong then. I look at what's in columns at both "bind" and "attached" and it's still an empty list.

[2015-11-13 21:52] nomack84 commented on #162
Well, that works for me :joy: You'll need to review your code, perhaps you haven't updated your libs?

[2015-11-13 21:54] Ixonal commented on #162
Last update I did was to get the patches to the bindable decorator's d.ts files. Lemme go do an update and see if that does anything.

[2015-11-13 21:54] EisenbergEffect commented on #162
Actually, that is possible. There was a bug in child/children that was fixed in a patch the other day.

[2015-11-13 21:59] Ixonal commented on #162
Well, it updated templating-resources, binding, and templating packages, but still the same issue. Guess I'm going to have to start removing things until it starts working.

[2015-11-13 22:34] jedd-ahyoung commented on #209
Sorry - just saw this. I made updates to the issue in
http://stackoverflow.com/questions/33674752/custom-element-issue-ref-element-is-null-in-viewmodel
- if you open the console and toggle the router-view, you'll see the
binding error. (Unfortunately, due to lack of style, nothing really looks
different as this is a stripped-down version. The autocomplete
functionality wouldn't work, though.)

On

[2015-11-13 23:22] jdanyow opened #210 "router-view content doesn't rebind"
This was reported by @jedd-ahyoung on [stackoverflow](http://stackoverflow.com/questions/33674752/custom-element-issue-ref-element-is-null-in-viewmodel/).  I've distilled the repro down as much as I could but haven't been able to figure it out.

When you toggle a div containing a router-view, the router-view's content (the welcome module) becomes unbound and never rebinds.

## Minimal repro:

**ap

[2015-11-14 01:09] EisenbergEffect commented on #210
I think it's just a use case that isn't accounted for. For example, the controller/view of the current route isn't stored anywhere. So, when an unbind or bind happens it can't respond appropriately.

But I think there may be a deeper issue. The ViewSlot that the router-view uses is added to the children collection of the owning view...which is why the unbind happens. Maybe the view slot shouldn't

[2015-11-14 02:37] jdanyow commented on #210
glad you mentioned that^^^.  It's making sense to me now.

also makes sense to me^^^.  Would this change be a big lift?

[2015-11-14 04:20] EisenbergEffect commented on #210
Actually....I'm not sure if we want to make that change because it means that the slot's attached and detached would have to be managed...basically router-view, compose and any other similar element or template controller would need to manage it.

Instead, I think we can solve the problem by just keeping the internal controller around and if present on a bind, manually re-binding it.

[2015-11-14 22:06] mikeobrien opened #211 "Scrolling to the bottom of the page when changing views"
I'm having a problem where after navigating to a new view the page is always scrolled to the bottom. It appears that when the new view is rendered, its rendered after the last view. In the screenshot below you can see the top of new view (Databases) and the bottom of the last view. When this new view is rendered you are scrolled down to it (As shown in the screen shot). The nodes in the old view a

[2015-11-14 22:41] mikeobrien commented on #211
Ok, just figured out what was going on right after I posted this. I am setting the focus of a textbox when the view is attached and that is what is causing it to scroll down:

[code]

I tried to set the focus at `bind` and `activate` but no dice. So a few questions:

1. Is there any way to set the focus of a control the way it currently renders, some time after the old view is completely gone? I g

[2015-11-14 22:49] mikeobrien commented on #211
Found [this](https://github.com/aurelia/router/issues/170#issuecomment-134948900). Counteracts the scrolling but prevents scroll restoration. Anyways, answers question one for now, but is definitely a hack.

[2015-11-15 21:22] tomalec commented on #208
I have found http://plnkr.co/edit/Y1HomjRWyKIdq3HeBIez?p=preview on [gitter](https://gitter.im/Aurelia/Discuss), what is more-or-less what I ask for :)

[2015-11-15 21:26] #208 closed

[2015-11-16 09:54] spi-ap opened #212 "aurelia-templating.d.ts exports need update"
Running the latest update, I get the following TypeScript errors.
[code]

[2015-11-16 13:25] jdanyow commented on #212
`jspm update` will fix this (aurelia-binding v0.11.4)

[2015-11-16 13:25] #212 closed

[2015-11-16 13:36] spi-ap commented on #212
I already had aurelia-binding 0.11.4.
[code]

[2015-11-16 14:54] bemon opened #213 "content tag not working with form elements in custom element"
When trying to use
[code]
Where custom-select is:

[code]
Custom select is not filled with option tag.
Example code: http://plnkr.co/edit/MseLZf9bSB2GwNQMlm3K?p=preview

Related Aurelia docs on this topic: http://blog.durandal.io/2015/04/24/aurelia-custom-elements-and-content-selectors/

[2015-11-16 14:56] bemon commented on #213
@RWOverdijk

[2015-11-16 14:57] EisenbergEffect commented on #213
I believe this is invalid HTML. @jdanyow Can yo confirm?

[2015-11-16 15:43] Ixonal commented on #162
So, I created two brand new custom elements to test this functionality. They're as follows:

test-screen.html:
[code]
test-screen.ts:
[code]
inner-test-item.html:
[code]
inner-test-item.ts:
[code]

And I included them in the index.html file as such:
[code]

The elements all seem to render properly, however at both breakpoints in test-screen, the testItems list is still appearing empty. This is aft

[2015-11-16 16:07] jdanyow commented on #213
yep:
https://github.com/aurelia/framework/issues/192#issuecomment-150809310

[2015-11-16 16:07] #213 closed

[2015-11-16 21:49] devmondo opened #214 "after upgrading to beta viewCompiler compiled fragment's context is null"
this used to work before but now the `ctx` is always null thus no binding is working

**compiler class**

[code]
**usage in viewModel**
[code]
so the viewmodel above have a property called test, but it does not show in html in browser

thx in advanced.

[2015-11-16 22:02] EisenbergEffect commented on #214
The API changes. In order for us to make a bunch of improvements, we fully separated the creation of the view from the binding of the view.

As a result, the `create` method does not take a view model. You should first call `create` to get the view, then you would call `bind` on the view, passing your view model.

That said, you aren't quite using the view in a way that is going to guarantee 100%

[2015-11-16 22:02] #214 closed

[2015-11-17 00:50] kevmeister68 commented on #106
It sounds like @processContent was designed for cases like this, so you might want to take a look at that. You can manipulate the content before the aurelia template compiler deals with it?

[2015-11-17 00:51] ZapMyR commented on #211
If you want to do something after the old view is removed <code>detached</code> (counterpart to <code>attached</code>) could help you.

I think if scroll restoration is supported by the browser api this would make a good feature to be shielded by the aurelia framework. This would give an uniform way of handling the scrolling without having to think about the actual browser implementation.

[2015-11-17 01:02] mikeobrien commented on #211
I actually want to do something when the new view is attached, but the old view is still there when `attached` is called so it interferes.

[2015-11-17 01:07] kevmeister68 opened #215 "Re-use an underlying custom-element template but replace some template parts."
Let's say I build a custom element called menu-button that is basically intended to be a component with button-like behaviour, but the button like click opens a menu.

The visual content displayed for the button is a typical candidate for a template part:

    <template>
       <button>
          <template replaceable part="button-content-part">
             Default button text.
          </templa

[2015-11-17 01:11] EisenbergEffect commented on #215
I'm not quite following. When you define a custom element that has template parts, you provide the "default" part implementation. It's just that it can be overridden later.

[2015-11-17 01:24] ZapMyR commented on #211
I think I found what you're looking for. The router-view offers swap strategies to determine how to handle the swap. The reason the old view is still present is that the default strategy aims to animate it out.
But there's a 'with'-strategy that might behave as you like.
Have a look [here](https://github.com/aurelia/templating-router/blob/master/src/router-view.js) to see the full mechanism.

[2015-11-17 01:46] mikeobrien commented on #211
Bingo! Thx!

[code]

[2015-11-17 01:46] #211 closed

[2015-11-17 02:58] kevmeister68 commented on #215
Hmmm. Doesn't help when my markup disappears :-(    I've fixed the above now.

Sometimes it's better to illustrate the problem itself. If I have a custom element and I need to use it in 100 different places, and I need to override the default template part within that custom element, how do I do so in an elegant and maintainanble way? The answer is clearly to not repeat 100 copies of that same tem

[2015-11-17 13:20] jdanyow commented on #197
https://github.com/aurelia/templating-resources/issues/144 was a duplicate of this issue.  It's now fixed

[2015-11-17 13:20] #197 closed

[2015-11-17 13:26] #188 closed

[2015-11-17 16:06] Ixonal commented on #162
I did some further debugging and found (at least, so far as I can tell) the problem. In the createChildObserverDecorator function's return function, it has this code...
[code]
The descriptor was undefined, so it was picking the prototype instead of the constructor. So, the following getOrCreateOwn call was always returning a new metadata object, which was never used, since the class already had it

[2015-11-17 16:37] EisenbergEffect commented on #162
Can you confirm whether the test would work against `key` being present instead of descriptor?

[2015-11-17 16:42] Ixonal commented on #162
key is definitely there as-is.

My best guess right now is that this is a peculiarity of typescript handling decorators. I can try updating it and see if the issue persists.

[2015-11-17 16:45] EisenbergEffect commented on #162
If you want to submit a PR that makes the check on `key` instead, I would be happy to accept that. Just don't forget to sign the CLA :) https://docs.google.com/forms/d/1Npd68d32UDUKUYuCDDrW0VN5Lv8p-a6Ziaa2JFKp6Cg/viewform?c=0&w=1

[2015-11-17 16:47] Ixonal commented on #162
Looks like our network is blocking that doc, so I'll have to wait till I'm home to mess with it.

Also, updating Typescript didn't change anything, descriptor is still undefined.

[2015-11-17 17:14] EisenbergEffect commented on #162
I think it's a difference in the way Babel vs. TypeScript handle decorators. There's also some spec changes coming that I think might affect this. But, if you can sign the CLA later and submit a pr to switch that to `key` that should address the issue for now. Thanks!

[2015-11-17 19:07] ZapMyR commented on #104
Actually this is not a problem of Aurelia. When you use <code>setInterval</code> the <code>this</code> you are using to point to <code>reFocus</code> is misleading. It's used to point at what function to call, but it doesn't ensure the <code>this</code>-scope for when the function actually gets called after the interval has elapsed.

To get your example working you can just wrap <code>reFocus</cod

[2015-11-17 19:17] #104 closed

[2015-11-17 19:20] ZapMyR commented on #215
I can't imagine the actual use case for this to be honest.

What you try to do seems like a dynamic composition of your custom element.

But I think rather than making one custom element to bind them all you could have one custom-element per actual use case and then let the surrounding elements viewmodel decide which custom element to pick by using the <code>compose</code>-tag and dynamically bind

[2015-11-17 21:16] kevmeister68 commented on #215
There is no dynamic composition going on here. You are misunderstanding what I am asking for, and hence you are not seeing the use-case as a consequence.

Let me offer a different description, albeit a little strange and "out there". Imagine your basic custom element represents the "base model" of an electric guitar, but some parts can be replaced. Now, there are various aspects of a guitar such a

[2015-11-17 22:24] ZapMyR commented on #215
Ok now I got a better understanding of what you want.

Let's start at the lowest level where each component (e.g. the Humbucker) needs an encapsulation of its view and viewmodel. And it may have special properties or behavior that other pickups lag. What you could do is to provide a standard implementation of what a pickup offers and use a mixin decorator to apply this standard implementation to y

[2015-11-17 23:51] kevmeister68 commented on #215
I'm not familiar with the concept of a mixin decorator - what is that?

[2015-11-18 11:11] SorenMuller opened #217 "Support for IE9/10 not working.."
Hi,

I'm not sure if this is the right place, but here goes..

I'm running Aurelia beta 1 and have added
github:webreflection/es6-collections@master and github:polymer/mutationobservers.
also added script references in index.html..

But when I run i IE9/10, I get several errors (IE11 works fine)..

    Out of stack space
	Evaluating http://localhost/Webfragt2.Webclient/jspm_packages/npm/core-js@1.

[2015-11-18 15:42] martingust commented on #217
@SorenMuller Load core-js instead of es6-collections

[2015-11-18 16:34] charlespockert opened #218 "@children decorator doesn't select "transcluded" elements"
Example:

**ViewModel**
[code]

**Template**
[code]

**Usage**
[code]

[2015-11-18 16:46] charlespockert commented on #218
Actually, just running through it in debug, it looks more like no mutation records are detected since the elements are already in the DOM when the mutation observer is added.

Does this mean it just doesn't work at all unless the DOM mutates?

[2015-11-18 16:47] EisenbergEffect commented on #218
No, there's an initial check that is done when it's bound which isn't dependent on mutation observers.

[2015-11-18 16:52] charlespockert commented on #218
Ah yes I see that now, so because it only skims siblings, it never sees inside content selectors?

[2015-11-18 18:06] charlespockert commented on #218
@EisenbergEffect After some poking around I can't see anything that would traverse any child elements at all, so as the update blog post says, this is limited to direct children only.

I've checked again and the above sample actually works fine - it only doesn't work when you have any sort of parent element wrapping the items you wish to select (even if they are part of the current view and you ar

[2015-11-18 18:21] ZapMyR commented on #215
Well in theory you can use a class decorator to just merge other imported classes into your decorated class. So as a result your decorated class should have all named attributes and methods from the mixed in classes.

I just tried to test it out, but got an exception:
`Unhandled promise rejection Error: mixin is not a function`

My test was the following:

smartTest.js
[code]
dumbTest.js
[code]

D

[2015-11-18 18:23] EisenbergEffect commented on #218
I think I've got a solution in mind.

[2015-11-18 19:46] devmondo commented on #214
thx rob :) it works now

[2015-11-19 01:53] bemon commented on #20
I'm having this issue with version 0.17.5. When using trigger inside repeat & switching to another route.

[2015-11-19 08:05] SorenMuller commented on #217
@martingust I have the core-ls@1.2.6 in my solution
But which .js file should I add in index.html ??

[2015-11-19 08:07] zloirock commented on #217
@SorenMuller [you should remove `es6-collections` from your solution](https://github.com/WebReflection/es6-collections/issues/40#issuecomment-157691113).

[2015-11-19 08:44] zewa666 commented on #217
@SorenMuller you don't need to import any .js file manually, System.js will do so. Please follow the configuration for old browsers mentioned in the new docs http://aurelia.io/docs.html#/aurelia/framework/latest/doc/article/cheat-sheet

[code]

[2015-11-19 09:19] SorenMuller commented on #217
Awesome :-)... solved it :-) Thx m8

[2015-11-19 09:19] #217 closed

[2015-11-19 14:25] txels commented on #204
This issue seems to have resurfaced after I updated to `beta1`.

[code]

Is this because of changes introduced in beta?

[2015-11-19 14:32] txels commented on #204
Nevermind, my mistake. I had two versions of aurelia-pal-browser in JSPM, including the old one from `github:aurelia/pal-browser@0.3.0`.

With the version `npm:aurelia-pal-browser@1.0.0-beta.1` all works well.

[2015-11-20 08:45] stsje commented on #156
Should this be fixed in 1.0.0-beta.1 version? We're still experiencing the error.

The error occurs when the click handler is navigating to another route.
Switching to `delegate` instead of `trigger` fixes the error.

html:
[code]
js:
[code]

[2015-11-20 21:16] atsu85 commented on #173
Hi @EisenbergEffect ,
what is the status of this feature request?

...

As i understand new shadow dom spec is out by now. What are Your thoughts on that?

It is very limiting to be unable to pass custom element content through second custom element to third custom element.

I've had several scenarios where i've been crying for this feature to avoid code duplication - i think it is one of the most

[2015-11-22 14:16] StrahilKazlachev opened #219 "Missing makeRelativeTo on ViewStrategy"
Shouldn't the `ViewStrategy` interface also have `makeRelativeTo?: (file: string) => void`?

[2015-11-22 16:10] StrahilKazlachev opened #220 "ElementConfigResource ReferenceError"
I'm trying to figure out what `@elementConfig` can do for me, but I get the following error `Uncaught ReferenceError: Target is not defined`. [This](https://github.com/aurelia/templating/blob/1.0.0-beta.1/src/element-config.js#L33) seems to be the problem, but I have no idea what `Target` should be.

[2015-11-22 18:13] adriatic opened #221 "Improve debug output for templating and information on importing css files"
I am writing this with lots of details expecting that you might use parts of my text to improve the existing documentation :-)
* * *
The process of defining references to "third party" css files has too many degrees of freedom, making it feel as a **trap** - in my own experience this is the most confusing areas of Aurelia and it needs help both in [cheat-sheet](http://aurelia.io/docs.html#/aurelia

[2015-11-22 23:01] adriatic commented on #221
Few hour later I discovered what gave me grief:
- The presence of the `!` character in
[code]
results with a very confusing error message:
[code]
Removal of the `!` improves" this same message to
[code]

**My actual problem**: because of too long fiddling with the "pathname" to the folder that contains the `.css` file, I failed to see how that folder does not contain the `.css` files any more - th

[2015-11-23 00:21] danielabar commented on #57
I'm running into an issue with the generated view comments where svg is not rendering because of them. (let me know if I should open a separate issue).

I have a custom graph element that builds the svg closing and opening tags (and the viewModel handles the graph model and overall graph operations):

[code]

The problem is the generated view comments such as:

[code]

are preventing the svg circl

[2015-11-23 03:57] jdanyow commented on #57
@danielabar would you mind setting up a reproduction of this in the [aurelia plunker](http://bit.ly/aurelia-plunker)?

[2015-11-23 19:26] danielabar commented on #57
@jdanyow Sure will try to reproduce. Haven't used aurelia plunker before, should it be displaying the 'hello world' message by default? It looks blank.

[2015-11-23 22:01] jdanyow commented on #57
It should display "loading..." and then "hello world".  Try refreshing, sometimes plunker can be slow.

[2015-11-24 14:35] danielabar commented on #57
Ok now see the message, sorry if its a silly question, but am I supposed to edit that plunker directly or fork to my account?

[2015-11-24 15:05] danielabar commented on #57
[Here's a demo](http://plnkr.co/edit/LyzHBQ?p=info) of the problem.

[2015-11-24 15:36] EisenbergEffect commented on #57
I don't see how the comment nodes would break rendering. If that did, it would appear to be a browser bug. The presence/absence of comments shouldn't be causing this. If it truly is that, I would need to see an SVG spec reference that states this is illegal otherwise we would want to submit this as a bug to the browser.

Looking at your code though, it looks like you may not be creating your custo

[2015-11-24 17:10] danielabar commented on #57
That was the problem, didn't realize need another nested `<svg>` tag in the custom node element. Adding that, now the circle renders. And it solves another issue I was having where the `cx` and `cy` attributes weren't binding to the node data attributes. Now that works as well (made the example a little bit more in the direction I want to go, processing a list of nodes).

Thank you so much!

[2015-11-24 17:14] EisenbergEffect commented on #57
You are welcome. We will try to make this more clear in the upcoming, more extensive documentation on templating.

[2015-11-25 10:35] valichek opened #222 "When using @useView() - 404 not found error for page view"
[code]

`http://localhost:3030/dist/pages/demo/demolist/demolist-add.html`
`http://localhost:3030/dist/pages/demo/demolist/demolist-add.js`

[code]
After updating to beta-1 getting following error:
[code]

[2015-11-25 10:52] valichek commented on #222
The same problem with other templates,
`basic.js`
`basic.html`
``
[code]
If I remove `@useView('./basic.html')`, template is loaded

[2015-11-25 15:40] adriatic opened #223 "Proposal for the improvement of <require> element"
Example: Aurelia-KendoUI plugin uses this form:
[code]

If I could change the value of the **`from`** attribute at runtime, that would allow me to change the application's "look and feel" at a click of a say radio-button. Of course, it is developer's responsibility to use this feature in a consistent fashion.

[2015-11-25 15:56] EisenbergEffect commented on #223
We aren't going to make this dynamic because `require` in html is designed to work like `import` in JavaScript, in that it is statically analyzable.

For your scenario, a better solution would be to create a custom element, perhaps called `kendo-theme` and give it a theme property. Then it can simply use the Aurelia loader to download the specified theme whenever the property changes and inject it

[2015-11-25 15:56] #223 closed

[2015-11-25 16:07] adriatic commented on #223
Need just a bit more guidance as my use case is:

File **app.html**
[code]

As the actions take place withing the `<template>` element I do not see how to do the part
[code]
to achieve the equivalent of replacing the value of the `from` attribute on the third `<require>` element above.

[2015-11-25 16:13] EisenbergEffect commented on #223
First, you wouldn't include the third css require at all. If you include that, that tells Aurelia to add it to the head  automatically, which is not what you want.

To implement the body of the method above, you can use our DOM helper.

[code]

That will create a style element with the text you provide, add it to the head of the document and then return the created style element back to you.

[2015-11-25 17:19] adriatic commented on #223
Perfect - thank you Rob!

[2015-11-25 22:49] timfish opened #224 "If I use @bindable properties called width or height they default to zero rather undefined"
I've got a simple custom element which I hope to eventually use inline SVG but I've fallen well before that hurdle:

[code]

[code]
If I don't set width or height they default to zero and the attributes are added. However, if I use another name for my @bindable properties they default to undefined and the attributes are not added. So the following doesn't display as the height gets set to zero:

[

[2015-11-26 10:06] tomalec commented on #32
For me
[code]
Still does not work.
Should I register some kind of Binding Behavior or attribute? (I'm trying to use `aurelia-templating` standalone

[2015-11-26 12:44] jdanyow commented on #224
works for me:  http://plnkr.co/edit/nH1jUt?p=preview

Maybe the issue you're seeing was due to the missing `</inline-svg>` tag?  According to the spec, custom elements cannot be self-closing.

[2015-11-26 12:44] #224 closed

[2015-11-26 13:01] timfish commented on #224
Thanks Jeremy! I thought it was more likely that I'd got something wrong.

[2015-11-26 21:07] ZapMyR commented on #215
I found out several new things and now have working examples:

smartTest.js
[code]
dumbTest.js
[code]
anythingTest.js
[code]
output in console:
[code]

Note:
* Mixed in methods have to be static
* I needed to import <code>aurelia-metadata</code> instead of <code>aurelia-framework</code>
* I needed to install <code>aurelia-metadata</code> again to get it working (seems as if an npm mapping was miss

[2015-11-30 14:11] ohjames commented on #35
@RWOverdijk I found many examples online, I could get the template inserted but the model binding doesn't seem to work, all my `${variables}` evaluate to the empty string. If I work it out I'll show you my code. On the other hand, if you've managed to get it to work, I'd love to see your code.

[2015-12-01 10:13] martinolsson commented on #32
I have the same issue, but only when using Internet Explorer 11 - <template if.bind=... works in Chrome.

[2015-12-01 15:24] Andreas-Hjortland opened #225 "HierarchyRequestError in IE10/9 when using nested repeat.for"
Hi,

When I updated from the mid-october release (aurelia-templating@0.16.0) to the beta, I encountered a problem with nested repeat statements in IE9 and IE10.

I whenever I try to open a view with a nested repeat.for I don't get any error messages, but the view won't render. When I did some digging I managed to extract the exception which was `HierarchyRequestError` and originated from the `inse

[2015-12-03 19:59] #73 closed

[2015-12-04 23:08] lares83 opened #226 "Animations issue"
Hi,
I noticed animation issue after last update (1.0.0-beta.1.0.2).
In skeleton-navigation-app when you switch e.g. from Welcome page to Github users, users are being animated and after that "Welcome page" is disappearing.
What I've noticed is, that in the new version copy of tag ```<section class="au-animate">``` is being made, and and classes ```au-enter au-enter-active``` are being added to thi

[2015-12-05 03:29] EisenbergEffect commented on #226
Ah yes. This was a change in the beta related to how the router view swaped out views. It was done to allow more robust animation scenarios. To make things work correctly with animation in the skeleton, add `swap-order="after"` to all `router-view` elements. I'm adding some notes to the skeleton for future developers.

[2015-12-05 03:29] #226 closed

[2015-12-05 16:33] EisenbergEffect commented on #220
That is used to configure web components so that Aurelia knows how to two-way bind to them. It allows you to link properties to update events.

[2015-12-05 16:33] #220 closed

[2015-12-05 21:32] gregoryagu commented on #93
To expand a little bit on Rob's answer, if you add a `<bindablePropertyName>Changed(newValue,oldValue)` to a view-model, Aurelia will call the method every time the value changes.

So if your bindable property name is "selectedDate", then add a `selectedDateChanged(newValue, oldValue)` to your viewmodel and it will automatically get called by the framework.

[2015-12-06 15:38] gabor-farkas commented on #144
Sorry I didn't have much time lately.
I had the problem above with loader 0.8.3, but I can still reproduce it with 0.8.7. If I just pick the project I created back then with the yeoman generator, change app.html to something that doesn't have a root template element, and then run 'gulp watch', it has this error.
I now cannot reproduce the same thing with the typescript starter kit for 1.0.0-beta,

[2015-12-06 15:38] #144 closed

[2015-12-07 11:11] valichek commented on #156
Hey guys, I have created a plunker for that error, in `1.0.0-beta.1 `
it is related to jquery, is gone if `import 'bootstrap'` removed
http://plnkr.co/edit/yNR9h9
[code]

[2015-12-07 15:11] timfish commented on #20
I'm seeing this exact exception in 1.0.0-beta.1 when using `click.trigger` to publish to `EventAggregator` which then removes at item from a `repeat` bound list on the subscribed end. When I use `delegate` I don't see the exception...

[2015-12-07 19:26] philcarbone opened #228 "Edge Browser (Windows 10)"
I'm not sure if the issue is actually happening with the templating or not, but I don't want to hold back from posting in case it isn't known yet. When I go to http://aurelia.io/docs.html in Edge (as an example), the page is blank. When I open the browser dev tools the page shows up fine.

I am planning at looking at this further tonight or tomorrow, but wanted to post in case someone wanted to ge

[2015-12-07 19:29] philcarbone commented on #228
Also, It does show the loader but goes blank after that. It seems to be after/during the **activate** event for the view.

[2015-12-09 16:03] JeroenVinke opened #229 "css attribute not compiled by view-compiler or enhance"
The `css` attribute on HTML elements are not compiled into a `style` attribute when compilation is done by the `view-compiler` or by `enhance`

[enhance plunkr](http://plnkr.co/edit/lrAvKL1N5N0butHKqW0R?p=info), [view-compiler plunkr](http://plnkr.co/edit/Xwk6lO82OP5o33X7wKfH?p=info)

[2015-12-09 16:18] JeroenVinke commented on #229
ping @adriatic

[2015-12-09 16:28] JeroenVinke opened #230 "$parent inside enhanced view"
When we use the following [setup](http://plnkr.co/edit/9eaNTtSAzUsKR2Xm5BfY?p=preview), and click on the button, we get `test is not a function`.

If you rename `$parent` to `$parent1` on line 17 and 21, the button works.

Inside Kendo's Grid we have table rows. We run `enhance` on each `<tr>` and use the dataItem (which we get from Kendo) to run `bind()` on the `View` we get back from enhance. We

[2015-12-09 16:44] EisenbergEffect commented on #230
overrideContexti is how you provide the $parent

[2015-12-09 17:09] JeroenVinke commented on #230
Thanks, works great!

[2015-12-09 17:09] #230 closed

[2015-12-09 18:30] joelcoxokc opened #231 "injecting ViewSlot removes Container"
This is a very interesting bug, so read closely to see what is happening.

given two customElements

`<outer-element>` and `<inner-element>`

Here is the class Implementations

[code]

Notice how the `InnerElement` has ViewSlot Injected.

When the view Slot is injected... If the inner-element is nested as a direct child inside the outer-element, it will loose it's container

For Example

[code]

T

[2015-12-09 22:33] #231 closed

[2015-12-11 16:10] nexbit commented on #79
Hi all
sorry for bothering you, but can you point out a comprehensive article/example on how to use this so much talked about micro task queue in Aurelia? I can't find anything complete on the web.
I'm trying to solve some problems with third-party jquery components (please please Aurelia Interface soooon ;)), and an "after render" hook would come in handy.
Thanks!

[2015-12-11 17:12] EisenbergEffect commented on #79
[code]

Without more details, I don't know if this will solve your specific problem, but that is how you use the Micro Task Queue. You can see the api here: http://aurelia.io/docs.html#/aurelia/task-queue/1.0.0-beta.1.0.1/doc/api/class/TaskQueue

[2015-12-11 17:50] nexbit commented on #79
@EisenbergEffect , that was sufficient..
I supposed there were much more code and trickery involved, but now I've just read the task-queue code and I know exactly when/where using it. ;) Indeed, I was already using mutation observers in other modules, but didn't realize they could be used to schedule tasks after DOM updates (but it makes a lot of sense now!).

A side question: is it possible/advis

[2015-12-11 18:00] EisenbergEffect commented on #79
I don't see that there's an issue for you to standardize on that sort of hook in your app, if you need it. However, I'm reluctant to extend Aurelia's lifecycle beyond what it is for now.

[2015-12-13 05:20] jdanyow commented on #190
@lares83 - thanks for the additional info.  We're tracking the firefox issue with `if` and `repeat` on the same element in https://github.com/aurelia/templating-resources/issues/111.

[2015-12-13 05:20] #190 closed

[2015-12-15 11:48] RalfJan opened #232 "Setting style background-color fails in IE11"
Trying to set the background-color on an input tag using a viewmodel attribute seem not to work on IE11, but works fine on Chrome.

in template html:
<p>This works in both Chrome and IE11</p>
<input style="background-color: #ff0000"/><br/>
<p>This only works on Chrome</p>
<input style="background-color:${redcolor}"/>

in Typescript viewmodel:
constructor() {
           this.redcolor = "#ff0000";

[2015-12-15 11:56] RalfJan commented on #232
First post failed since I inlcuded the html code. Sorry about that.
The html template looked something like this:

			[input style="background-color:${redcolor}"/]

The above only work in Chrome and not in IE11. The background-color style is left out in the generated html.

[2015-12-15 11:59] RalfJan commented on #232
We installed the Beta last week.

[2015-12-15 12:18] jdanyow commented on #232
If you check the console, there should be a warning- IE doesn't like the `{` `}` brackets in the style attribute.

This will work:

[code]

[2015-12-15 12:18] #232 closed

[2015-12-16 00:41] Vaccano opened #233 "Bootstrap tool tips not supported"
Steps to Reproduce:

 * Fire up the skeleton navigation app (As per here:https://github.com/aurelia/skeleton-navigation)
 * Open welcom.html
      * Add the following code to the end of the first name input:
                     `data-toggle="tooltip" data-placement="top" data-title="bootstrap tooltip" title="html tooltip"`

 * Run the app
     * Hover the mouse over the first name input.  The too

[2015-12-16 01:11] jdanyow commented on #233
Bootstrap's tooltip component requires javascript. Use a custom attribute to execute the tooltip javascript

[code]

Then on the element, add the `bootstrap-tooltip` attribute:

[code]

[2015-12-16 01:11] #233 closed

[2015-12-16 01:21] Vaccano commented on #233
@jdanyow Thank you so very much for this code example!  I was stuck and about to have to make a hard design change on my app.  This opens it up again!  Thank you a ton!

[2015-12-16 01:30] nomack84 commented on #233
@Vaccano with Bootstrap4 which is developed on ES6, this will be even better.

[2015-12-16 16:28] RalfJan commented on #232
Tankyou!

Regards,

Ralf

From: Jeremy Danyow [mailto:notifications@github.com]
Sent: den 15 december 2015 13:19
To: aurelia/templating <templating@noreply.github.com>
Cc: RalfJan <ralf.jansson@dataductus.se>
Subject: Re: [templating] Setting style background-color fails in IE11 (#232)

If you check the console, there should be a warning- IE doesn't like the { } brackets in the style attribute.

T

[2015-12-16 23:10] timfish commented on #156
Should this be reopened or a new issue created?
I'm seeing this error too in 1.0.0-beta.1

[2015-12-16 23:32] jdanyow commented on #156
This isn't really an Aurelia bug, what's happening is both Bootstrap and your code are handling events and doing things that result in DOM changes.  A race condition essentially. If you use `trigger` you'll beat Bootstrap to the punch (it uses event delegation) and if you use `delegate` Bootstrap will win the race because it's event delegation subscription was setup prior to Aurelia's (Aurelia's i

[2015-12-17 11:44] timfish commented on #156
Many thanks for looking into this

[2015-12-19 11:06] jeremy-holt opened #234 "Can not install aurelia-templating on Azure"
(I also just posted this on SO)

Until the latest version of aurelia beta, I was happily deploying to Azure running `jspm update` as part of the deployment command.
However, since the latest beta, `update` fails with

[code]

In an attempt to resolve this myself I have used the following at the Kudu command prompt:

`jspm clean`

`jspm install aurelia-templating`

`jspm update aurelia-templating`

[2015-12-22 04:56] kevmeister68 opened #235 "Using <template replace-part="xxx"> via a <content> element does not work."
Custom-Element "fred" template:

    <template>
        <div background="blue">
             <content></content>
        </div>
    </template>

Custom-Element "barney" template:

    <template>
       <require from="fred"></require>

        TITLE BANNER
         <fred>
            <template replaceable part="sub-heading-part">
               &nbsp;
            </template>
         </fred>
    </

[2015-12-22 06:47] EisenbergEffect commented on #234
It's not aurelia, but probably something with jspm. That's where I would ask the question.

[2015-12-22 06:47] #234 closed

[2015-12-22 23:58] Vaccano opened #236 "ViewEngine cannot be Dependency Injected"
I have the following code that attempts to dependency inject ViewEngine:

        import {ErrorRenderer} from 'aurelia-breeze';
        import {ViewEngine} from 'aurelia-templating';
        import {autoinject} from 'aurelia-framework';

        @autoinject
        export class PopoverErrorRenderer extends ErrorRenderer {

            viewEngine: ViewEngine;

            constructor(viewEngine: Vi

[2015-12-23 00:31] EisenbergEffect commented on #236
Are you manually resolving your PopoverErrorRenderer from the container before `aurelia.start()` has completed?

[2015-12-23 06:38] nyxtom commented on #70
@EisenbergEffect What would be a good way to ensure that part="${key}-template" works as expected?

[2015-12-23 14:32] EisenbergEffect commented on #70
That isn't expect to work. Template Parts and their overrides must be statically defined. You would need to build something custom if you want dynamic part replacement.

[2015-12-23 16:38] RobertDiebels opened #237 "Feature Request: Syntacic sugar for looping over a list of viewModels"
Hi everyone!

I've got a feature request concerning ```<compose>```. Let's say I have a viewModel/view like so:

somemodel.js
[code]
somemodel.html
[code]
And some other viewModel/view like this:

someothermodel.js
[code]
someothermodel.html
[code]
What I would like is to request is some syntactic sugar so that I can shape the models/views into this:

somemodel.js (remains the same)

somemodel.htm

[2015-12-23 17:26] niieani opened #238 "Aurelia tries to set bindingContext when there is no View"
I'm doing a Redirect before the view is created, yet Aurelia still tries to execute the binding, which causes an error:
[code]

This line throwing the error is here: https://github.com/aurelia/templating/blob/5ee79b74a3c7c30ebd95ad34a596f7fed5a0d807/src/controller.js#L69

It's hard for me to pinpoint the exact source of the problem.

[2015-12-23 19:34] Vaccano commented on #236
You are absolutely correct.  Once I moved it inside the `aurelia.start`, it worked fine.

Thank you for the help!

[2015-12-24 15:52] EisenbergEffect commented on #237
Something very close to what you want is possible today. You can accomplish it by requiring the html directly in the view. If you change your view to this:

someothermodel.html
[code]

Then you can do this:

somemodel.html
[code]

Requiring an .html file into a view automatically converts it into a custom element with any bindable properties declared in the `bindable` attribute on the template.

[2015-12-24 15:52] #237 closed

[2015-12-24 20:00] #236 closed

[2015-12-28 20:20] jdanyow commented on #106
@csaloio are you still looking for a solution for this issue? If so, could you provide some more info about your use-case? I agree, manually compiling the template sounds a little heavy-handed.

[2015-12-28 20:21] jdanyow commented on #85
closing- @Aaike please re-open in the dialog plugin repo if further work is needed

[2015-12-28 20:21] #85 closed

[2015-12-28 20:24] jdanyow commented on #38
[code]

[2015-12-28 20:24] #38 closed

[2015-12-28 20:33] jdanyow commented on #140
@atsu85 / @EisenbergEffect what's the status on this one

[2015-12-28 20:37] EisenbergEffect commented on #140
The challenge is that containerless elements don't actually have a single element that can be injected. So, currently we inject the comment node that serves as the placeholder. We dress is up a little so that it has a couple dom apis that pass through to the original removed container. I'm interested in any recommendations that people might have. On the whole, I want to discourage people from usin

[2015-12-29 01:05] csaloio commented on #106
I haven't worked on this in some time, but the scenario was for a datagrid custom element that had user supplied columns. The consumer of the control specified each column like this: (syntax may be outdated now):

[code]
As the author of the grid control it is useful to be able to modify the `divs` specified by the consumer within the template part for example to add css classes so the consumer do

[2015-12-29 01:09] atsu85 commented on #140
I'm using @containerless a lot, because i had to work with HTML/CSS provided by visual team - they were not happy to hear me taking about future standards when i was discussing possibility to redo the CSS ;) I guess it would have been less of an issue if they had known in advance, that I'd like to create lots of containers that they have no idea about ;)

Anyway, my current solution (that doesn't

[2015-12-29 21:35] EisenbergEffect commented on #229
@jdanyow Am I correct in thinking that css isn't processed if it isn't used with .bind or a string interpolation? If that's the case, while I understand it, I think it might be an oversite on our part that leads to confusion. Let me know what you think.

[2015-12-30 13:38] jdanyow commented on #229
Now that we use a text loader for the templates, can we automate the injection of the `css` attribute and tell people to use `style`?  I know [we cannot parse HTML with a regex](http://stackoverflow.com/a/1732454/725866)... but maybe just one specific attribute in conjunction with `${`?

For example, would something like `template = template.replace(/style=("[^"]*\$\{[^"]*")/g, 'css=$1')` introduc

[2015-12-30 14:04] stphdenis opened #239 "How to have a parameter in function in a repeat.for"
How can we get `x` as a parameter of `getYs()` ?
[code]
`getYs()` is in the same controler as `xs`.

[2015-12-30 14:44] EisenbergEffect commented on #229
I'm not sure if it's a good idea or not. We would have to be sure it would work 100% correctly. That aside, we also have the "enhance" use case where there is already HTML in the DOM that we want to enhance. That means that we would still need to have support for the `css` property and document that use case. So, it's not something we could hide away.  But, maybe, with your regex, it can be used o

[2015-12-30 15:58] EisenbergEffect commented on #239
Please ask questions at gitter.im/aurelia/discuss
The GitHub issues are a place for bugs and feature requests.

[2015-12-30 15:58] #239 closed

[2015-12-30 16:06] EisenbergEffect commented on #238
Can you create a small, simple reproduction, zip it up and attach it here? along with steps to reproduce the issues. That would help us find the problem.

[2015-12-31 02:51] kplatter commented on #35
I got binding working after reading comment in  http://blog.durandal.io/2015/11/10/aurelia-pre-beta-release/

thanks to jmjf for pointing out that ViewFactory.create() no longer accepts bindingContext as the second parameter. You must call view.bind(bindingContext) after creating the view. Calls to ViewFactory.create() with more than one parameter (i.e., 2-4 parameters) need to be adjusted accordi

[2015-12-31 08:04] RWOverdijk commented on #35
@kplatter I still have no idea how to set this up. I only see bits and pieces; do you have an example / links to docs?

[2015-12-31 14:53] kplatter commented on #35
Here's how I am using it and it is working.  I am sure that there are improvements that could be made.

interfaces is just an array of objects with optional view properties (string), if the object has a view property it is rendered.

[code]

[2015-12-31 14:57] kplatter commented on #35
Also documentation is here http://aurelia.io/docs.html#/aurelia/templating/1.0.0-beta.1.0.2/doc/api/overview but nothing in the way of examples or use cases.

[2016-01-02 14:32] shivajiraot opened #240 "Loading html files dynamically."
I need to load html files dynamically that use the same view model as the parent. (Do NOT have their own view model). Example: I have files named file1.html, file2.html etc.. Looking to achieve something like the below.
[code]
Can someone point to a solution or correct way of doing this please?

[2016-01-02 14:52] EisenbergEffect commented on #240
For this you want to use the `compose` element. It can dynamically compose view, view-models and models in any combination. If you compose only a view, it will bind to the view model of the containing view.

[code]

[2016-01-02 14:52] #240 closed

[2016-01-02 17:45] maca89 opened #241 "created() callback never gets invoked"
Either I got it all wrong or there is a bug with created() callback. It never got invoked on any view-model. You can reproduce it on clean skeleton-navigation with only welcome.ts file changed – when you add bind and created methods, bind gets called as expected, while created never.

I need this callback to get hold of the view.

[2016-01-02 17:52] shivajiraot commented on #240
Thanks @EisenbergEffect  for the quick and perfect response.

[2016-01-05 10:53] danice commented on #241
The same happens to me.

[2016-01-05 14:41] EisenbergEffect commented on #241
So, you are seeing this happen on the `welcome` view-model only, correct? If you create a custom element and use it inside the welcome view, you do see the `created` callback firing though, correct?

[2016-01-05 15:00] danice commented on #241
To me "create" is not called when using
```<compose view-model.bind="content"></compose>```
and loading content with
```this.content = "./init-toolbox";```
And also when the view is loaded by navigation.

[2016-01-05 15:03] EisenbergEffect commented on #241
Ok, yes. Create wouldn't be called for dynamic scenarios such as compose and router navigated screens. I believe that is an inconsistency that we need to fix. I will look into it.

[2016-01-05 15:07] jc1001 opened #242 "Additional "$parent" required when binding to radio button in template part"
Not sure if this is an issue, but the behavior does seem a little strange. I downloaded the ES2016 starter kit and updated the jspm packages to the latest versions.

Changed the app.js to:
[code]
Changed app.html to:
[code]
as per the radio button binding example on the cheat sheet.

The correct radio button is checked:
![valid](https://cloud.githubusercontent.com/assets/15125812/12118064/23632bc2

[2016-01-05 15:20] EisenbergEffect commented on #242
That behavior is correct because your template part is binding inside the inner context of the custom element. Basically, a template part binds as if it were written inside the custom element's view. So, it requires additional "hopping" to bind back to the data source you are trying to get to.

That said, try simplifying all of these examples by removing $parent from everthing so that you just hav

[2016-01-05 15:20] #242 closed

[2016-01-05 15:35] jc1001 commented on #242
Removing all the "$parent" identifiers did solve the problem.  Thank you for the quick response.

[2016-01-05 15:36] EisenbergEffect commented on #242
Looks like we need to update that cheat sheet :)

[2016-01-05 20:36] EisenbergEffect commented on #241
I have a fix for this. I believe we can get it in to the next patch release, hopefully this week.

[2016-01-05 21:00] darren-gibson commented on #178
I've also encountered this issue whilst attempting to use the MDL menu.  I've worked around with a simple hack in the custom mdl attribute

[code]

However, I notice that the MDL team are looking to support `data-mdl-for` as the `for` attribute is not allowed at this point for the `UL` element (see (https://github.com/google/material-design-lite/issues/1556)), so maybe there's no change required o

[2016-01-05 22:17] jdanyow commented on #178
@darren-gibson thanks for the update and submitting a workaround.  We're planning on fixing this issue in an upcoming release, there's more info in https://github.com/aurelia/templating-binding/issues/64

[2016-01-06 21:39] devmai opened #243 "too much recursion error when import package from three levels up"
I got an error when I ``` import Highcharts from '../../../lib/highcharts';``` in my custom element chart class.

Console log in FF43 says:
```ERROR [app-router] InternalError: too much recursion```
and even Chrome47 says:
[code]

[2016-01-06 21:41] EisenbergEffect commented on #243
Can you create a simple project that reproduces this error? I'd like to take a look at what is going on there.

[2016-01-06 22:33] devmai commented on #243
As I tried to set up a blank aurelia-skeleton for reproducing I saw after "npm install" something like that. So it's not an error of Aurelia but Node and npm install won't work for now. Strange.

[code]

[2016-01-07 19:02] devmai commented on #243
The problem was not the templating engine.
The view of the custom element (Custom Element View Declaration) had ```<mychart></mychart>``` instead pure html code. Also I used in another view (Custom Element Use ) with ```<require from="../widgets/mychart"></require>
    <div class="container-fluid">
        <mychart></mychart>
    </div>```
It wasn't a real issue of Aurelia templating.

[2016-01-07 19:02] #243 closed

[2016-01-08 08:30] Jaans commented on #233
Thanks! For those who want to, you can also access the jQuery selector functionality from Bootstrap instead of from jQuery itself. Updated example below:

[code]

[2016-01-08 22:24] #241 closed

[2016-01-09 17:55] JeroenVinke opened #245 "Enhance not initializing custom elements/attributes imported via require"
Plunker: http://plnkr.co/edit/7CyNhwEBharrG7vdbiYQ

In the plunker above, I have two buttons. The first button adds a `<red-square>` and a `<blue-square>` custom element to the DOM.

The second button calls enhance on the div containing the red and blue square. What I expect is `attached()` to be called on both custom elements (red and blue square custom element).

The blue square custom element i

[2016-01-09 17:58] EisenbergEffect commented on #245
You need to pass the ViewResources along so that it knows what is available to use to enhance with.

[2016-01-09 18:00] EisenbergEffect commented on #245
I'm seeing that our api docs are missing some information. Apologies on that. Something is going wrong with the generation process. You can see what you pass to the enhance call here:

http://aurelia.io/docs.html#/aurelia/templating/1.0.0-beta.1.0.3/doc/api/interface/EnhanceInstruction

If you provide the ViewResources, it will work. You can have those injected into your view model to get the reso

[2016-01-09 18:00] #245 closed

[2016-01-09 18:14] JeroenVinke commented on #245
Just tried this out, but it doesn't seem that `red-square` (which is imported via `<require>`) is on the ViewResources instance.

Plunker of this is here: http://plnkr.co/edit/Co2B4UBgr7v8qU5jQ7XL?p=preview

![image](https://cloud.githubusercontent.com/assets/2189477/12217555/7b65df56-b704-11e5-8736-8a6e66506605.png)

[2016-01-11 13:11] gingerik commented on #35
@kplatter Thanks for your example. This works for me as well. I only had to change `view.bind(this.bindingContext);` to `view.bind(this);` as I wanted to bind to the model itself (not its parent) and initially failed on using click delegates.

[2016-01-11 14:41] RWOverdijk commented on #35
@kplatter Do you mean `</template>` in `var viewFactory = this.viewCompiler.compile('<template>' + this.bindingContext.interface.view + '<template>', this.viewResources);`?

[2016-01-11 15:09] StrahilKazlachev commented on #35
For this I use `<compose>` and `InlineViewStrategy` - just binding an `InlineViewStrategy` instance to the `view` property of `<compose>`. Not sure for the performance implications, but for my use case it does the job and is simple.
[code]
[code]

[2016-01-11 15:38] kplatter commented on #35
@RWOverdijk thanks for catching that, it seems to work either way but would probably come back to bite me later.

@StrahilKazlachev thanks for the example, I tried something similar and failed, but may try again using your example

[2016-01-12 09:32] danice commented on #241
I think the issue is still open for view composition.

[Here](http://plnkr.co/edit/cUdgfBDT196XBDy1ZCkB?p=preview) is a plunker showing the issue.
What I'm trying is to some way to access parent properties from the child component.

[2016-01-13 09:59] alexanderteinum opened #246 "`repeat.for` ordering issue with custom element container"
I would expect the following to render a list with values 1, 2, 3, 4. Instead, it renders 1, 4, 2, 3. See [complete example](https://github.com/alexanderteinum/beginner-kits/blob/master/kit-es2016/src/app.html).

#### `app.html`

[code]
#### `c-ul.html`

[code]

#### `c-ul.js`

[code]

[2016-01-13 14:52] EisenbergEffect commented on #246
Thanks for the sample code. I'll take a look.

[2016-01-14 15:10] tetious opened #247 "HTML only component strangeness with bindable attribute order"
I seeing oddness when binding two things to an HTML only component in certain cases. I'm not exactly sure what's going on here, but I suspect some kind of race. (or misunderstanding on my part)

Here is sample code that will reproduce the problem. I tried to simplify as much as I could.

poclist.html
[code]

poclist.ts

[code]

poc.html
[code]

That sample code results in an empty table, which I d

[2016-01-14 18:17] EisenbergEffect commented on #247
There is probably some issue with how the dom apis are handling multiple instances of the same element.

That said, we clearly need to provide better documentation on html only components. The correct way to do this would be to have one bindable attribute. The value of that attribute would be a comma-separated list of names:

[code]

[2016-01-14 18:17] #247 closed

[2016-01-14 18:21] tetious commented on #247
Ahah! That works perfectly.

Thanks for the clarification!

[2016-01-15 00:54] sorenhoyer commented on #22
We're still facing this issue with ie11 and edge. repeat.for on the template tag doesn't refresh the page as the data changes, however when removing the template tag, it works :/

[2016-01-15 06:10] EisenbergEffect commented on #22
@sorenhoyer Would the solution I describe in that issue work for you if we added `template-start` and `template-dend`?

[2016-01-16 14:17] sorenhoyer commented on #22
I guess, however prefer the "repeater on the tbody tag" solution which is proposed in that other thread - just didn't think it was valid html with multiple tbody tags within one table. It works just fine in ie, edge too though :-)

[2016-01-16 14:24] brettveenstra commented on #96
If I was taking the lazy way and tried to bind a complex JSON object into my viewmodel, would I have to create a custom valueconverter or define a nested `@bindable` or define on the element itself?

[2016-01-17 10:57] fragsalat commented on #238
I guess he's trying the same like me.
I've got a route called logout.
The viewModel has the decorator @noView.
In there's a service call and a new Redirect.

So using the noView on a viewModel seems to be not working.

[2016-01-18 12:39] yd021976 opened #248 "No bindings between a <compose> view and the main application controller"
Hello,
don't know if it's a question, issue or request, but when testing aurelia framework i discover that there's no way to bind data between an application (main VM) and the underlying VM <compose>.

Let's make an exemple :
`main application view model`
[code]
`main application view`
[code]

In this example, when the `mainData`is changed there is no updates in the 'foo' view even if model is bin

[2016-01-18 13:14] EisenbergEffect commented on #248
The `activate` method on your `foo.js` class will be called whenever the value of `model` changes. If the array's items change, that is separate from the value of the `mainData` property changing.

[2016-01-18 13:14] #248 closed

[2016-01-18 16:01] yd021976 commented on #248
Thanks for your quick reply. But i'm not sure i get your second part "If the array's items change, that is separate from the value of the mainData property changing". In this case (array's items change), i understand that the `activate` method will not be called, and so i understand the value of `model` will not update.

In addition, in my example `mainData`is populated with an http request (with

[2016-01-19 17:27] JeroenVinke opened #249 "Custom element and custom attribute both inheriting from the same superclass"
In the plunker below I have a custom element (bar) and a custom attribute (foo), both inheriting from the same `SuperClass`.

When you add a @bindable property to the SuperClass, Aurelia starts to act weird. For example, it tries to load foo.html while that is a custom attribute (and custom attributes don't have html files)

Is something like this possible?

Plunker: http://plnkr.co/edit/9MMca6?p=

[2016-01-19 17:30] EisenbergEffect commented on #249
We don't support inheritance for behaviors currently. There's an existing issue to incorporate that in the future.

(In general we actually want to discourage the use of inheritance. In the entirely of the Aurelia framework there are only one or two instances of inheritance at all.)

[2016-01-19 17:30] #249 closed

[2016-01-19 17:33] adriatic commented on #249
The response of the Aurelia support team :-) is simply superb. Thanks Rob - as this issue caused some headaches today

[2016-01-19 17:36] EisenbergEffect commented on #249
You're welcome! Apologies for the loss of time.

[2016-01-19 17:38] sylvain-hamel commented on #249
@EisenbergEffect can you provide the link to that other issue please? We would use inheritance for custom elements if it were supported. Thanks

[2016-01-19 20:55] niieani commented on #238
@EisenbergEffect I'm really sorry but I think I've lost the code that was causing this problem. I'll try to go back in my project's commit history to find it though, but it may take some time before I have the time to do so.
But I think a way to reproduce this is to do a redirect on a parent router in `bind()` or in a `constructor` of a ViewModel that's being activated by that router. My code was

[2016-01-19 20:57] EisenbergEffect commented on #238
Definitely using Redirect in a constructor won't work. The Redirect instance would need to be returned from the canActivate hook, at the earliest.

But currently, the router enforces that all view models that get rendered must have a View. We may be able to change that in the future though.

[2016-01-19 22:01] niieani commented on #238
Oh, sorry for the confusion, I wasn't using a Redirect instance, I was running the `navigate` method on a Router instance, if I remember correctly, in either the `activate()` or `bind()` hook. You see, my use case is that:

- The route for the ViewModel is `/route/:id `
- I need to check if `:id` is not empty or an element of the given `:id exists in the database
- If yes - I allow the activation

[2016-01-19 22:47] StrahilKazlachev commented on #238
Isn't adding a `PipelineStep` more suitable approach for this scenario? To me this seems similar to the `AuthorizeStep` example.

[2016-01-20 09:48] niieani commented on #238
Can pipeline steps be asynchronous?
Also, this means blocking the rendering until after the query is made,
which is pretty horrible for UX. I prefer to start the query in a Promise
as early as possible (`activate()`) and do the redirect in a `.then`, once
I know the result from the database.
On Tue, 19 Jan 2016 at 23:47, StrahilKazlachev <notifications@github.com>
wrote:

[2016-01-20 11:09] StrahilKazlachev commented on #238
Yes, you can return a promise. I don't follow on:

But returning a promise in the activate method also delays the rendering.

[2016-01-20 12:14] niieani commented on #238
Yes, but you don't need to return the Promise - you can just create it. I
set the Promise as a property on the ViewModel and await it in the
`attached()` method. This way my View isn't blocking - UX is good, and if a
redirect is needed, it happens.

On Wed, Jan 20, 2016 at 12:09 PM StrahilKazlachev <notifications@github.com>
wrote:

[2016-01-20 21:48] csaloio opened #250 "Possible problem with @children depending on location of <content>"
Please see this plunker:
http://plnkr.co/edit/0yEcM9eDlyaR5LnsjYZg?p=preview

If `<content>` is not nested the array created by `@children` is correct. WHen it is nested the array is always empty.

[2016-01-20 21:51] EisenbergEffect commented on #250
Thanks for reporting this! We need to do some improvements how how `@children` works internally and those should fix this issue.

[2016-01-21 12:11] Thanood opened #252 "problems using @inlineView"
Are there any known problems with using ```@inlineView```?

The following class is not rendered. In fact, the application which uses that class stops at:
```DEBUG [aurelia] Configured plugin aurelia-materialize-bridge.``` (which is the plugin the component is defined in).
Unfortunately, it does so without any error message.

When I copy the template into a separate ```.html```file, all works.

Imp

[2016-01-21 14:11] EisenbergEffect commented on #252
I can see that your inline view does not require the `card` element. Is that global?

[2016-01-21 14:19] Thanood commented on #252
Right, sorry.. Somehow I've got the impression that it was a valid Html5 element.
Changed it to ```<div>``` for clarity (see below). Unfortunately that doesn't change anything.

[code]

[2016-01-21 14:22] EisenbergEffect commented on #252
Ok, I'll assign this to myself and take a look. I'm not sure what the issue would be just looking at it.

[2016-01-21 14:24] Thanood commented on #252
Thank you! :smile:

[2016-01-21 20:40] JeroenVinke opened #253 "Default binding mode not obeyed of custom attributes on input tags"
I have a bindable inside a custom attribute with two-way binding as default. When I put this attribute on an input tag and use `bind`, the default binding mode is ignored and one-way databinding is used.

plunker: http://plnkr.co/edit/aKqPmKlrRHXEu39BzJRV?p=preview

[2016-01-24 20:11] schatekar commented on #192
I am trying to somehow notify phantomjs that my aurelia app is ready. I am using `phantom2-render-stream` library to save a page of my application as pdf. I have following code in my view model. Setting `window.renderable` to `true` signals phantomjs that page is loaded and ready for export.

[code]
The statement `window.renderable = true;` is called before the view is actually is displayed. My pd

[2016-01-25 06:45] zewa666 commented on #192
@schatekar you could setup a listener for the `aurelia-composed` event. Take a look at our protractor plugin which does exactly that. https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-es2016/aurelia.protractor.js#L25

[2016-01-25 16:29] timbell commented on #76
Just wanted to check whether there has been any change here for arbitrary attributes? I'm working with bootstrap and I'd like to conditionally add `data-toggle=xyz` attributes. Currently I have `data-toggle=` in the negative case but it would be neater without the attribute at all.

[2016-01-25 16:34] EisenbergEffect commented on #76
You could always do this by creating a custom attribute that uses the element api to respond to bindings and add remove data- attributes.

Can you provide some more details around your scenario? Are you saying that when the value is null or undefined you want the attribute remove altogether for example?

[2016-01-25 17:22] timbell commented on #76
@EisenbergEffect - yes, be nice if it was built-in though :-)

Yes, that was what I was hoping for. eg `data-toggle.bind="hasChildren ? 'dropdown' : null)"` would give you either `data-toggle=dropdown` or no data-toggle attribute at all. Currently you get `data-toggle=null` so I changed by bind expression to `...? 'dropdown' : ''"` just to reduce the size a bit. You could imagine some libraries wh

[2016-01-25 17:28] timbell commented on #76
Or if your data- attribute had disabled semantics - active if present.

[2016-01-25 20:40] EisenbergEffect commented on #252
Ok, it's not a bug in Aurelia. Sorry I didn't catch this from first looking at your code, you need to escape the interpolation because that is actually JS syntax for interpolation. You need this:

[code]

I was debugging in Chrome and received an error that "title was not defined" which clued me in to the problem. What browser were you using? did you see a similar error?

[2016-01-25 20:40] #252 closed

[2016-01-25 21:05] Thanood commented on #252
Interesting. I'm using chrome, too and I haven't seen any errors. But maybe they were "eaten" by an unresolved promise rejection. But the debugger stops at this template when it's set to stop at uncaught exceptions.

Babel output also looked reasonable to me:
[code]

Anyway, thanks for the hint.

[2016-01-25 21:08] EisenbergEffect commented on #252
No problem. If you discover where the error is being swallowed in your project, please let us know so we can improve that inside Aurelia.

[2016-01-25 23:28] EisenbergEffect commented on #246
I've reproduced this bug. It's an issue in our shadow dom fallback implementation. We are planning to update that implementation to the shadow dom v1 spec in the near future. That will mean some massive internal implementation changes. As part of that update, we'll address this issue.

[2016-01-27 04:13] jedd-ahyoung commented on #253
@jdanyow This may need to be tagged as a bug.

[2016-01-28 00:23] charlespockert commented on #250
Was wondering when this would be fixed. Not a massive issue for me but it saves me having to use an extra div every time I want an instance of a certain control
  https://github.com/aurelia/templating/issues/218

[2016-01-28 11:56] Andreas-Hjortland commented on #225
It seems this has been fixed in one of the releases since this issue was filed. I retried an update today and was unable to reproduce the issue.

[2016-01-28 15:47] martingust commented on #225
Great that latest solved the issue for you. Closing this.

[2016-01-28 15:47] #225 closed

[2016-01-28 16:47] JeroenVinke commented on #245
@EisenbergEffect can you help me out with the above question? Perhaps I'm doing something wrong.

it would possibly allow us to do something like this:

[code]

without having to globalize `my-custom-element` in `main.js`

[2016-01-28 16:50] EisenbergEffect commented on #245
Enhance won't account for requires right now. Instead, when you call enhance, you can pass it a ViewResources instances that contains the resources the compiler should use. You can have ViewResources injected into any custom element to get the resources that are available where that element is defined. If you have your requires in the outer view and then pass this injected resources through to the

[2016-01-28 16:56] JeroenVinke commented on #245
That makes sense yes, and I believe I'm doing that [in this plunker](http://plnkr.co/edit/Co2B4UBgr7v8qU5jQ7XL?p=preview). However, I don't see the `red-square` in the injected ViewResources.

[2016-01-28 17:00] EisenbergEffect commented on #245
It doesn't work in that case because you will get injected the view resources of where the component is used. The app component isn't inside of any view with resources, so you get the global resources. You do not get the resources of your own view..it's the resources of the view that your element is used inside of.

[2016-01-28 17:02] EisenbergEffect commented on #245
But you can get your own view's resource...implement the created callback and that will give you, as the second parameter,  your own View instance. From that you can get the viewFactory that produced the view...and from that you can get the resources available inside your own view.

[2016-01-28 17:14] JeroenVinke commented on #245
you guys have really thought about everything :+1:  thanks

[2016-01-28 17:15] EisenbergEffect commented on #245
Well...I had to really think about that and check the source code. I knew you could get it, but it's not an every day thing :)

[2016-01-29 09:37] Thanood commented on #253
This seems to apply to ```<select>``` elements, too.
http://plnkr.co/edit/g2i582ZL29bhLEiXobhG?p=preview

[2016-01-30 00:08] Vaccano opened #256 "Support jquery input plugins"
I have tried two jquery <input> plugins and both have caused Aurelia's binding to stop working.

They are: [jquery.autotab](https://github.com/Mathachew/jquery-autotab) and [jquery.maskedinput](https://github.com/digitalBush/jquery.maskedinput)

To make them work, I imported them in index.html via `systemjs`.  Then  I made a custom element like this:

[code]

I then use it like this:

`<require fr

[2016-01-30 00:19] #256 closed

[2016-02-02 20:57] philiphendry commented on #76
I have a question here regarding HTML boolean attributes. In my particular case I have a `<select>` element on which I optional wish to have the `multiple` attribute - and it would appear according to the [HTML spec](https://www.w3.org/TR/html5/infrastructure.html#boolean-attributes) that I must add or remove this attribute. @EisenbergEffect, are you suggesting that I should create a custom attrib

[2016-02-02 21:31] EisenbergEffect commented on #76
Using a custom attribute will certainly work. That's a definite way to always get the exact behavior you want.

@jdanyow What do you think of this issue though? It has come up repeatedly. Should we hard-code a list of the known boolean attributes in the binding engine (with an api to add to the list, of course) and then treat these differently by adding/removing the attr?

[2016-02-03 05:03] sylvain-hamel opened #257 "Call `changed` callbacks after all bound properties are assigned during the initial bind phase"
This is a request to change the timing of when `changed` callbacks are called during the `bind()` phase.

**Current timing:** The `changed` callbacks are invoked progressively, as the bound properties are set. The order in which they are called is not guaranteed.

Therefore this code does not work because in one `changed` callback the _other_ property will not be bound yet:

[code]

**Proposed tim

[2016-02-03 18:28] doktordirk opened #258 "bindable using view model not working as before beta-1.1.0"
previously (beta-1.0.3)
[code]
would bind xy whether there was a view model used or not.
with beta-1.1.0 that only works if no view model is used.

test with skeleton app:
[code]
[code]

explicitly binding in the view model as follows still works.
[code]

that change in behaviour is intended?

[2016-02-03 18:31] EisenbergEffect commented on #258
I'm not quote following. Forgive me. Would you mind explaining a bit more? Thanks.

[2016-02-03 18:36] doktordirk commented on #258
previously
<template bindable="router">

would do the same as
`` `javascript
//  nav-bar.js
import {customElement, bindable} from 'aurelia-framework';

@customElement('nav-bar')
export class NavBar {
  @bindable router;
}
[code]
the
<template bindable="router">
still binds

[2016-02-03 18:40] EisenbergEffect commented on #258
Wait, you are saying that adding "bindable" properties in the template doesn't work at all? I just tested that in the skeleton the other day though...

[2016-02-03 18:41] doktordirk commented on #258
only if a view model is used. without view model it works

[2016-02-03 18:50] doktordirk commented on #258
made a branch to make it clearer
https://github.com/doktordirk/skeleton-navigation/commit/a42846ce77a11aa152a846c2a6b96bbd485840e0

[2016-02-03 19:21] EisenbergEffect commented on #258
Ok, if that worked before...it was a regression in the previous version. Bindables in a template require the absence of an explicit view model. My guess is that it didn't work but only appeared to because the parent binding context had properties of the same name that got inherited through. There was a regression in the beta that allows encapsulation to break. That has been fixed in this release.

[2016-02-03 19:21] #258 closed

[2016-02-03 19:23] doktordirk commented on #258
alright

[2016-02-06 22:35] DiegoGallegos4 opened #259 "Uncaught TypeError: Cannot read property 'firstChild' of undefined"
I saw this error on issues a couple of months but I downloaded the skeleton for ES6 today and just found this error on the console.

Error on console:
**getAnimatableElement	@	aurelia-templating.js:1100
removeAt	@	aurelia-templating.js:1252
remove	@	aurelia-templating.js:1227
(anonymous function)	@	if.js:34
flushMicroTaskQueue	@	aurelia-task-queue.js:117
(anonymous function)	@	aurelia-task-queue.j

[2016-02-09 02:49] jdanyow commented on #257
@EisenbergEffect what were your thoughts on this ^^

[2016-02-09 03:17] EisenbergEffect commented on #257
It's something we could do. I haven't looked into it to see how easy/hard it would be. The logic is in the Controller class's bind method. My only concern is that changing this might affect perf or memory negatively. I need to dig in though...

[2016-02-11 05:44] devteamexpress opened #260 "Child Router view replacing element in the parent"
I wanted to know if it's possible using replaceable parts to have a child router view define content that will be replace in it's parent upon render. I couldn't find any example of how to do this and I've been trying different ideas but to no luck.

Basically in the parent view we have a couple of action buttons which change depending on the child view selected, we don't want to have to absolute p

[2016-02-11 05:49] EisenbergEffect commented on #260
It's not possible to accomplish it in that way, no. However, it's not difficult to do it using other techniques. One idea is to use the EventAggregator. Have your parent view model subscribe to an event and then have the child view-model publish that event with any necessary information. The parent view-model, can then recieve the event data and use that to build up a UI in the parent's view.

[2016-02-11 05:49] #260 closed

[2016-02-11 05:51] devteamexpress commented on #260
Ok i thought about that as well, thanks for the quick response!

[2016-02-11 20:15] DiegoGallegos4 commented on #259
@EisenbergEffect Any tests on this? Ive manages to work with the app perfectly besides that but that error is quite annoying.

[2016-02-11 23:27] EisenbergEffect commented on #259
We can't do anything about this until someone explains how to reproduce the bug in a series of simple steps....or creates a simple repro where we can see the problem. The bug report doesn't provide much in the way of information, so it's hard for us to do anything about it.

[2016-02-12 03:13] DiegoGallegos4 commented on #259
This was reproducing:

1. Edit the skeleton es2016
2. Follow the steps in the **Integrating with other tech** for polymer.

This is basically. Would it work, uploading the skeleton on my repo?

Greetings

[2016-02-12 05:28] jsobell opened #261 "repeat.for can't be used with nested compose tag in a table structure"
Trying to adapt the rows of a table based on a repeat.for variable, so the code goes something like this:
[code]
The imported view is a simple sequence of valid `<td>data</td>` tags

Unfortunately, the templating engine seems to consider this invalid, presumably due to the presence of the `<compose>` tag, and after attempting to load a resource `./jobs_.html` it ignores the loop.
Replacing the abo

[2016-02-12 05:39] EisenbergEffect commented on #261
It's not an issue with templating issue per se. Rather the browser won't allow foreign elements inside the tr. The browser itself removes them before the framework has a chance to handle it. If you have the latest release of aurelia,  you could try this out

[code]

[2016-02-12 05:51] jsobell commented on #261
This won't work, as it's essentially identical to the sample I showed that breaks the layout, because the `<td>` surrounds anything in side it, including other `<td>` elements.

[2016-02-12 05:53] jsobell commented on #261
It's like we need a way of ordering the `<tr>` tag to inject the composed values. Like a `child-element='compose'` sort of thing

[2016-02-12 05:54] EisenbergEffect commented on #261
Can't you remove the td from your template?

[2016-02-12 06:39] jsobell commented on #261
The `TD`s, plural. Sorry, the example I gave was a simplification for testing. The actual content has about 6 columns, and there are 5 templates for different job types.  The only way to do that would be to remove the outer two, making the remaining html non-conformant, so unfortunately not.
This is a real sod of a problem for us. We can't even paste in all five sub-templates with `show.if` condit

[2016-02-12 06:46] jsobell commented on #261
Here's a similar solution in some appallingly unreadable framework that I can hardly bear to read, let alone develop on:
[http://plnkr.co/edit/pHTrlnRNYijjzQYlRjto?p=preview](http://plnkr.co/edit/pHTrlnRNYijjzQYlRjto?p=preview)
Do we have anything along the same lines?

[2016-02-12 15:39] EisenbergEffect commented on #261
If you wouldn't mind providing a more extensive example of what you are trying to do in Aurelia, I'd like to help you find a solution. I think we could leverage the new as-element on the tr but I would need to see a bit more code that shows some more intricacies of your scenario.

[2016-02-12 20:08] DiegoGallegos4 commented on #259
This is the code I have.
https://github.com/DiegoGallegos4/aurelia_polymer

I added a couple of views. But most of the code is the boilerplate of running Polymer on Aurelia.

Thanks in advance

[2016-02-12 22:28] ppn2 opened #262 "problem with @children. not syncing the repeating children."
//parent view
[code]
//parent view model
[code]

[2016-02-13 01:08] jhoguet opened #263 "target isn't used in BindableProperty.registerWith, remove it?"
I found myself trying to figure out what I was going to pass in as `target` only to discover that isn't actually used.

https://github.com/aurelia/templating/blob/master/src/bindable-property.js#L46

Can I remove this?

[2016-02-13 01:13] EisenbergEffect commented on #263
Why are you even using this api? What in the world are you doing?

[2016-02-13 01:15] jhoguet commented on #263
experimenting ;)

[2016-02-13 01:22] EisenbergEffect commented on #263
Gotcha. Well, we are trying not to make breaking changes in apis at this point, so we aren't going to remove that, even though it isn't used. Thanks for digging in though!

[2016-02-13 01:22] #263 closed

[2016-02-13 01:27] EisenbergEffect commented on #262
Thanks for the repro. I will investigate. We are going to be doing some serious work in this area soon to implement Shadow DOM v1. If we don't get it in before that, it will get fixed as part of the Shadow DOM fix updates. I'll see to it personally.

[2016-02-13 09:32] jsobell commented on #261
Sure, here's a plunker of the same concept I'm trying to apply: [http://plnkr.co/edit/Bdym9H?p=preview](http://plnkr.co/edit/Bdym9H?p=preview)
Essentially, this is a list of jobs. Each job type has its own properties and display template, so for each job in the list we want to display that template.
Because the data is tabular, it resides in a table, which means the contents of each row is its own

[2016-02-13 16:55] EisenbergEffect commented on #261
Why can't you just do something like this?

[code]

[2016-02-13 17:24] ppn2 commented on #262
Actually I found 2 more defects!!!.

1. If we use Type parameter in @children attribute (instead of selector) then nothing gets populated in the children.
2. While using Type parameter in @children, one were to inject parent in the child constructor, a dependency injection error is raised. I don't remember the exact error, but if you need I would be able to reproduce it in plunker. Please let me k

[2016-02-13 17:56] alexisargyris commented on #76
It is interesting to note that when aurelia calls 'attached' (where one might add the attribute 'multiple' depending on the state of some custom attribute), it may be already too late, as the select element seems to have already picked up the first item of its bound list of options, which is something you don't want in the case of a multiple select. So, support for boolean attributes seems really

[2016-02-13 18:44] EisenbergEffect commented on #262
What do you mean by the type parameter? What is that? It only accepts a selector...it never accepted anything else.

[2016-02-13 20:04] ppn2 commented on #262
What I meant is the Type of the Children. Looking at the documentation and indeed it does not accept the Type parameter. Actually while I am looking at the aurelia, I was looking at angular 2 as well and the @children in aurelia is very similar to @ContentChildren in angular 2. There you could specify either of selector or Type of the Children. I inadvertently assumed, aurelia also supports that w

[2016-02-13 21:56] jsobell commented on #261
Yes, that was the obvious solution I tried :)
[http://plnkr.co/edit/Bdym9H?p=preview](http://plnkr.co/edit/Bdym9H?p=preview)
The first issue appears to be that the binding of the view attribute doesn't get performed, so ${r} is never resolved (as shown in the console load errors).
However, even if you substitute a valid fixed view name, it still doesn't render, so it looks like there may be a coup

[2016-02-13 23:56] EisenbergEffect commented on #261
That plunkr probably doesn't have the as-element feature since it was just released a few days ago. I'll look into it locally.

[2016-02-14 09:30] jsobell commented on #261
Yep, the latest version works fine, awesome stuff!
Can I suggest you ask someone to add that solution to the section in the cheat-sheet about using repeat to generate valid tables?  I'm not yet familiar enough with Aurelia to do write it up properly. Give me another month or so...
Thanks

[2016-02-14 09:30] #261 closed

[2016-02-14 21:19] EisenbergEffect commented on #261
@jsobell Would you mind creating a separate issue for adding the docs on this? If so, we can probably get it in this week.

[2016-02-14 22:16] jsobell opened #264 "Documentation update request"
Can the cheat-sheet section `Templating Basics / Correct Table Code` have a section added to explain:

1. how the browser will strip invalid table structures, preventing Aurelia reading compose statements nested directly below `<table>`, `<thead>`, `<tbody>`, or `<tr>` tags
2. how use of the `as-element` attribute can be used to 'inject' a composed element into one of these restrictive elements, b

[2016-02-15 11:01] Exsilium122 opened #265 "if.bind does not preserve order"
It looks like aurelia if binding is inserting elements into DOM in some random order.

View:

    template
        p.text-center(show.bind="type!=='login'")
            a(href="#login ", click.delegate="setType('login')") Remember password?
        p.text-center(show.bind="type!=='remind')
            a(href="#remind", click.delegate="setType('remind')") Forget password?
        p.text-center.text

[2016-02-15 14:21] EisenbergEffect commented on #265
The `if` binding places a comment node anchor into the DOM at the same location as the conditional content. It then prepends the conditional content before the comment anchor node when the condition is truthy.

[2016-02-15 14:21] #265 closed

[2016-02-15 14:52] DiegoGallegos4 commented on #259
As a note:

Sometimes when I redirect to route then the router returns: **http:/localhost:<port>/undefined**. The only way to go to a valid route again is to reload to home and start from there after a few reloads.

[2016-02-15 14:59] EisenbergEffect commented on #259
@DiegoGallegos4 That router issue is separate from this.

@martingust Any idea what could cause this error? @joelcoxokc What about you? I know you two have both looked into this code. I seem to remember something about this in the past. Any ideas?

[2016-02-15 19:24] cehoffman commented on #262
@EisenbergEffect re: the Shadow DOM work. Does that mean **@child** will work in-conjunction with a view model that has **@useShadowDOM**?

[2016-02-15 19:29] EisenbergEffect commented on #262
Yes.

[2016-02-17 19:59] DiegoGallegos4 commented on #259
Hi Rob,

Have you found anything regarding these issues?

[2016-02-17 21:53] martingust commented on #259
@EisenbergEffect Not sure but it looks like some conflict in how Polymer manipulates the DOM causing the templating loose orientation.

Issue here is with the `if` binding [here](https://github.com/DiegoGallegos4/aurelia_polymer/blob/master/src/app.html#L24). When its value changes to `true` templating trying to insert the view before its `parentNode`which is null.

When the `viewFactory` replaces

[2016-02-18 23:14] DiegoGallegos4 commented on #259
Rob, do you have any updates on the issues?

Thanks for the effort.

[2016-02-19 13:18] JeroenVinke opened #270 "Feature request: support $this with enhance"
I noticed that we can use $this in Aurelia templates to get a reference to the context, but it returns `undefined` when `enhance` is doing the compilation.

plunker: http://plnkr.co/edit/ZI88Uu?p=preview

[2016-02-19 18:58] gautamsi opened #271 "nested if.bind does not work"
Not sure if this specific scenario was reported earlier. See `<content>` tag location if it is inside the template with `if.bind` it does not render even if the condition is true. `hasMenu` is true and it does set css class properly but fails to render Content tag with nested `if.bind`

not working
[code]

working
[code]

[2016-02-19 19:27] EisenbergEffect commented on #271
You cannot conditionally add/remove content elements. The shadow dom insertion sites have to be static.

[2016-02-19 19:27] #271 closed

[2016-02-19 21:18] antistoopmode opened #272 "Import jquery in typescript skeleton"
How do I get jquery to work with the aurelia skeleton-typescript?
I used ` jspm install jquery` and then tried to add it to a view-model with` import $ from 'jquery';` but the module 'jquery' cannot be found.

It works fine fine the es2016 skeleton :disappointed:

What am I missing?

[2016-02-19 21:19] #272 closed

[2016-02-19 21:20] antistoopmode commented on #272
wrong repository..

[2016-02-20 19:54] gautamsi commented on #262
I had this as immediate requirement for my project, I tried to fix it for my project, not sure if this is something anyone would like to use. Adding it here so that anyone interested in scenario can improve upon this or provide alternate.

problem:
I wanted to track child custom element in my parent custom element. Can not track the custom element as it is inside other element in parent markup. se

[2016-02-21 04:45] johnmanko commented on #233
This suggestion doesn't work, or perhaps I'm missing something.

Unhandled promise rejection TypeError: $(...).tooltip is not a function
Stack trace:
bind@http://localhost:3000/lib/attributes/bootstrap-tooltip.js!transpiled:28:13
bind@http://localhost:3000/vendor/npm/aurelia-templating@1.0.0-beta.1.1.0/aurelia-templating.js:2774:9
bind@http://localhost:3000/vendor/npm/aurelia-templating@1.0.0-beta

[2016-02-22 11:33] MikaelPorttila commented on #250
Any updates on this issue?

[2016-02-22 14:17] EisenbergEffect commented on #250
Quick update on this. We are working on a solution. However, the fix is probably going to have to wait until we update to Shadow DOM v1 because the implementation details are strongly connected. We'll do a bit more research this week and see if there's a way we can address it before then.

[2016-02-22 16:08] waywardz commented on #20
We are still see this exception with aurelia-binding@1.0.0-beta.1.1.1 in Chrome 48.0.2564.116.  We are forced to use click.trigger because of the issue the issue with disabled.bind in ie: [https://github.com/aurelia/binding/issues/163](aurelia-binding-163)

[2016-02-22 17:40] jedd-ahyoung opened #273 ""this.animator.enter is undefined" error"
If an element has an `au-animate` class on it but no animator is present, we get a typeError  in the console when templating calls `this.animator.enter` as `this.animator` is not defined.

Proposing a default animator class or interface with all methods as no-ops to mitigate this issue. Developers may choose to swap animators or disable the animator dynamically, and so there should be a logical fa

[2016-02-22 18:02] EisenbergEffect commented on #273
That should be implemented already....are you sure something isn't going wrong with your app?

[2016-02-22 19:48] jedd-ahyoung commented on #273
I'll double-check the dependencies, but I should be fairly up-to-date. I'm
seeing this on an element with an `au-animate` class and a `show.bind`. I
was using the animator-css plugin and am no longer using it (it's commented
out in the configure method) but I did not remove the au-animate classes
and it's still in the systemJS configuration.

JSPM inspect is as follows:

[code]

2016-02-22 13:03 G

[2016-02-22 19:51] EisenbergEffect commented on #273
The default implemenation of Animator with noop methods is inside of Templating and is what gets used by default. For example, the skeleton-navigation app is configured with au-animate classes on its views but the css-animator is commented out…and it works fine. There’s got to be something else happening in your case.

[2016-02-22 20:56] jedd-ahyoung commented on #273
I'll have to look into this more. It looks as though the animator is
defined for some viewSlots but not for the children? I'll try to see if I
can reproduce a test case, but it might take a bit as I've got some things
on my plate.

2016-02-22 14:51 GMT-05:00 Rob Eisenberg <notifications@github.com>:

[2016-02-23 07:04] ppn2 opened #274 "Possible Memory Leak"
This is a weird bug which happens on a specific situation only. The best way to understand the issue is to see it in the plunker.

[http://plnkr.co/edit/6S4yKh?p=preview](http://plnkr.co/edit/6S4yKh?p=preview)

This plunker is almost reproduction of the aurelia getting started tutorial, but has a few changes.
1. I have removed the http call on the users.js. Instead I am populating the users collec

[2016-02-23 07:13] martingust commented on #274
@ppn2 I get 404 on the link

[2016-02-23 07:17] ppn2 commented on #274
Sorry about that. Can u please try now.

[2016-02-23 16:41] EisenbergEffect commented on #274
Thanks for looking into this @martingust !!!

[2016-02-23 17:01] joelcoxokc commented on #259
@EisenbergEffect I ran into a similar issue when pointing router-views to layers

This is outside of polymer, but I can imagine polymer is doing something very similar.

The issues is, when the viewslot gets bound or created, it calls `this.removeAll()` before inserting  the next view

So if this happens to the missing ParentNode's viewSlot's parent view

and the parentNode is never placed back in

[2016-02-23 17:02] joelcoxokc commented on #259
Ignore the Above. My phone posted before I was finished. I'll remove it ASAP

[2016-02-23 17:09] EisenbergEffect commented on #259
@joelcoxokc Do you have an idea how to fix it?

[2016-02-23 22:03] mbroadst opened #275 "Issues binding an InlineViewStrategy to a different binding context"
I (perhaps stupidly) updated to the most recent releases, and this code which used to work:

[code]

No longer works, and no longer works silently. Instead I just get a bunch of errors in the console about not being able to access `http://localhost/blah/blah/undefined`, meaning that the expression is evaluating to undefined. `someTransformMethodOnTheVM` is a method defined on the VM backing the cu

[2016-02-23 22:06] jdanyow commented on #275
just a guess- this may not be the issue- but I'm betting the markup above is part of a custom element's template and the method you're binding to is not a property on the custom element's view model, it's a property in the outer scope- is that correct?

There was a bug in previous releases that broke custom element encapsulation and allowed a custom element template to bind to stuff it shouldn't h

[2016-02-23 22:08] jdanyow commented on #274
I've been burned by this in the past:  when testing for mem leaks, be sure to clear the console... logging to the console produces memory leaks (when the console is open)

[2016-02-24 02:42] mbroadst commented on #275
@jdanyow yeah I think that's exactly what's going on here. I have an example plunker from a while back when I created this thing [here](https://plnkr.co/edit/LSmSiL?p=info). The use case for this would be to bind something inside the "second" column in app.html. Do you have any thoughts as to how I might emulate this behavior now that the bug has been fixed?

[2016-02-24 03:02] mbroadst commented on #275
@jdanyow specifically, it seems that I already have the plumbing to explicitly provide a view model to the `column` component, however I'm not sure how to:
  a) specify `this` as the view model
  b) default to specifying `this` as the view model

Any sort of tips would be very much appreciated here, please let me know if I can clarify this at all

[2016-02-24 03:15] mbroadst commented on #275
Sorry for all the updates, but I just wanted to add any clarifications I could as I worked through this:

So what seems to be happening here is that my "default" behavior is to take the `innerHTML` of the column and convert it to an `InlineViewStrategy`, then using it as a `view` (not `view-model`) with compose - which, according to do the docs "inherit[s] the parent binding context". In this case

[2016-02-24 09:41] MikaelPorttila opened #276 "$parent and binding-context of custom element and its content children are the same."
Hi I'm having trouble accessing the parent custom element(A) when using $parent on children custom elements (B).
Instead of getting the parent custom element(A) as bindingcontext i get the same binding context as the parent.

[code]

[2016-02-24 11:45] jdanyow commented on #275
you could do something like this:

**my-component.js**
[code]

Another thing you could try instead is something like this:

**my-component.js**
[code]
**my-component.html**
[code]

[2016-02-24 11:51] jdanyow commented on #276
A custom element template doesn't have access to anything outside of it's own binding context. This is intentional and ensures custom elements are portable and encapsulated.  If the example you posted above were supported that would mean the `<b>` custom element only works when used within something that exposes a `foo` method as opposed to something like an `<a>` element that works anywhere.

To

[2016-02-24 11:51] #276 closed

[2016-02-24 12:27] bhaeussermann opened #277 "CustomEvent detail not getting passed"
I created a custom element and added a custom event to it exactly as described [here](http://ilikekillnerds.com/2015/08/aurelia-custom-elements-custom-callback-events-tutorial/).

When the event triggers my function is called, but the event parameter does not contain the detail property.

On Firefox the event is `{"isTrusted":false}`.
On Chrome the event object is empty: `{}`

The blog post sugges

[2016-02-24 14:38] mbroadst commented on #275
@jdanyow see the particular problem here is that the custom component is being created dynamically as an `InlineViewStrategy` and then popped into a `compose`, I'm not sure how I would override the binding context to be the parent VM of the view using the `Grid` this way.

[2016-02-24 14:44] mbroadst commented on #275
@jdanyow I think taking a look at the plunker might make this more clear? It's a bit convoluted in terms of implementation, but it makes the actual user experience pretty fantastic

[2016-02-24 14:52] mbroadst commented on #275
Okay I think I fixed this but perhaps not in the most optimal way. In `grid.js` I took your advice and saved off the binding context:

[code]

and then in the `grid.html` did the following:

[code]

Is that what you had in mind? Does anything look "off" about that (in particular since you chose to use `Object.assign` above)?

[2016-02-24 16:28] mbroadst commented on #275
@jdanyow what I've noticed with this approach is that I now get debug messages for loading resources for the `dataContext` for every row in my `repeat.for`:
[code]

[2016-02-25 02:25] jdanyow commented on #228
https://github.com/aurelia/framework/issues/227

[2016-02-25 02:25] #228 closed

[2016-02-25 11:18] ArunaSelvaraj commented on #162
Shall I know  how to add attribute like header, sortable, etc., to the @bindables either by loop or using single line bindable decorators.

I am have array that consist of these properties!

[2016-02-25 11:40] ArunaSelvaraj opened #278 "Binding attributes for custom elements without using @bindables decorator"
Shall I know how to add attribute like header, sortable, etc., to our custom elements either without  @bindables or by using loop for bindable decorator using a single line bindable.

I have array that consist of these properties!

I simply do not want to write a lengthy @bindable('propname') for each one and not to have @bindable('prop1','prop2').

Plz give me solution ASAP .

[2016-02-25 13:07] mbroadst commented on #275
Hey, so I've updated this plunker here to the code I'm currently running locally (and experiencing this duplication of resource loading with): https://plnkr.co/edit/RJezkP. Unfortunately, while you can definitely see that with the bound `dataContext` you get an import for the context for every row displayed, this example doesn't exactly work because the plunker isn't up to date (and therefore the

[2016-02-25 14:41] EisenbergEffect commented on #278
@ArunaSelvaraj Please don't ask for help ASAP. My team works very hard on many things. We address issues according to priorities as soon as we can. If you have a question rather than a bug or feature, the best place to get that help is in our gitter chat room. gitter.im/aurelia/discuss.

That said, try this:

[code]

*Decorators are just functions that are applied to the target.*

[2016-02-25 14:41] #278 closed

[2016-02-25 17:11] martingust commented on #274
@ppn2 The issue here is that the array is being subscribed on and mutated in the same loop **before** the `repeat` is bound. This is causing the `repeat` to bind with the two values and also receiving a change event with the same items, and thus they get duplicated.

There are some fixes in the next binding release which might fix this.

You could also fix this by queuing up the `splice` call on t

[2016-02-25 17:18] mbroadst commented on #275
Hm, well I've spent about 2 hours trying to track down why exactly this VM is loaded that many times (in fact in my case I have two other VMs inside some of my columns, so for a page of 20 entries I actually have this debug message ~100 times!).  Alas, I'm just not up to snuff enough on the binding/templating system.

@jdanyow if you have any hints to point me at were I should look at in the code

[2016-02-26 04:22] JoshMcCullough opened #279 "Requiring custom element throws error in some cases."
If you require a custom element by its non-lower-case filename, including the extension, the following error is thrown:

Using `<require from="./Panel.html"></require>` causes this error:

Using `<require from="./panel.html"></require>` does not cause any error.
Using `<require from="./Panel"></require>` does not cause any error.
Using `<require from="./panel"></require>` does not cause any error.

[2016-02-26 06:28] EisenbergEffect commented on #279
This is because and html only component has its element name derived from the file name and uppercase is not allowed because the DOM is case insensitive.

[2016-02-26 06:35] EisenbergEffect commented on #277
This shouldn't have anything to do with Aurelia since it's just a standard DOM event. Can you share some code with me or a sample project we can test?

[2016-02-26 07:07] nicolasdejong opened #280 "if.bind reorders template content"
When using a template (in *testpanel.html*) that only contains a `<content></content>` and an empty class called `TestPanel` (in *testpanel.js*) the following input:

[code]

ends up in the DOM as follows:

[code]

It seems something is wrong with the text-nodes that appear to be used to figure out where to put back the bound elements. I looked through the aurelia-templating.js source code but eve

[2016-02-26 13:42] JoshMcCullough commented on #279
Thanks Rob -- and thanks for Aurelia and all you do! :)

I had this discussion on the Aurelia Gitter as well. I'll say that I _don't specifically care_, since I'll just use lower case tag names any way, but the HTML spec does allow mixed case tag names, and simply converts to lower-case (as I'm sure you know): https://www.w3.org/TR/2014/REC-html5-20141028/syntax.html#syntax-tag-name

I felt like t

[2016-02-26 15:04] EisenbergEffect commented on #279
We put this error in place because we found that developers were confused by casings they were applying in code that didn't match HTML.

`<require from="./Panel">` is different from `<require from=".Panel.html>`

The first uses the loader to require a view model. The view model then specifies the name of the element. So, there's no issue with that, since Aurelia converters view models to lower-cas

[2016-02-26 15:15] EisenbergEffect commented on #280
We are aware of this issue. It's a consequence of the way that our shadow dom fallback implementation is implemented today. We are tracking it already and plan to have a fix as part as our update to Shadow DOM v1 slots.

You can follow the issue here: https://github.com/aurelia/templating/issues/250

Thanks for your patience.

[2016-02-26 15:15] #280 closed

[2016-02-26 17:56] Vaccano commented on #253
Not sure if it adds info for this bug, but I hit it while doing the "options" style binding too.

[http://stackoverflow.com/questions/35658280/two-way-binding-in-an-aurelia-custom-attribute](http://stackoverflow.com/q/35658280/16241)

[2016-02-27 01:53] JoshMcCullough commented on #279
Ah, thanks for explaining! I get it now.

[2016-02-27 23:56] jdanyow commented on #275
@mbroadst sorry for the late reply.  I took a look at the plunker and might have an approach for you. It will require more research to implement but will be vastly more performant than building the grid out of nested repeats, compose, if, etc.

Really the grid component you're building is a much more advanced `repeat` which is what's known as a "template controller" in the aurelia framework. The r

[2016-02-29 11:13] bhaeussermann commented on #277
I don't what I've been doing wrong, but it's working now. Thanks! :)

[2016-02-29 12:29] #277 closed

[2016-02-29 15:00] mbroadst commented on #275
@jdanyow thanks for taking a look.

Your observations that this is like an advanced `repeat` ring loud and clear, and bring new insight into the problem indeed. There seem to be a few extra missing pieces in terms of converting this thing into a `@templateController` (on top of the pretty important lack of an ability to assign this to a custom component), specifically that the template controller

[2016-02-29 22:24] #279 closed

[2016-03-01 14:19] SPARTAN563 opened #281 "attribute.createBinding is not a function on Firefox"
# What Happens
Running Aurelia (`aurelia-templating@1.0.0-beta.1.1.1`) on Firefox (tested on 44.0.2) results in an unrecoverable exception being thrown when launching - preventing the application from loading its views correctly. This manifests as the application bootstrapping but displaying no content in its `<router-view>`.

This issue is not present when running the application under Chrome (te

[2016-03-01 14:22] EisenbergEffect commented on #281
To fix this, we will need a reproduction. Please create a simplest possible repro of the bug on the nav skeleton project. You can attach the src folder here. That will enable us to drop it into our test environment and see what is happening.

[2016-03-01 14:31] SPARTAN563 commented on #281
I'll see what I can do - unfortunately I'm very time constrained at the moment on both this and another project, so no promises.

[2016-03-01 14:32] SPARTAN563 commented on #281
That being said, I have an externally available instance on which you can reproduce this - it's not particularly simple but it's the best I can offer right now.

http://beta.farmtracksa.com

[2016-03-02 09:28] MikaelPorttila opened #282 "Compose-ref on a model-property in repeat.for-scope does not bind the reference to the property."
Hi I'm trying to access child compose scopes hosted within a repeat.for scope from the parent using compose.ref on model property but the property will never bind to the ref.
[code]
from the parent I want to access the compose contexts something like this:
[code]
I have built a working plunker of the issue:
http://plnkr.co/edit/timkNg2zBDz6x0qj9YY0?p
any known fixes for this problem?

[2016-03-02 15:05] EisenbergEffect commented on #282
The compose ref isn't going to give you access to your composed view model That gives you access to the instance of Compose (the view model that backs the compose element itself). Doing what you are doing isn't stricly using our public apis, so be ware. But if you want the instance of your own view model from that, you need to reference the `currentViewModel` of the Compose view model.

[2016-03-02 15:05] #282 closed

[2016-03-02 18:04] EisenbergEffect opened #283 "Reflecting properties to attributes"
@levan1993 commented on [Wed Mar 02 2016](https://github.com/aurelia/binding/issues/333)

https://www.polymer-project.org/1.0/docs/devguide/properties.html#attribute-reflection

Is there something similar in aurelia?

---

@EisenbergEffect commented on [Wed Mar 02 2016](https://github.com/aurelia/binding/issues/333#issuecomment-191352485)

At the moment, there is not, but I think we could add this

[2016-03-03 12:42] AdamWillden opened #284 "CompositionTransaction Bug (when using jquery autocomplete)"
# Issue

I've found an issue which I believe to be created by the new CompositionTransaction.

Taken from my comments here: https://gitter.im/Aurelia/Discuss?at=56d82afaf760676329bb4648

I've since noted that if I change pages (so that the router-view updates) the autocomplete element is suddenly added to the DOM and begins to operate as I expect. It's as if aurelia was restricting changes until t

[2016-03-03 14:45] EisenbergEffect commented on #284
If you can create a small, simple reproduction of the bug, that would help us to fix it. Please base your repro off the skeleton and then just zip up and attach the src file to this issue. We can probably resolve this quickly if we have that in hand.

[2016-03-03 14:50] AdamWillden commented on #284
Okay I'll try and do that now.

[2016-03-03 16:06] AdamWillden commented on #284
See attached: [autocomplete-issue.zip](https://github.com/aurelia/templating/files/157137/autocomplete-issue.zip)

I have added an autocomplete containing 4 names (Adam, Ben, Carl, Dave) to the firstName input

[code]

It will not show until you navigate pages as described above.

[2016-03-04 02:10] EisenbergEffect commented on #281
I loaded the app and everything seems to work fine. Is there something I should be doing to trigger the error?

[2016-03-04 02:25] snortblt opened #285 "<compose> element no longer works with dynamic view model"
I'm using the <compose> element to host a dynamically selected view at runtime. The bound viewmodel is null initially and is updated asynchronously after the host view loads. This has been working but in the latest (aurelia-framework beta.1.1.4) this has stopped working. this.view is null here in aurelia-templating.js:

`  Controller.prototype.automate = function automate(overrideContext, owningVi

[2016-03-04 05:48] EisenbergEffect commented on #285
Can you provide a simple sample that I can use to test things out? If you can create a reproduction on the skeleton and then just attach a zip of the src folder to this ticket, i can track it down and get a fix out.

[2016-03-04 06:05] SPARTAN563 commented on #281
Busy deploying a build now which allows you to enable Aurelia's diagnostic output (using `localStorage.setItem('debug', true)`). Issue currently manifests as no content appearing on screen.

Just noticed that the build has bundling enabled, if you'd like me to remove that I can do so (may make debugging easier).

[2016-03-04 06:09] EisenbergEffect commented on #281
Sure...but I can't actually reproduce the bug. It runs fine in FF for me. What version are you running? What OS?

[2016-03-04 06:12] SPARTAN563 commented on #281
That's very curious indeed, running Firefox 44.0.2 on Windows 10 x64 - and the issue was brought to my attention by one of our testers (also Firefox 44.0.2, but Windows 8.1 x64 in that case).

[2016-03-04 06:14] EisenbergEffect commented on #281
I'm running the same version, but on OSX. It takes a sec to load, but does appear to work. @AshleyGrant Can you try out the link above on FF on Windows?

[2016-03-04 06:14] SPARTAN563 commented on #281
Just to confirm, this is what we're expecting to see:

![image](https://cloud.githubusercontent.com/assets/1760260/13519516/0e8f521a-e1e1-11e5-9263-4a51d50e2d15.png)

While this is what we're seeing on Firefox

![image](https://cloud.githubusercontent.com/assets/1760260/13519521/1bdcfc88-e1e1-11e5-8025-742badfccad6.png)

[2016-03-04 06:33] EisenbergEffect commented on #281
Ah, well, that's different. Yes. I can confirm the erratic behavior.

[2016-03-04 06:36] SPARTAN563 commented on #281
Perhaps my description could be a bit clearer - Aurelia does seem to start correctly, however fails during initialization of its initial view. Let me quickly update the description to clarify that.

[2016-03-04 06:36] EisenbergEffect commented on #281
I don't see any errors in the console though. Are you seeing errors? Or is it just failing silently for you?

[2016-03-04 06:38] SPARTAN563 commented on #281
I do see errors, provided I enable debug logging with `localStorage.setItem('debug', true)` - also seeing them come through on our Sentry backend.

[2016-03-04 06:53] EisenbergEffect commented on #281
Is there a chance you can create a simple repro? Or do you have no idea where the scenario is that causes this? Also, are you using the latest Aurelia libs. We've had some fixes, even a few minutes ago. On a long shot...try running jspm update to see if the problem goes away.

[2016-03-04 06:54] EisenbergEffect commented on #285
Try running `jspm update`. We had a regression composition that was fixed and is now released. Let me know if your problem goes away.

[2016-03-04 06:58] SPARTAN563 commented on #281
I'm not entirely certain, I suspect it's got something to do with a complex interaction somewhere - though I can certainly try and debug it from my side as well.

It should be running the latest libs as of 1h ago - but let me update them again and see if it has an effect.

[2016-03-04 07:00] EisenbergEffect commented on #281
I literally just released a couple of fixes. So, on an off chance, see if that makes any difference.

[2016-03-04 07:06] SPARTAN563 commented on #281
Latest update (ran `jspm update` again right now) seems to have made some progress - getting the following error now, unfortunately the internal error doesn't provide much in the way of detail (aside from a line number).

Looking at that line, it's adding a custom router pipeline step to run during the `loading` step:

[code]

[code]

[2016-03-04 14:51] snortblt commented on #285
The issue persists after jspm update. It may be difficult to work up an example. I'll see what I can come up with.

[2016-03-04 15:06] AshleyGrant commented on #281
@SPARTAN563 can you provide some sense of what `createRouteFilterStep` looks like. If you don't want to share it publicly, you can PM me on Gitter. Maybe we can figure this out!

[2016-03-04 16:25] SPARTAN563 commented on #281
Hi @AshleyGrant, that is (/was) being imported from `aurelia-router` - I'm trying to figure out why that was present previously but isn't now, as well as why that is now not present (ran a `jspm update` again just now).

The function, to my understanding (and I implemented it a while ago, so this may be off) was responsible for creating a new pipeline step category which executed as part of the pr

[2016-03-04 16:32] AshleyGrant commented on #281
Did you get it from here originally? https://github.com/cmichaelgraham/spike-aurelia-ts-port-dts-gen/blob/master/aurelia-ts/router/route-filters.ts

[2016-03-04 16:34] EisenbergEffect commented on #281
OH! You are using `createRouteFilterStep`! That was removed in the latest release. That was never intended to be a public API and we didn't know that anyone was using it. Our apologies! The internals of the pipeline step configuration have been reworked but the high level API is the same. There are now strongly typeed methods for each phase of the pipeline. Here's the link to the API: http://aurel

[2016-03-04 16:48] SPARTAN563 commented on #281
Haha, that would explain it - I'm afraid I don't recall where I got it from originally, have been on Aurelia since 0.13.0 with this project, so it's gone through a lot of changes over that time.

Will quickly update everything to the new API and check whether that fixes the issue we were seeing with `attribute.createBinding` (it may simply have been hidden as a result of the other).

[2016-03-04 17:08] SPARTAN563 commented on #281
Right, new version is up (<http://beta.farmtracksa.com>) and unfortunately we're back to the original `attribute.createBinding` issue. Just confirmed that I've got no errors in Edge either, so specific to Firefox.

[2016-03-04 19:41] snortblt commented on #285
[skeleton-typescript-busted-compose.zip](https://github.com/aurelia/templating/files/159280/skeleton-typescript-busted-compose.zip)
Here's a trimmed down version. It doesn't actually produce the same error indicated above, but it does exhibit the issue of never updating the composed view if the bound vm is initially null or undefined. Try uncommenting welcome.ts line 9 to compare.

[2016-03-04 20:19] snortblt commented on #285
There may be two issues here. I've further extended the skeleton project to use the view model inheritance as in my real project, where the base view model has @noView applied. With that, I now get the original error at: `this.view.bindingContext = this.viewModel; this.view.overrideContext = overrideContext`
[skeleton-typescript-busted-compose-2.zip](https://github.com/aurelia/templating/files/159

[2016-03-06 15:30] jdanyow commented on #275
was talking with @mbroadst and put together a minimal repeat attribute to help illustrate what a template controller does:

https://gist.run/?id=60ee02d25797518a9330

[2016-03-08 06:32] JeroenVinke commented on #284
Seeing this with Kendo controls too (such as the datepicker)

[2016-03-08 06:43] JeroenVinke commented on #284
Reproduced here:

[datepicker.zip](https://github.com/aurelia/templating/files/162665/datepicker.zip)

Note that the are two datepickers, one in `welcome.html`  and one in `app.html`. Because the app.html does not change when navigating the datepicker popup in that one will never work. On initial load the datepicker popup in welcome.html does not work either, but after you navigate via the navbar

[2016-03-08 11:46] AdamWillden commented on #284
@JeroenVinke Thanks for adding your experience of this bug and your reproducible demo. I'm eagerly awaiting notifications regarding a fix!

[2016-03-08 12:11] ralexand56 commented on #284
This makes the kendoui bridge unusable. Is there a suggested workaround?

[2016-03-08 15:55] AdamWillden commented on #284
@ralexand56 not that I know of.

@EisenbergEffect is there a way to explicitly trigger a transaction that will allow us to work around the issue until this is fixed?

[2016-03-08 16:02] JeroenVinke commented on #284
@AdamWillden your sample works when `instantiate()` is called from `attached()` and not from `bind()`. Not sure if the same applies to Kendo controls (most of them are already initialized from `attached()`)

[2016-03-08 16:07] AdamWillden commented on #284
Ah right, thank you @JeroenVinke I didn't even notice I was doing instantiation on bind (which makes little sense). I'll test your theory.

[2016-03-08 19:11] EisenbergEffect commented on #284
I suspect that any jQuery-based controls will need to be invoked in the attached. Can anyone reproduce this issue without a 3rd party component library? I'm going to have to dig through Query and 3rd party component code to figure this out, which could take a while. If I had a repro without a 3rd party library, that would help this get resolved faster.

[2016-03-08 19:54] EisenbergEffect commented on #284
@AdamWillden This is how I would write your autocomplete

[code]

Something about the way `autocomplete` is implemented requires that it be called in `attached` after the component is actually attached to the document. I suspect this may be the case with any jQuery widget so this likely applies to Kendo as well. If things worked before it was probably due to a timing issue which was perhaps incons

[2016-03-08 19:54] #284 closed

[2016-03-09 02:20] EisenbergEffect commented on #285
Ok, these are two different issues.

The first issue with composition not working has been fixed. I confirmed this. You will need to run `jspm update` to get the latest.

The second issue results from you trying to compose something that has no view.

That's not supported. However, we could consider it. What exactly would you expect it to do? The code you have in the sample doesn't really make sen

[2016-03-09 02:20] #285 closed

[2016-03-09 03:10] jdanyow commented on #154
updated to latest aurelia:  https://gist.run/?id=d55b3ef835c615b81038

[2016-03-09 03:38] jdanyow commented on #154
not an issue- custom attribute value is not supposed to sync back to the dom element attribute

[2016-03-09 03:38] #154 closed

[2016-03-09 05:10] snortblt commented on #285
Thanks, Rob. I may not have explained the second issue clearly. The base class has no view but the derived VMs do. The use case here is being able to switch polymorphic views at runtime. As I mentioned, it all used to work without @noView applied to the base, so maybe this is a red herring now that the first issue is fixed.

[2016-03-09 10:54] AdamWillden commented on #284
@EisenbergEffect thanks for your help. I think we're all in agreement now.

Thanks also for the modified code. I had a `tabular-autocomplete` that inherited from that `autocomplete` but what you provided was a better structure and I managed to modify the `tabular-autocomplete` in the same fasion

[2016-03-09 12:24] jdanyow opened #287 "Ability to import functions and data into templates"
http://stackoverflow.com/questions/35889226/is-it-possible-to-make-a-function-or-class-available-to-all-views-in-aurelia

discussion: :point_up: [March 5, 2016 12:10 PM](https://gitter.im/aurelia?at=56db12eb68ddef776468dde9)

[2016-03-09 14:52] EisenbergEffect commented on #287
Yes, I think we'll add a new api to ViewResources which will get invoked by the View during its bind phase. This would allow writing view engine plugins that add things to the override context, making them available to bind.

Basically, it would be an official way to do what @bryanrsmith did for his CSS Modules experiment and it would open up the door to a number of other possibilities as well.

[2016-03-09 14:55] EisenbergEffect commented on #285
If you remove `noView` from the base class, you should be good to go then.

[2016-03-09 15:38] mikefills commented on #287
Can someone shed some info why a value converter or a custom attribute won't suffice for that scenario?

[2016-03-09 15:44] EisenbergEffect commented on #287
For the scenario in the SO question, it probably would. But we are considering adding view local data that comes from other sources besides the view model. An example of this might be a set of constants that aren't needed in a view model at all, but that are needed across a bunch of views. A concrete example of this could be "theming" or customer "branding" for mulitenant sites. The demo our team

[2016-03-09 16:23] leosbrf opened #289 "Strange behavior using repeat with compose inside"
I'm trying to use compose inside repeat, but after a number of elements being repeated, the values of my input change unexpectedly (when attached). I have code sample ([here](https://github.com/leosbrf/aurelia)). Some screenshots:
![works](https://raw.githubusercontent.com/leosbrf/aurelia/master/screenshots/Ok%201.png)
![strange behavior](https://raw.githubusercontent.com/leosbrf/aurelia/master/sc

[2016-03-09 17:03] mikefills commented on #287
thank you Rob, this helps a lot on learning Aurelia

[2016-03-10 13:39] mbroadst opened #290 "using a compose inside a manually compiled template"
Can someone more familiar with the internals of the templating engine explain to me why the following code results in an error: https://gist.run/?id=b74bbe825d8e38927947

The code snippet in question is:
[code]

Where I'm trying to manually compile a compose element (this is for the experimental grid component I've been working on).

The error is `TypeError: Cannot read property 'createChild' of u

[2016-03-10 13:45] mbroadst commented on #290
Hmm it looks like if I inject `Container` and then use that as the first parameter of `viewFactory.create` it works. I'm still a little confused as to why `repeat` gets away without having to do something similar (it just calls `viewFactory.create()` with no arguments at all)

[2016-03-10 14:47] EisenbergEffect commented on #290
The repeater gets its view factory as a BoundViewFactory, which is slightly different. That is a special view factory that is already "bound" to a particular template extracted from the DOM as well as a Container instance based on the hierarchy from where the template was extracted.

[2016-03-10 14:47] #290 closed

[2016-03-11 00:41] bryanrsmith opened #291 "Spelling mistake 'delcared'"
@vdangwal commented on [Thu Mar 10 2016](https://github.com/aurelia/router/issues/308)

Not sure but i think there is a spelling mistake in below message from aurelia.

it says 'delcared' instead of 'declared'.

ERROR [app-router] Error: Change handler selectedProvidersChanged was specified but not delcared on the class.
    at BindableProperty.createObserver

[2016-03-11 11:42] mikefills commented on #271
@EisenbergEffect  what's the workaround in case I really need `if.bind` and not `show.bind` ?

[2016-03-13 09:41] b-barry opened #293 "Conditional css require / dynamic css loading"
Hello,

I have a special use case where I have to load a specific css link based on the url.
I tried to perform a if.bind on a require template statement to change de loading but it is not working.
I tried to bind a value (saved in app.js)  to the "from" of a require template statement, it is not working.
Do you have a way to perform this kind of theming in aurelia ?

[2016-03-13 10:49] EisenbergEffect commented on #293
`require` elements are statically analyzed and don't support binding, much like ES2015 `import` statements. If you can provide some more details we can help you find a solution.

[2016-03-13 11:34] b-barry commented on #293
For your website, we would like to change the css loaded based on the sub domain. For example, when someone navigate to sub.domain.com , we would like to load the custom theme of sub in the fly.
So during the loading time of aurelia, we would to be able to load the custom CSS link such as CDN.subcss.example. com

Thanks for the help

[2016-03-13 14:51] StrahilKazlachev commented on #293
Couldn't you add an appropriate mapping in SystemJS before starting the app?

[2016-03-13 16:22] b-barry commented on #293
I don't enough know System js to perform the mapping.
Could You provide a example/ sample ?

[2016-03-13 16:25] devteamexpress opened #294 "Strange Rendering Behavior since 1.1.4 release"
I understand as part of the new aurelia release there was some work done on minimizing the visual popping

We have code which looks like this
    <i show.bind = "router.isNavigating"  class="fa fa-spinner fa-spin"></i>
    <div show.bind = "router.isnavigating"></div>

This has served us well in the past. Now we are experiencing that when the router.isNavigating becomes false meaning the view is s

[2016-03-13 16:59] EisenbergEffect commented on #294
I can't see your code, but first please run `jspm update` to make sure you have the latest. There were a few fixes in that area. If that doesn't fix the problem, then we will need you to create a simple reproduction on the skeleton repo and attach it here so we can run it, see the problem and identify a fix.

[2016-03-13 19:11] b-barry commented on #293
After your question @StrahilKazlachev , I tried the code below in the index.html
[code]
However I got a CORS error and I would prefer doing in the aurelia btw.
Is the mapping that you are speaking ?

[2016-03-13 19:30] devteamexpress commented on #294
I only ran the jspm update today so unless there were releases since then its still broken. I guess I will need to roll back till this is resolved since this is rather noticeable.

[2016-03-13 20:23] EisenbergEffect commented on #294
It won't get fixed unless you can provide a repro. We need that to see the bug in action and track down the cause. If you can put that together, I can take a look at it myself early this week.

[2016-03-13 22:58] StrahilKazlachev commented on #293
No, this way you are loading it.
[code]
You will need the systemjs `text` plugin, you should have it btw, not sure at the moment if aurelia was using it to load the css. Also I'm not exactly sure if this is the correct way to map when using a plugin. Check it out in the systemjs repo, you may also want check the `paths` config. But this way you should be able to use one alias for the styles and ma

[2016-03-14 04:58] devteamexpress commented on #294
I will try to get this to you this morning. If this helps it seems to happen whenever i navigate to a view which contains a compose element in which the acitvate function of that compose element returns a promise.

[2016-03-14 06:53] devteamexpress commented on #294
I got it to happen

Basically i moved all the code from the users page into another view called additionalview and just used a component element instead. I added a promise delay to simulate a call.

If you start on the welcome page and switch to the users page you will see the loading sign comes on but when it finishes it first shows the welcome page again and then jumps to the user page.

https:/

[2016-03-14 08:47] b-barry commented on #293
@StrahilKazlachev with this mapping, do you not override the basic config of Aurelia js ? How I can change it in the fly ?

[2016-03-14 08:54] StrahilKazlachev commented on #293
You will override only if there are collisions. You can not make changes to the config after the app starts loading.

[2016-03-14 12:38] andrevlins commented on #289
cc @jdanyow @EisenbergEffect

This strange behavior is preventing us from updating the framework.

We have an application in production in a large hospital and so far this was the only case in which we did not get a clear upgrade.

BTW thanks for your excellent work!

[2016-03-14 21:09] doktordirk commented on #284
@JeroenVinke the 'aurelia-composed' event might be of use for you

[2016-03-15 00:57] #291 closed

[2016-03-15 03:08] #253 closed

[2016-03-15 11:56] jdanyow commented on #275
@mbroadst can this be closed?

[2016-03-15 12:12] mbroadst commented on #275
yep, sorry!

[2016-03-15 12:12] #275 closed

[2016-03-15 12:24] doktordirk opened #295 "owningView of App.created is null"
[code]
owningView is null on startup. i expected it to be `body`

-----
created(owningView: View, myView: View)
- If the view-model implements the created callback it is invoked next. At this point in time, the view has also been created and both the view-model and the view are connected to their controller. *The created callback will recieve the instance of the "owningView". This is the view that

[2016-03-15 12:30] EisenbergEffect commented on #295
`body` isn't a View. A `View` is an aurelia-specific structure. There is literally no `View` instance outside of the App. I suppose we could create a special null view to use in this type of scenario...I'm not sure though. What were you hoping to accomplish here?

[2016-03-15 13:01] doktordirk commented on #295
basically i wanna fix something in my code which was never nice in the place. :)

anyways, i basically found now what changed with the last framework update

 in eg the skeleton app the order of events are:

* prior to last framework update:
a) app constructor/created
b) app attached
c) welcome constructor/created  <--- after app attached, thus save to use document.body (this includes the contruct

[2016-03-15 13:29] b-barry commented on #293
@StrahilKazlachev It seems working but I always got the XHR errors.
@EisenbergEffect Do you know a other way to perform this dynamic loading by using aurelia ?

[2016-03-15 13:33] EisenbergEffect commented on #295
No, this change isn't a bug. It's a result of our new ability to track nested compositions of UI and aggregate them into a single DOM render update.

[2016-03-15 13:33] #295 closed

[2016-03-15 13:39] EisenbergEffect commented on #293
Aurelia's startup mechanism is async, so you could always just add a script tag dynamically at startup. There are lots of ways it could be done...

[2016-03-15 13:39] #293 closed

[2016-03-15 13:57] b-barry commented on #293
Thanks for the support. I will do it like this

[2016-03-15 13:59] doktordirk commented on #295
@EisenbergEffect  ok, thanks, for the info (and aurelia :) )

[2016-03-15 15:43] oneillci opened #296 "Possible templating bug in IE11"
I am getting an 'out of stack space' error in IE11. I _think_ it's due to usage of a replaceable template-part with the `BindingEngine.enhance` method. My code runs fine in Chrome & FF.

I have a sample project with a simple reproduction at:
https://github.com/oneillci/templating-engine-possible-bug

Hopefully the README contains enough information to understand the issue.

[2016-03-15 16:37] oneillci commented on #296
I have simplified the reproduction as I was originally using a kendo grid and templates. I have removed this usage and the behaviour still exists.

[2016-03-15 18:12] mbroadst opened #297 "decorating a ViewModel during programmatic composition"
I was wondering if it's possible to "decorate" a viewModel with custom methods such that they will be available to the resulting view? Specifically if I had:

my-element.html:
[code]

my-element.js:
[code]

Could I somehow add `doSomething` to the my-element's viewModel when I'm using either `CompositionEngine.createController` or `CompositionEngine.compose`?

Thanks, and sorry for the potentially

[2016-03-15 18:15] EisenbergEffect commented on #297
Probably there's a way to do what you want...especially in the next release. However, I'm not 100% clear on the scenario.

[2016-03-15 18:20] mbroadst commented on #297
@EisenbergEffect thanks for the quick response. I'm experimenting with a `toast` component, which is very similar to `aurelia-dialog`, however I find the implementation of the dialog to be a bit... involved. It seems like there a lot of contortions done there in terms of dynamically injecting a special controller, and that controllers use within the renderer.

The toasts are a far simpler implemen

[2016-03-15 18:28] EisenbergEffect commented on #297
If you just want to add methods, you can use a decorator to mix in the methods to a class. You probably need some toast service though, which would need to be injected.

I would avoid any sort of "magic" of adding methods to a view model that aren't in some way visible.

[2016-03-15 18:28] #297 closed

[2016-03-15 18:36] mbroadst commented on #297
@EisenbergEffect that's what I'm currently doing, you can see the existing code here: https://github.com/mbroadst/aurelia-toast-demo/tree/master/src/toast

I have a `ToastService` that dynamically creates a `ToastElement` and places it into a host (there are six possible positions, so six different toast hosts, this is another issue). This all works quite well, however I need to signal back to the

[2016-03-15 19:19] mbroadst commented on #297
ah it looks like maybe I can do this as part of `Controller.automate`

[2016-03-15 19:24] EisenbergEffect commented on #297
At your own risk....

[2016-03-15 19:24] EisenbergEffect commented on #297
Note that that is a semi-private api.

[2016-03-15 19:28] mbroadst commented on #297
Are there any other examples of programmatically creating a view + view model and binding data to it? There seem to be few resources on this, and I'm not sure its clear through the existing documentation what route I should be taking.

[2016-03-15 20:35] devteamexpress commented on #294
Any update on this?

[2016-03-16 05:43] sylvain-hamel opened #298 "Cannot use oneTime as the defaultBindingMode"
- See here http://plnkr.co/edit/d9EXNNoYixWB6J4bqomI?p=preview
- Open source tab
- search for this line : `this.defaultBindingMode = this.defaultBindingMode || _aureliaBinding.bindingMode.oneWay`;
- set a conditional breakpoint `nameOrConfig.name === "foo"`
- run

When the debugger stops, `this.defaultBindingMode` equals `0` which is the value for `bindingMode.oneTime`. Therefore the boolean expre

[2016-03-16 10:25] EisenbergEffect commented on #298
LOL Good catch. I think we can address this pretty easily. Thanks!

[2016-03-16 12:19] EisenbergEffect commented on #296
@jdanyow Can you take a look at this?

[2016-03-16 12:41] opcodewriter opened #299 "if.bind on <template> works in FireFox but not in Chrome"
Please see example
https://gist.run/?id=0ec28f7c36833e2508c1
Look to `click-to-edit.html`
[code]

You shouldn't see the text "This text node is in DOM only after click " at start, but only after clicking the button.

It works in FireFox but not in Chrome.

[2016-03-17 14:10] RomkeVdMeulen commented on #162
I've been trying something similar to this, with the additional complexity of passing in a render function:

[code]

However, the problem I'm running into is that the render function isn't available yet when the table is being rendered (though it is available during the `attached` hook):

grid.html
[code]

grid.ts
[code]

Is there any way I can ensure the table is rendered after the column render

[2016-03-17 15:02] RomkeVdMeulen commented on #162
Ah, of course I shouldn't be surprised that a function result isn't updated when a bound parameter changes. By replacing
[code]
with
[code]
I got it to work. Apologies for jumping the gun :blush:

[2016-03-17 19:42] DiegoGallegos4 commented on #259
Is this one a bug? Or incompatibility with Polymer and Aurelia at the moment?

[2016-03-18 07:38] emzero commented on #192
+1 on this

I have no idea how to run code (i.e. initialize/retrigger a jquery plugin) after a binding has been rendered. Yeah, I can use attached() but that only works the first time.

[2016-03-18 07:49] doktordirk commented on #192
I also used the aurelua-composed here https://github.com/doktordirk/aurelia-notification/blob/refactor-use-aurelia-pal/src/notification.js

[2016-03-18 07:56] doktordirk commented on #192
@EisenbergEffect That.S exactly the issue i had the others day with the changed behaviour/order of view attaching. I d suggest to have a Blog/Doc Entry about it

[2016-03-18 11:28] oneillci commented on #296
Have you had a chance to look at this yet @jdanyow?

[2016-03-18 14:22] EisenbergEffect commented on #192
@emzero What do you mean by "attached only works the first time"?

[2016-03-18 16:22] emzero commented on #192
@EisenbergEffect Maybe I'm not doing things the Aurelia way but consider the following case:

I have a `repeat.for="item of myArray"` that iterates over myArray and renders a div for each item. After the divs have been attached to the DOM, I use the `attached()` method to run some jQuery plugin code that does something with does attached divs.
Then whenever `myArray` changes (i.e. an item is added

[2016-03-18 17:54] EisenbergEffect commented on #192
Wait...what? You are adding a component and its attached isn't being called? That would be a serious bug. Can you provide some concrete code examples here of what you are doing? I may no be quite understanding the details...

[2016-03-18 18:08] emzero commented on #192
@EisenbergEffect No, it's not a component. It just HTML with Aurelia string interpolation binding.

myViewModel.html
[code]

myViewModel.js
[code]

So the first time the `repeat.for` runs, the `attached()` method of the view-model executes and I can do stuff with those `div.text`. Problem is, whenever an item is added to `myArray` I see it's being attached and rendered in the DOM, but I don't know

[2016-03-18 18:12] chrismbeckett commented on #192
@EisenbergEffect - should this issue be re-opened and tagged as a feature request or documentation request?

The original issue was how to make Aurelia play nicely with jQuery. Either it does, and people don't understand how to do it (doc request), or Aurelia doesn't play that nicely with jQuery but people wish it would (feature request).

[2016-03-18 18:15] EisenbergEffect commented on #192
So solve, this, you want to create a custom attribute to encapsulate your jQuery widget. Here's the general pattern for that:

[code]

Then you apply it on the items you want to apply the plugin to:

[code]

[2016-03-18 20:51] chrismbeckett commented on #192
So, let's assume that this plugin requires a complex hierarchy of DOM elements to function correctly (tabs, or a complex list, etc), and let's say the template source in a VM that ultimately renders the DOM hierarchy that the jQuery UI plugin requires is a combination of components. When the attached() method for the custom attribute you demonstrated above run on that *one* particular component, d

[2016-03-18 21:26] EisenbergEffect commented on #192
Yes, when `attached` runs, all of that has happened. The only thing that has not happened is the `attached` callbacks being run on the children, because those callbacks run depth first, to model the web components specs. But, all elements will be in the dom, including the result of all conditional bindings.

There is no way to have a `render` hook beyond this because the browser simply doesn't tel

[2016-03-18 21:36] chrismbeckett commented on #192
Awesome - thank you for that clarification, and the sample. I have been using the attached() method, but for simple use cases, and was never sure it was going to be reliable under load. Your response has certainly addressed my concerns.

[2016-03-19 14:31] EisenbergEffect opened #300 "Should bound values of dashed "attributes" be assigned to dashed properties or camelCase"
@jpray commented on [Sat Mar 19 2016](https://github.com/aurelia/framework/issues/370)

Hi!

I have a bunch of vanilla custom elements that I'm working on using within an Aurelia app.  A standard interface for custom elements are HTML attributes, so I was a bit surprised to see that something like
[code]
would assign the value of aValueForBar to the bar property and not set the attribute.  But aft

[2016-03-19 14:37] EisenbergEffect commented on #300
The dashed to camel case scenario is the default behavior for Aurelia's bindables so I'm a bit confused when you say that that isn't happening.

Regarding the properties being reflected to attributes, we have a plan to add that in the future.

[2016-03-19 16:01] kiryaka commented on #218
Any updates? This bug making the creation of complex wrapper/decorator components fairly unpleasant. Workarounds looks like hacks most of the time.
`<template><content></content></template>` works
`<template><div><content></content></div></template>` does not works

[2016-03-19 16:03] EisenbergEffect commented on #218
Sorry this issue wasn't updated. I think it was mentioned in another issue. This bug will be solved, but probably not until we update the Shadow DOM to v1. The good news is that work on that starts next week. Hang in there!

[2016-03-19 16:07] kiryaka commented on #218
Good to hear that it is in progress. Thank you for the quick reply. Will survive on the workarounds till there.

[2016-03-19 18:12] jpray commented on #300
Cool, glad to hear the ability to bind to a vanilla custom element's attributes is in the backlog.

Regarding the dashed to camel case scenario, I've updated the [plunker](http://plnkr.co/edit/9BWmzXvCyrnqlha8tSuN?p=preview) to be a simple comparison between a vanilla custom element and an aurelia custom element.  It shows how the aurelia custom element does turn the dashed attribute into a camelC

[2016-03-20 01:55] emzero commented on #192
@EisenbergEffect I didn't mean a `render` hook, I know browsers doesn't tell us when are done "painting". But the `attached()` method runs the first time binding has already been done and the elements are attached to the DOM. But when the underlying data changes and the view is updated, we have no way to know something has been updated and it's already attached to the DOM.

Maybe re-triggering the

[2016-03-20 02:34] EisenbergEffect commented on #192
@emzero You can build such a handler yourself very easily using the technique above. Simply create a custom attribute that dispatches a custom bubbling dom event in its attached callback. Then just put that custom event on any element you care to be notified on. Then, add an event listener inside any element you need to know about that event.

[2016-03-20 21:13] devcube opened #301 "warning: promise was created in handler but not returned from it"
So, I've included bluebird as a Promise polyfill and it complains on some of the promises that are created within aurelia-templating. The warning comes from bluebird and the stack trace is like this (ignore the webpack prefixes):
[code]

I'm not sure but it seems like the promises are not written according to "best practice", see more here:
https://github.com/petkaantonov/bluebird/issues/508

Am I

[2016-03-21 02:01] akircher commented on #76
Can we do interpolation inside html syntax such as  `<input ${ required && 'required'} ${ disabled && 'disabled'}>`?

My use case is creating a disabled menu items using Material Design Lite.  This doesn't work for the their css selector `.mdl-menu__item[disabled]`
[code]

[2016-03-21 02:10] EisenbergEffect commented on #76
No that isn't supported. Our syntax is DOM-based. If it isn't valid html, we don't support it.

[2016-03-21 11:44] MikaelPorttila opened #302 "Repeater won't run (sort)ValueConverter when item property is changed."
Hi!
I'm running a list of items through a repeater with a sortValueConverter which sorts the items by a index-property on the items.

When I add or remove items the sort will run but if I just modify one of the items index-property the sort will not be called.

Is there any way to signal the property change or set some sort of computedFrom('myIndexProperty') property on the the sortValueConverter?

[2016-03-21 12:12] EisenbergEffect commented on #302
@jdanyow Can you answer and also may7be put something in the docs for this since it's such a common scenario?

[2016-03-21 14:06] Scapal opened #303 "Put an element on the body, custom ViewSlot location"
Hi, I a trying to put some view elements on the body from inside a routed view.
This is often needed by 'modal' content like popovers in Framework7: http://framework7.io/docs/popover.html

I tried the following as a test but it doesn't work properly, the container and the content are created but disappear directly.
If I navigate to another view and come back it will be created and will stay.
If I

[2016-03-21 14:34] EisenbergEffect commented on #303
You want to inject a ViewSlot. Take a look at how the `if` template controller works in the templating-resources library. That will guide you. You also may want to see if our modal dialog plugin can help you in this scenario.

[2016-03-21 14:34] #303 closed

[2016-03-21 14:52] Scapal commented on #303
If I inject a ViewSlot, it will be the view slot located where the custom element is defined.
I want to place the element content on an html body child, not where the element is defined.

I first took a clue from aurelia/dialog but I was wondering if their could be an easier way.
Here is what I did and it is working properly:

`service/modal-service.js`:
[code]

Sample usage:
[code]

[2016-03-21 14:53] Scapal commented on #303
Of course I could encapsulate the popover completely like you do in aurelia-dialog but I wanted a more generic approach at first.

[2016-03-21 15:06] EisenbergEffect commented on #303
Sure. That's based on our dialog plugin, so it should be fine.

[2016-03-21 17:36] emzero commented on #192
@EisenbergEffect Your example works well if I needed to execute something for every element that has the custom attribute. I just need to run something once after everything have been "re-attached".
I still cannot figure out how to do it.

Is it really impossible to attach a handler whenever a view is updated because of its view-model data changed (i.e. one or more items have been added to an arra

[2016-03-21 17:50] EisenbergEffect commented on #192
Attached fires whenever the current component that implements the attached callback is added to the DOM...not whenever any component inside it's content is added to the DOM.

Why do you need to depend on the DOM here at all? If you have an array of data, can't you just execute your code whenever your data changes? That would be the correct way to handle this.

[2016-03-21 18:06] emzero commented on #192
@EisenbergEffect I have an array of data that gets updated in a timer. New data (posts) are pushed to an array, this array is used in a repeat.for in the vm. I need the DOM because I'm using the [desandro/masonry](https://github.com/desandro/masonry) plugin and I need to call the `appended(posts)` method with posts DOM elements that have been added. Of course I can't do this when I get the data be

[2016-03-21 18:08] charlespockert commented on #192
@emzero you can watch the DOM for mutation events using a mutation observer. Even better you could just use the `@children` decorator to be notified of mutations by Aurelia.

This would give you a collection of DOM elements that had been added and you could pass these as a collection in one go to the masonry plugin

[2016-03-21 18:13] emzero commented on #192
@charlespockert That sounds just what I need. Unfortunately I can't find anything on this `@children` decorator.
Any documentation/article on it?

[2016-03-21 18:18] charlespockert commented on #192
@emzero search for `@children` here: http://aurelia.io/docs#/aurelia/framework/1.0.0-beta.1.1.4/doc/article/cheat-sheet

There are some examples of use: http://plnkr.co/edit/FauNC4JgvG1X6ugbOzYo?p=preview (I forked someone elses Plunk but look at cs-tabs.html and cs-tabs.js)

The alternative to all this is to inspect the DOM yourself using a mutation observer (but you may have to deal with browser

[2016-03-21 19:14] EisenbergEffect commented on #192
Yes to what @charlespockert has said :)

[2016-03-21 23:16] jdanyow commented on #302
@EisenbergEffect sure

@MikaelPorttila the binding system doesn't observe all properties of all objects, it only observes the props used in the binding expression.  Here's some examples of how you could implement this feature:
https://gist.run/?id=0bdac28d000e80ecc026
https://gist.run/?id=637d1ece26efb425a9ca

[2016-03-22 13:42] EisenbergEffect commented on #298
Any interest in creating a PR and getting your name in the credits?

[2016-03-22 13:43] #274 closed

[2016-03-22 16:01] jadrake75 commented on #96
I think the datatype to the binding signature would be a great feature.  Just discovered our numeric inputs are converting to strings so this would have been nice to coerce the binding without having to use a value converter

[2016-03-22 23:25] jdanyow commented on #96
@brettveenstra / @jadrake75 would you agree that `<input type="text" value.bind="item.address.active|bool">` is just as good as https://github.com/aurelia/templating/issues/96#issuecomment-172212076, assuming we have a built-in `bool` value converter?

[2016-03-22 23:35] csaloio commented on #96
Apologies if I misunderstand, but I don't think a ValueConverter (used in a view) is a substitute for being able to specify a data type in a @bindable (say inside a CustomElement) because as a CustomElement author I don;t want consumer's of the CustomElement to need to remember to use the ValueConverter to pass the correct type.

[2016-03-22 23:45] jdanyow commented on #96
@csaloio right- I was specifically talking about this comment https://github.com/aurelia/templating/issues/96#issuecomment-172212076 by @brettveenstra.

[2016-03-22 23:48] csaloio commented on #96
Ah gotcha. Thought I might have misunderstood :)

[2016-03-23 00:00] jdanyow commented on #289
@leosbrf / @andrevlins are you guys still seeing this behavior?

https://gist.run/?id=ee6f3c41825b329e2caa

[2016-03-23 02:06] andrevlins commented on #289
Yes I'm. Even in your gist.run example after a few attempts with random values ​​the strange behavior happens.

[2016-03-23 05:15] jadrake75 commented on #96
I agree.... the ability to bind the value to a type independently of how it is used as part of the view-model definition is quite powerful.

Note having some simple valueConverters in the framework would help anyways but I think it is a different strategy then encoding it with the binding.  I myself have used ones for empty values, date formats, number conversions, currencies, object to array, upp

[2016-03-23 08:25] fopsdev commented on #96
i've also recognised when going beyond the skeleton (or starter) - projects there is a high chance to need a value converter. in my recent test app i've ended up using a value converter for every input field. so i see some potential there for optimization as well (doing it in the bindable)

[2016-03-23 13:49] leosbrf commented on #289
Yep. I had to workaround using jQuery and, in this case, Im not using aurelia to bind the properties.

By the way, the framework is awesome!

[2016-03-23 17:33] Tinadim opened #305 "repeat.for throwing Cannot read property get Collection Observe of null error"
Hello. In my view model I have an array of objects, and in my view I have something like that:

`<div repeat.for="obj of data"> ... content ... </div>`

When my view loads, my view-model already have some data and the repeat works great. However, I have some AJAX that changes the content of data, and when that happen, the error
`Cannot read property get Collection Observe of null error` is thrown.

[2016-03-23 17:34] EisenbergEffect commented on #305
@martingust Can you look into this?

[2016-03-23 19:31] martingust commented on #305
@Tinadim Are you sure it is still an array after you change the bound object? You will get that error when you bind to an object that `repeat` cannot iterate. The error message for this scenario improved in the latest release. Can you try update to latest and see if you still getting the same error? If so it would be great if you could provide some example repo on how to replicate this.

[2016-03-23 20:30] Tinadim commented on #305
@martingust updating Aurelia clarified the error message, as you said, and I was able to solve the issue. Thanks a lot!

[2016-03-23 20:30] #305 closed

[2016-03-25 16:50] niieani opened #307 "Composing custom element with a precreated view-model without manually specifying the path to the View via <compose>"
There are times where I would prefer to create the ViewModels for my components in the app logic, not have them automatically created by Aurelia.

Currently I can do that like this:

_app.js_
[code]
_app.html_
[code]

But why should I need to type the path to the View? If I'm going to do it over and over again, would be nice if I could do it simply like this:

_app.html_
[code]

It would simply me

[2016-03-25 16:55] EisenbergEffect commented on #307
Have you tried it?

[2016-03-25 17:48] niieani commented on #307
I have indeed. Didn't work, hence the issue :)

[2016-03-25 18:26] EisenbergEffect commented on #307
Ok, it should have worked. Did you get an error? Can you provide some more information?

[2016-03-25 18:35] niieani commented on #307
No error, it's as if it ignored the `view-model.bind` altogether. I'll post
a gistrun when I'm home.
On Fri, 25 Mar 2016 at 19:26, Rob Eisenberg <notifications@github.com>
wrote:

[2016-03-25 22:31] niieani commented on #307
Here you go: https://gist.run/?id=f6152812e3b3cfa41bba

[2016-03-26 18:35] jdanyow commented on #307
From the gist:
[code]

this part is not valid: `<test view-model.bind="testInstance"></test>`

A view model instance cannot be specified for a custom element.

[2016-03-26 18:35] #307 closed

[2016-03-26 19:30] niieani commented on #307
@jdanyow Jeremy, I think you misunderstood. That's the point of this issue:

I know that this syntax is not valid, but it would be nice if an instance could in fact be specified for a custom element, so that path to the View would not need to be necessary every time when composing a custom element with a preexisting ViewModel instance.

[2016-03-26 19:42] alvarezmario commented on #307
@niieani this is valid syntax:
[code]
With current implementation you don't always need to write the view.

[2016-03-26 20:47] EisenbergEffect commented on #307
We aren't going to change this...it would be to costly. Instead we provide the compose element, you should be able to specify only a view model with that, without needing to specify a view. If that doesn't work, then it's a bug and we can fix it.

[2016-03-26 21:25] behzad888 commented on #307
That does'n work,
`<compose if.bind="recursive.checked" view-model="./hello"></compose>`

[2016-03-27 10:16] niieani commented on #307
@EisenbergEffect I didn't realize it works without specifying the view path, it's an undocumented feature. Awesome! That solves my problem then, thanks.

[2016-03-27 10:27] niieani commented on #307
@EisenbergEffect Actually there's one scenario where this won't work: `as-element` attribute. Is there a way to combine the two? To use it while specifying the view-model at the same time? Not sure what the syntax would be in that case?

[code]

It would be awesome if that could work, composing the above div as element of the selected view-model. Would it be difficult to implement?

[2016-03-27 10:31] EisenbergEffect commented on #307
Try this

[code]

[2016-03-27 10:32] niieani commented on #307
@EisenbergEffect Brilliant. A bit verbose, but works. Thanks. It would be great to add all of these examples to the cheat-sheet.

[2016-03-27 10:33] EisenbergEffect commented on #307
If you submit a PR to add them, we could gladly accept :)

[2016-03-27 10:36] niieani commented on #307
@EisenbergEffect I wanted to submit a PR for the docs already in the past, but I can't find which repo the docs are located at.
https://github.com/aurelia/documentation/ doesn't seem to contain any of the docs from the website.

[2016-03-27 12:02] EisenbergEffect commented on #307
The cheat sheet is on the framework repo.
On Mar 27, 2016 6:36 AM, "Bazyli Brzóska" <notifications@github.com> wrote:

[2016-03-27 21:26] opcodewriter commented on #299
it's been 11 days...

[2016-03-27 22:46] EisenbergEffect commented on #299
Apologies for the delay, we've been very busy lately dealing with jspm and Babel updates, system.js alternatives and polyfill improvements.

With respect to this issue, try something out for me: remove the "replaceable" attribute from your if template and see if it starts working. I think that might do it. If it does then you have a workaround and we know what the issue is.

[2016-03-28 16:50] jpray commented on #300
Looking to keep this conversation moving forward, I've drafted a couple potential tweaks here with inline comments. https://github.com/jpray/templating-binding/pull/1/files

If you think this is on the right track, I'll submit a real PR with tests, but there is one question I know I still need answered:

1. There doesn't seem to be a robust camelCase utility function available yet.  I would need d

[2016-03-28 16:52] EisenbergEffect commented on #300
@jdanyow What do you think of this? It would make things a bit more consistent. Do you think there would be any negative side effects?

[2016-03-28 18:49] Vaccano opened #310 "Changes to unbind causes null entries (and that leads to bad bindings)"
This pull request created by @jdanyow  https://github.com/aurelia/templating/pull/306 fixed a bug that was blocking me, so I added it to my application like this:

[code]

This fixed this [issue](https://github.com/aurelia/binding/issues/361) for me.  But it surfaced another.

Here is the setup:

If I have a custom element setup like this:

    <div repeat.for="box of boxes">
      <box box.bind="

[2016-03-28 19:19] EisenbergEffect commented on #310
@jdanyow I'm starting to think we made a huge mistake and should never have enabled binding expressions for the ref attribute. Can you see any easy way to solve this? I had no idea people were going to try to create arrays of refs and synchronize those back to an array on the view model.

Should we just say that syncing of arrays isn't supported and explain to developers that overuse of ref would

[2016-03-28 19:40] Vaccano commented on #310
@EisenbergEffect - I don't want to engage in bad practice.

My scenario is that I have some methods on the view-model children that I want to be a callback to the view-model parent. (Things like focusNextChild, isDuplicateChild etc.)   This feature was an easy way to do that.

If there is another way to do that I am fine not using this feature.

[2016-03-28 19:44] EisenbergEffect commented on #310
You could just use DOM events. Also, perhaps the `@children('selector')` decorator would work?

[2016-03-28 19:53] stoffeastrom commented on #310
Or use a `@bindable`? If you have many you could use use a `@bindable api` where `api` is an object from the parent with needed functions?

[2016-03-28 20:07] Vaccano commented on #310
@EisenbergEffect - `@children` looks promising.  But the docs are thin on that one.  Is there any example code out there for that?  (I tried it and got an empty array)

@stoffeastrom - That could work. I will give it a try.

[2016-03-28 21:03] Vaccano commented on #310
@EisenbergEffect I was able to work around needing this feature using the `@bindable` method (thanks @stoffeastrom !)

Still does not feel any different to me from a best practices point of view.  I am still keeping a list of the child view-models (so I can know which one is next and previous (for focusing)).  The only difference is that I am maintaining the list now (rather than Aurelia).

Howeve

[2016-03-28 21:05] EisenbergEffect commented on #310
It is probably "do-able" however it's highly non-trivial and I'm thinking we might end up with a strange amount of complexity introduced to do it. I'm not sure if it's worth it. @jdanyow may have a better fell for things though. He's our binding guru :)

[2016-03-28 21:06] EisenbergEffect commented on #310
@Vaccano If your refs were to view models, that's not such a big issue. I do get concerned when building VMs that have lots of coupling to HTML elements themselves.

[2016-03-28 21:48] #298 closed

[2016-03-28 22:41] jdanyow commented on #310
I agree- would be messy/complex to add further support for this scenario in binding.

@Vaccano if the child element is tightly coupled to the parent element, you can express this as a dependency in your Box class.  Let's assume the parent element that uses the boxes is named `BoxParent`, and box-parent.html looks like this:

[code]

If you make your Box class look like this:

[code]

You can acces

[2016-03-29 09:47] RomkeVdMeulen opened #311 "View not rendered with self-closing require tag"
This works:

[code]

but if I make the require-tag self-closing:

[code]

there's no error, but the view isn't rendered.

I spent a lot of time looking elsewhere until I found this. If this is expected behaviour, I suggest adding a note to the docs (Requiring Resource in the cheat sheet at least).

[2016-03-29 10:45] EisenbergEffect commented on #311
Our upcoming custom element docs have a note on this. Basically, the browser doesn't support custom self-closing tags. It only recognizes an internal, hard-coded list of tags that support this. It's unfortunate and even the web components specification doesn't allow for this :cry:

[2016-03-29 10:45] #311 closed

[2016-03-29 21:13] istrau3 opened #313 "Strategy to mock a dynamic dependency (custom resolver)"
I have a class with the following signature:

[code]

and I am looking to write a unit test for it. I can't seem to figure out how to do this. I placed a breakpoint in the container.get and it doesn't seem to match any key (if it did I could registerResolver using a mocked up resolver).

Here is DependencyFactory for completeness's sake:
[code]

So what should my strategy be to mock this dependenc

[2016-03-29 21:46] 5ebastianMeier opened #314 "Custom Attributes with options don't allow camelCase on bindable properties"
I discovered that the syntax is a bit limited in this example.

[code]

If you're busy I might have enough time to look into this next week.

[2016-03-29 21:49] Vaccano commented on #310
@jdanyow That ended up working very well for me.  Thank you!

However when I added `bind` to my box view model, my `@bindable` `changeHandler` callbacks were no longer called by Aurelia.

Not sure if this is intended, but I wrote up an issue and repro for it here: https://github.com/aurelia/binding/issues/363

Either way, I no longer need this issue fixed.  Not sure if you want to close it or leav

[2016-03-30 01:24] jdanyow commented on #314
bindable properties with mixed casing are hyphenated, even in custom attributes:

`<div some="doeswork.bind: 'something'; does-not-work.bind: 'this will work'">`

[2016-03-30 01:24] #314 closed

[2016-03-30 01:28] jdanyow commented on #310
cool- thanks for following up.  Will leave this open for now.

[2016-03-30 03:40] rockResolve commented on #245
FYI There is no typescript support for view.viewFactory
Wanting to use as suggested:

    created(owningView: View, myView: View) {
        let containingViewResources = owningView.viewFactory.resources;
        ...

[2016-03-30 18:29] 5ebastianMeier commented on #314
@jdanyow Now that you mention it this seems kinda logic considering the overall convention.

Is there a way for me to contribute this as an example to the cheatsheet in the docs?

That's the only real documentation on typical use cases for the moment and although this convention seems logic I doubt I am the only one running into that issue.

I couldn't find any explicit hint to this in the docs.

[2016-03-30 18:55] 5ebastianMeier commented on #314
Another thing, although that concerns databinding:
I discovered the (not yet documented) feature to select binding modes (like one-time) in string interpolation. But the keyword in the syntax is expected in camel case:
[code]
The hyphenated version of this (one-time) is not working.
Although I like the camel case approach better this seems inconsistent.

The camel case version in this example in m

[2016-03-30 21:36] EisenbergEffect commented on #314
The cheat sheet is in the doc folder of the framework repo. We would love any PRs you think are valuable for the community.

[2016-04-02 00:20] dilvish4ever opened #315 "Very low performance of repeat.for repaint with ArrayValueConverter"
List: 20-70 rows, 8-10 columns with twbs inputs & selectpikers (3-5 each row). Every row - composed replaceble part
[code]
List:
[code]
After adding dummy ArrayFilterValueConverter
[code]
initial loading and any array operations (push, splice,...) become 10-20 times slower (10-20 seconds only for repaint). Debug message from filter appears immediately after array mutation.

[2016-04-05 11:41] tolemac commented on #20
Yes, still fail on beta.1.3.1 ...
+1

[2016-04-07 13:59] Cedware commented on #173
+1

[2016-04-07 14:11] EisenbergEffect commented on #173
We'll be working on the new shadow dom over the next few weeks. The spec has changed significantly, and frankly, this is the most complex part of the entire framework, so it will take a bit of time. But it's high priority and next up on the list.

[2016-04-08 01:25] #310 closed

[2016-04-10 23:48] kevmeister68 commented on #300
I think the way it works *now* is quite sensible. I am talking about the default behaviour.

Yes, changing makes things more consistent from the perspective of Aurelia, but it actually makes things less consistent from the perspective of someone who is dipping their toe into the waters of Aurelia and trying to retrofit small parts of Aurelia into existing HTML. In other words, a user who originall

[2016-04-11 00:06] EisenbergEffect commented on #300
I think I would agree with that. We have a way to map properties to events
for binding web components so we could add the attribute mailing eventually
too.
On Apr 10, 2016 7:48 PM, "kevmeister68" <notifications@github.com> wrote:

[2016-04-11 00:13] kevmeister68 opened #317 "Resource and Data elements a'la XAML."
One of the really neat features of XAML is the fact that every element in XAML is ultimately the creator of an object first-and-foremost, and it just so happens that some of those objects are involved in presentation. Of course HTML cannot be XAML because it is first and foremost a presentation format, but there are various things Aurelia could do in its templating engine to assist in bridging the