[2018-06-12 19:10] AshleyGrant commented on #574
I have a feeling the issue is caused by having two template controllers one inside the other (if.bind with a repeat.for inside it).

[2018-06-12 19:12] AshleyGrant commented on #574
I have a feeling the issue is caused by having two template controllers one inside the other (if.bind with a repeat.for inside it).

https://github.com/aurelia/templating/issues/590
https://github.com/aurelia/templating/issues/596

In this case, given the async nature of Aurelia's binding engine, I don't think it can be expected that a template controller can know that a view it wants to be remove

[2018-06-13 08:00] Kukks commented on #574
I've also started getting this frustrating bug as part of the new templating versions. In some places where I append items to an array the repeater completely breaks and starts rendering superficial items.
For example
[code]
would render
[code]

[2018-06-13 08:04] Kukks commented on #575
This has started appearing again. Tried all sorts of annoying tactics with package locks and version bumping..
https://github.com/aurelia/templating/issues/574#issuecomment-396849762

[2018-06-13 11:43] Mobe91 opened #625 "Replaceable templates not working across multiple levels"
Replaceable templates accross multiple levels as shown in the following sketch are not working. The replaceable template in `tab.html` gets replaced with empty content.

tab.html
[code]
tab-control.html
[code]
app.html
[code]
Neither works this:

tab.html
[code]
tab-control.html
[code]
app.html
[code]

[2018-06-13 11:45] StrahilKazlachev commented on #625
At the moment *replaceable parts* are single level.

[2018-06-13 14:46] StrahilKazlachev commented on #625
By *single level* I meant *direct*. In the first example you are targeting *from* `App` *in* `<tab>`, *through* `<tab-control>`. This just isn't supported.

[2018-06-19 23:27] PWKad opened #627 "ViewResources and generated .d.ts file does not implement `valueConverters` property"
**I'm submitting a bug report**

* **Library Version:**
1.7.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
8.9.3

* **NPM Version:**
5.5.1

* **JSPM OR Webpack AND Version**
JSPM 0.16.32

* **Browser:**
all

* **Language:**
TypeScript 2.3

**Current behavior:**

When using `aurelia.resources.valueConverters` as identified in this blog post - htt

[2018-06-19 23:32] bigopon commented on #627
That's interesting doc, and we probably need to fix it. This is the public API part for it https://github.com/aurelia/templating/blob/master/src/view-resources.js#L481-L483 and it should be used that way as it works with `ViewResources` hierarchy too.

[2018-06-20 04:00] #590 closed

[2018-06-20 04:57] bigopon commented on #627
ping @zewa666 @EisenbergEffect for i18n doc fix

[2018-06-20 06:55] zewa666 commented on #627
Im not sure this is even part of the official docs. I think it was only part of the linked blog post

[2018-06-20 09:35] bigopon commented on #575
Hmm it's not easy to track down, I have updating through many version and haven't gotten into that bad state of the repeat. Can you please share a repro or some more info @Kukks  ?

[2018-06-20 09:39] bigopon commented on #541
@EisenbergEffect Fixed by #592

[2018-06-20 09:39] Kukks commented on #575
Just an example of using .push on the array, with a .length print at the bottom:
https://gyazo.com/f5def4c9e4d8897e866a26f48b904309

[2018-06-20 09:49] bigopon commented on #575
Maybe the specific block that updating the array should do

[2018-06-20 09:54] Kukks commented on #575
[code]

[2018-06-20 09:55] bigopon commented on #575
How you are adding element to `chosenTranslations` ?

[2018-06-20 09:57] Kukks commented on #575
`chosenTranslations.push(null);` straight from the html
I have other scenarios where I get the same effect from a view model  x.push

[2018-06-20 19:14] Scapal commented on #549
This seems quite an urgent issue since WebPack is now the default in Aurelia/Cli.
I ran into the same problem twice this week and lost a couple of hours :-(

[2018-06-20 22:36] PWKad commented on #627
Ah perfect thanks!

[2018-06-20 22:36] #627 closed

[2018-06-21 09:30] Scapal commented on #549
Ok, thanks to @bigopon, the problem goes away by using `PLATFORM.moduleName` in the `DialogService.open()` `viewModel` parameter.

[2018-06-22 14:22] jmezach opened #629 "Updating aurelia-templating to 1.8.0-rc.1 results in error during startup"
**I'm submitting a bug report**

* **Library Version:**
1.8.0-rc.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.5

* **Node Version:**
8.11.2

* **NPM Version:**
5.10.0 (same with 6.1.0)

* **JSPM OR Webpack AND Version**
webpack 3.12.0

* **Browser:**
Chrome 67

* **Language:**
TypeScript 2.8.1

**Current behavior:**
Updating only aurelia-templating to version 1.8

[2018-06-22 17:00] classicalConditioning commented on #574
y = [1, 2];
Template: `<div repeat.for="i of y">${i}</div>`
**Steps to repro:**
1) Problem with `array.shift()`:

call `y.shit()`
you will get the error described in this thread.

2) Problem with `array.unshift()`:

call `y.unshift(3)`
`y` shows proper value in the console: [3, 1, 2]
but in the view - a bizarre value is rendered: 31212

[2018-06-22 21:48] doktordirk commented on #629
yeah, i never understood why they don't use peerDepebdecies to avoid such issues. anyways, meanwhile use yarn and add to your package.json

[code]

[2018-06-23 04:44] EisenbergEffect commented on #629
@doktordirk We'd be welcome to PRs to improve how the packages are configured to make these scenarios work better. Once upon a time (quite some time ago now) when we originally set this stuff up...I'm not even sure if NPM supported peer dependencies....and I don't think we anticipated the challenges at that time. Since then, we just haven't changed much in the package configuration. We're certainl

[2018-06-25 06:34] jmezach commented on #629
After reading [this](https://lexi-lambda.github.io/blog/2016/08/24/understanding-the-npm-dependency-model/) I think I tend to agree with @doktordirk and it would probably solve this issue. Having two distinct versions of the same package at runtime usually breaks stuff.

I have also since verified that [this fix](https://github.com/aurelia/templating/commit/b4abe6e) solves my original problem. We

[2018-06-25 06:50] doktordirk commented on #629
@jmezach switching to yarn is zero effort. anyways, npm shrinkwrap also should do the job

[2018-06-25 07:36] jmezach commented on #629
@doktordirk While I agree that it's not that much of an effort, it is a lot of effort if you have a team that suddenly need to use yet another tool. Additionally we'll need to do some modifications to our build pipeline as well.

Not sure how npm shrinkwrap will help us though. I just tried running it, but as far as I can tell it doesn't solve our problem. It only renames the package-lock.json wit

[2018-06-26 11:42] doktordirk commented on #629
@EisenbergEffect
The issue here comes from the users need to use a release candidate. -rc and -beta are not in the normal version range and are quiet rightly only included if the parent package also is rc or beta. Using peerDependencies actually wouldn't change that. I don't know anything which would make mixing rc and non rc modules easier for the users on your side. Using yarn (as above) or shri

[2018-06-26 21:38] doktordirk commented on #629
good question. a quick view  only did show https://github.com/aurelia/templating/commit/e7da973. however, given the title (aurelialess aurelia) it sounds like it's needed for the new features of the blog today(?), in which case it certainly would need to drop the -rc tag.  that was a quick view only, however.

[2018-06-27 15:13] jmezach commented on #541
It seems that #592 does indeed fix the issue. Unfortunately we've identified another issue in which unbind is not invoked when combined with routing. I've created a [gist.run](https://gist.run/?id=5671d5594d37830f87a85303025ce6cf) to show this.

In this scenario the subitem and slotitem class's unbind functions are not invoked when navigating, while the other component's unbind functions are calle

[2018-06-30 07:28] doktordirk commented on #629
@EisenbergEffect I did some forking and testing with peerDependencies. while eg aurelia-path, aurelia-route-recognizer are side effect free and could remain direct dependencies. my guess is, that it'll be easier for future fixes to have modules like that included as well and also easier for users to use their own forks if so desired.

So, some structure could be following, with only two core modul

[2018-07-06 06:32] rluba commented on #76
@EisenbergEffect Here’s another use-case that’s difficult to support without native support in Aurelia: I want to use Aurelia’s `route-href` attribute to link to a state, but only if a certain condition is met. For example: Link to an "edit" state, but only if the item is not read-only.

But there’s no built-in way to conditionally add `route-href="…"` to an element. It’s easy to write a custom at

[2018-07-06 07:16] thomas-darling commented on #579
Yeah, we really need this.
I'm trying to bind to a domain model, which exposes its state as readonly properties, while mutations are done by calling methods on it. The `propertyChanged` callbacks are no help here, as I need the getter to expose the state of the model - otherwise I'd get into some nasty manual observation to keep the view model properties in sync with the domain model.

Example use

[2018-07-06 16:20] VagyokC4 commented on #574
I'm also getting this issue.  I simply push into the array and while the array looks right, the repeat.for is drawing extra items. and the above error shows up in the browser.

[2018-07-06 16:37] EisenbergEffect commented on #579
I believe we have something that will address this implemented for our vNext. I was hoping to backport it to vCurrent. One reason I'm waiting is because there's a bit of an issue with tc39 and how the proposed private fields will work that causing potential runtime errors when used with proxies. Some of the experimental code for dependency tracking that we have leverages proxies. Before we push th

[2018-07-06 16:48] istrau2 commented on #579
@EisenbergEffect Sounds like you are planning big changes in the implementation of computed-observer. Wondering how these changes would affect these two plugins:

https://github.com/stellarport/aurelia-async-bindable-bluebird
https://github.com/stellarport/aurelia-redux-connect

[2018-07-06 18:15] EisenbergEffect commented on #76
@rluba What would be the meaning of the link if there was no route-href? Would you want to remove the entire link instead?

[2018-07-06 18:19] EisenbergEffect commented on #579
If you have a getter or setter today, aurelia has to do dirty checkig, based on a timer, which isn't great. This would upgrade that to a mechanism that would attempt to detect dependencies. I believe that it should work with plugins that create getter/setters as along as those plugins respect the existing getters and setters by properly wrapping them. I haven't tested that out though. If we bring

[2018-07-06 20:57] timfish commented on #76
For a similar situations we bind to `disabled` although I don't think this is supported by default in older browsers.

[2018-07-06 23:54] VagyokC4 commented on #575
I'm experiencing this problem as well...    Can we get this issue escalated and resolved?

[Animated GIF](https://i.imgur.com/4EZv6d3.gifv)

[2018-07-07 12:43] Kukks commented on #575
It's a bug in Aurelia, i did some further  debugging and had posted in the
gitter along with a nasty hack where you override the prototype with a
dangerous patch. It really is a crazy bad issue and seems to be very hard
to replicate but keeps popping up every time you try to update Aurelia.

On Sat, Jul 7, 2018, 21:22 doktordirk <notifications@github.com> wrote:

[2018-07-07 13:07] doktordirk commented on #575
@Kukks  hard to find anything on gitter. can you repost here or in discourse?

[2018-07-09 06:44] rluba commented on #76
@EisenbergEffect In this case I’d prefer to remove the whole `<a>` tag and just keep its children, but I don’t mind it staying there without a `href`.

But in the general case I just want to remove the attribute. (For example if I want to conditionally show a tooltip, etc.)

That’s not appropriate here. The element can contain plenty of children that might be active, I just want to remove a partic

[2018-07-10 13:20] thomas-darling commented on #579
Yeah, I assume this is the one you're referring to:
https://github.com/tc39/proposal-class-fields/issues/106

That's an unfortunate situation they are creating there.
That said though, proxies are probably the only good way to solve this, so we'll just have to fight it - and looking over the vNext binding code, it does indeed seem to handle my use case nicely :-)

**A side note**
In vCurrent, ther

[2018-07-11 00:32] EisenbergEffect commented on #579
@thomas-darling We're definitely working to improve those exact things for vNext.

[2018-07-11 00:57] thomas-darling commented on #579
Awesome - much appreciated! 👍

[2018-07-11 03:35] EisenbergEffect commented on #76
@jdanyow Could we do this with a binding behavior? We've got the `attr` binding behavior today that does this for built-in attributes. Could we expand that to work for custom attributes as well, in a general way?

For reference to those on this thread:

* The `attr` binding behavior: https://github.com/aurelia/templating-resources/blob/master/src/attr-binding-behavior.js
* The underlying binding:

[2018-07-11 11:45] nenadvicentic commented on #565
Why isn't this stated in Aurelia documentation as a known issue in IE?  I guess that everyone who eventually ends up on this pages, spends LOT of time to figure where the issue actually is, same as I did, just to find out that it's well known problem.

[2018-07-11 12:02] StrahilKazlachev commented on #565
@nenadvicentic like this [Invalid Table Structure When Dynamically Creating Tables](https://aurelia.io/docs/fundamentals/cheat-sheet#templating-basics)?

[2018-07-11 12:37] nenadvicentic commented on #565
@StrahilKazlachev And why is is not in the section with the same name "Templating Basics" in normal documentation? There you have exact example of repeater on the template element `repeater-template.html`.

Unfortunately, I did not look at Cheat Sheet, since I was already reading templating documentation.

[2018-07-11 12:45] StrahilKazlachev commented on #565
@nenadvicentic probably since the "cheat-sheet" was the first form of docs, during *pre-beta* and *beta*. Later was not transferred.
PRs were always welcomed from the community.

[2018-07-12 02:08] bigopon opened #632 "Possible bug of premature `automate` call in `CompositionEngine._createControllerAndSwap`"
https://github.com/aurelia/templating/blob/90087a0dd4af40a6305ebd3810a40e39b8c362ed/src/composition-engine.js#L110-L118

@EisenbergEffect while chasing this issue, that appears recently, (https://discourse.aurelia.io/t/using-require-breaks-router/1411/17), I noticed that it's always calling `automate` before `waitForCompositionComplete()`, which could potentially be wrong. Should it be like the fo

[2018-07-12 02:15] huochunpeng commented on #632
Did it solve the weird timing bug with bluebird?

BTW, I think you can dry it to
[code]

[2018-07-12 02:21] bigopon commented on #632
Yes, you can solve bluebird bug with following patch

[code]

[2018-07-12 10:05] nenadvicentic commented on #565
@StrahilKazlachev Unfortunately, right now I have to recover time lost on the project. Possibly I make PR at some later point.

[2018-07-16 02:09] huochunpeng commented on #632
Any update on this fix?
More people are affected by this nasty bug.

https://stackoverflow.com/questions/51348676/aurelia-nav-bar-not-showing-up-any-more

[2018-07-16 03:56] EisenbergEffect commented on #632
@bigopon Do we have a PR for the suggested fix? We could merge that and get it out Monday or Tuesday. I've got another bug fix in binding that's planned to go out then too. Let me know.

[2018-07-16 23:21] bigopon commented on #632
@EisenbergEffect I can create a PR from the snippet above. We will have 2 choices:

1. Keep the old behavior of repeat, by reverting my old PR https://github.com/aurelia/templating-resources/pull/349
2. Apply the above fix, keep the repeat fix.

1 will solve no bug, but it will bring back the long "stable" behavior
2 will solve both bugs, but i'm not certain what this fix implies for existing appl

[2018-07-17 00:30] huochunpeng commented on #632
To me,
Option 2 is needed anyway to normalise native/bluebird promises, there might be more edge cases if not fixed.
Option 1 is for future. After @fkleuver implemented changeQueue in vNext, all rendering will be processed when model is not mutating. aurelia/templating-resources#349 will be unnecessary by the time.

[2018-07-17 02:03] fkleuver commented on #632
@huochunpeng Yeah about that, the concept I had in mind is starting to manifest itself in an almost complete rewrite of `binding` as well as a large amount of small changes in `templating`.

The changes are too fundamental for a "quick backport" and our current test coverage isn't nearly high enough to confidently release something like that. It would probably have to come in the form of a "backwa

[2018-07-17 02:58] davismj commented on #632
@bigopon Did @huochunpeng 's version fix the issue as well?

[2018-07-17 03:02] bigopon commented on #632
@davismj What version is it ?

[2018-07-17 03:46] EisenbergEffect commented on #632
@bigopon I can't think of a reason why waiting to call `automate` until after the transaction is complete would be a problem. Can you submit a PR for this change? I can get it merged and released today or tomorrow.

[2018-07-17 03:48] bigopon commented on #632
K, i'll push it up soon.

[2018-07-17 04:58] #632 closed

[2018-07-17 16:19] rmja opened #634 "<template> without custom attributes is rendered incorrectly"
**I'm submitting a bug report**

* **Library Version:**
1.8.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.2.1

* **NPM Version:**
6.1.0

* **JSPM OR Webpack AND Version**
webpack 3

* **Browser:**
all

* **Language:**
all

**Current behavior:**
The following renders correctly, being that the `template` is removed such that all the `li`s are

[2018-07-17 19:32] StrahilKazlachev commented on #634
Can you provide a use case? I find the current behaviour quite correct.

[2018-07-17 19:37] rmja commented on #634
I dont have a particular use case, I found it by accident and thought that
the behaviour was strange.

tir. 17. jul. 2018 21.34 skrev StrahilKazlachev <notifications@github.com>:

[2018-07-18 06:05] bigopon commented on #634
This is the expected behavior. What `if` custom attribute does is "turning" `<template/>` into a view factory, which later will be rendered without the `<template/>` element. Without the `if` custom attribute, it's just a normal element like any other element, any Aurelia doesn't do anything with it.

[2018-07-18 06:13] rmja commented on #634
Ok, I will close since I don't have any particular need for this to actually work:-) Thanks for clarifying.

[2018-07-18 06:13] #634 closed

[2018-07-20 02:14] stuartbale commented on #574
I'm experiencing the same behaviour as @VagyokC4
Will investigate further for possible cause.

[2018-07-25 04:39] michaelsmithson commented on #575
We had something similar happening in our project today, where the push was causing duplicate items. Looking at the final compiled code it appears we have ended up with two different versions of the binding library imported in our solution (1.6.0 and 2.1.0).

The binding library patches the push method on the array prototype with a version that adds a change record. With two versions of the librar

[2018-07-25 04:48] michaelsmithson commented on #574
I had some issues with the repeater rendering superficial items today. This was caused by me accidentally getting two different versions of the binding library imported. Left a more detailed comment on #575

[2018-07-25 04:51] stuartbale commented on #575
@michaelsmithson - when you say "binding library" do you specifically mean aurelia-binding (https://www.npmjs.com/package/aurelia-binding) or something else?

[2018-07-25 04:55] huochunpeng commented on #575
Here is my guess.

Probably this is the way how webpack works, it tries to mimic nodejs behaviour.

Previous @EisenbergEffect released new parser in aurelia-binding v2 to make it a safe opt-in. But since then, aurelia core libs have been updated to depend on v2.

But if you have some 3rd party plugin (very likely) still asks aurelia-binding ^1.x.x in the package.json, you end up with 2 versions of

[2018-07-25 05:05] stuartbale commented on #575
Ah yes, i see that my:
aurelia-plugins-google-recaptcha
'requires' aurelia-binding ^1.7.1
I will see if I can fix it somehow.

[2018-07-25 05:05] michaelsmithson commented on #575
@stuartbale yep, I do mean the aurelia-binding library.
To find this I was stepping through the code in the chrome debugger, and noticed this weird behaviour inside the binding library push function. I then stuck a breakpoint before it patched the push method and noticed that when I inspected the current Array.prototype.push method that it was not the native function (push() { [native code] }) but

[2018-07-25 12:11] huochunpeng commented on #575
Reference

https://github.com/darrenscerri/duplicate-package-checker-webpack-plugin

https://github.com/zillow/webpack-stats-duplicates

[2018-07-25 22:44] huochunpeng commented on #575
The new resurgence of this isssue, is apparently different from the original issue created by @Kukks.
The original issue was demonstrated in gistrun, which is an aurelia bug. It has been fixed.

The resurgence is caused by which I guess the webpack packed two versions of aurelia-binding.

**It's confirmed.**

I can reproduce this issue with cli+webpack, just use plugin aurelia-plugins-google-recap

[2018-07-25 22:46] huochunpeng commented on #574
See https://github.com/aurelia/templating/issues/575#issuecomment-407920042

All the weird bugs (this and few others github issues) (highly) probably caused by duplicated aurelia-binding in webpack bundle.

[2018-07-25 22:49] stuartbale commented on #575
@huochunpeng I concur. I installed DuplicatePackageCheckerPlugin and saw the same result as you.

[2018-07-25 22:58] fkleuver commented on #575
Yep, this will keep happening as long as these 3 conditions are met:
- `aurelia-binding@^2.0.0` is pulled in as a result of any main dependency allowing it (which is approximately the whole framework at least)
- `aurelia-binding@^1.0.0` is pulled in as a result of another dependency disallowing it (which is a large portion of the plugin landscape)
- `webpack` and `jspm` not offering a means to ove

[2018-07-26 03:56] huochunpeng commented on #575
FYI
Temporary solution: Update webpack.config.js using alias to force one version of binding

[code]

[2018-07-26 05:30] huochunpeng commented on #574
There is a temporary solution for duplicated aurelia-binding in webpack. Please check it to see whether it solve some weird issue of yours.

aurelia/binding#702

[2018-08-05 07:41] rluba commented on #76
@EisenbergEffect That would be great, but I’m not sure if it’s feasible. The binding behavior would have to remove _and unbind_ it’s own attribute, thereby unbinding itself with no way to re-bind when the condition becomes true again.
**If** you get this to work via a binding behavior, I expect it’ll contain lots of messy hacks.

[2018-08-05 21:24] EisenbergEffect commented on #76
So, are you saying you want the whole lifecycle of the attribute to act as if it's bound/attached when it's true and detached/unbound when its false? That would be a change in behavior to attributes in general, as apposed to an attribute whose value is just changed from true to false but where the actual attribute in HTML is added/removed in association with that. With the custom attribute system

[2018-08-07 04:47] firelizzard18 commented on #171
@davismj How does that solve the problem? That is a solution to an extremely limited part of the overall issue, and doesn't even come close to addressing the issue of binding contexts.

[2018-08-07 05:43] davismj commented on #171
It was an example of a flaw in `processContent` .

[2018-08-07 07:59] firelizzard18 commented on #171
Ah. Sorry for griping at you :/

[2018-08-11 18:37] davidsk opened #635 "Require element terminates"
**I'm submitting a bug report**

* **Library Version:**
1.8.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.11.3

* **NPM Version:**
6.3.0

* **JSPM OR Webpack AND Version**
Angular CLI 0.33.1 / SystemJS 6.3.0

* **Browser:**
Chrome 68

* **Language:**
TypeScript 2.9.2

**Current behavior:**
view content following a require tag is not rendere

[2018-08-11 18:44] StrahilKazlachev commented on #635
I suppose this is the issue: `<require from="./style.css" />`. Custom elements can not be self-closing, do `<require from="./style.css"></require>`.

[2018-08-11 19:08] davidsk commented on #635
Ah. Well.  That's a little embarrassing...

[2018-08-11 19:08] #635 closed

[2018-08-27 08:54] jmezach commented on #541
I think the problem occurs when you have a component that has a slot whose content is a component that has a slot itself and a repeat.for is used on that component. I've created another [gist.run](https://gist.run/?id=b805a29cd56c07f4d3ba64f35d519a33) that shows this behaviour. When you click the replace button you'll see (in the console) that unbind() isn't called on the slot-item component. Addi

[2018-08-27 10:59] bigopon commented on #541
@jmezach `isAttached` should be false if its parent `ViewSlot` is already detached. I think the fix introduced didn't cover this case.

[2018-08-28 10:12] jalmansa88 opened #636 "[SOLVED] Dynamic template composition: cannot find Module ID"
**I'm submitting a help wanted / unexpected behaviour**

**Please tell us about your environment:**
* **Operating System:**
Mac OS High Sierra

* **Node Version:**
8.11.2

* **NPM Version:**
6.2.0

* **JSPM OR Webpack AND Version**
webpack ^4.1.1

* **Browser:**
Chrome XX

* **Language:**
TypeScript ^2.7.2

**Current behavior:**
`Unable to find module with ID: components/stream-uebersicht/stream-s

[2018-08-28 10:49] jalmansa88 commented on #636
Great, it works.

However, it is a little dirty to have all the static "imports" for each template. What about whether I need 20 templates? Is there any different way to, dynamically, call to a template by a var name?

Thanks in advance!

[2018-09-03 07:42] #636 closed

[2018-09-03 18:10] rluba commented on #76
Yes, it does.

I understand that there’s nothing comparable in Aurelia at the moment. I understand that just toggling HTML attributes is rather trivial for Aurelia and adding/removing whole Aurelia attributes seems to be close to impossible. I suggested it because other frameworks offer that capability (see `ng-attr-*` in AngularJS) and it is useful in some circumstances.

But I’ve created workaro

[2018-09-04 14:14] StrahilKazlachev opened #639 "Nested slot creates fallback even with override"
**I'm submitting a bug report**

* **Library Version:**
1.8.2

* **Browser:**
all

* **Language:**
all

**Current behavior:**
If we have nested slots the *fallback* content, for the nested one, gets created(`ShadowSlot.prototype.renderFallbackContent` gets called) even when there is an override provided for that slot. After that the fallback view is bound and unbound, it is never attached.

**Expe

[2018-09-04 18:32] rluba commented on #76
I’ll have a look at the discussion for vNext.

Thank you for the invitation, @EisenbergEffect. I appreciate it and will think about what I could share that might be useful for others.

[2018-10-05 09:20] Trix3x opened #646 "<compose> content not loaded in DOM when calling from Attached method."
**I'm submitting a bug report**

* **Library Version:**
au -v 0.35.1

**Please tell us about your environment:**
* **Operating System:**
Linux (ubuntu) but also under Win10

* **Node Version:**
v10.10.0

* **NPM Version:**
6.4.1

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Compose content is not ready in DOM for 'attached' method.
It looks like the attached method is called b

[2018-10-05 09:48] StrahilKazlachev commented on #646
As far as I'm familiar with the `CompositionEngine` and `<compose>` it was never guaranteed that the *composed* `View` will be attached at the time the *parent* view is being attached.
Probably when using *view only* that is not much evident, as when using a *view model* with an `.activate` hook.
Regardless of the scenario(view only/view model with view/...), in the end the composition is done by

[2018-10-05 11:00] Trix3x commented on #646
Hello,
I'm not familiar how the internal works, I'm just a regular user :smile:

I understand what you are trying to say regarding the composition, but I have to put in my 2cents.

It's not the `<compose>` element that should wait until the parent is attached but it's the parent that should wait until all the children are ready and attached to DOM. And it should not depend whether it's `compose` o

[2018-10-05 11:50] bigopon commented on #646
I think #633 and this are not related in any way. There are two `swap` operations going on in this case and neither is instructed to wait for another. First one is of application root composition and 2nd is of `<compose/>`. If there is a tick delayed in `app.attached`, it would work as expected since the 2nd `_swap` from `<compose/>` will run first. Probably it's something like this:

- `<app/>` c

[2018-10-08 23:32] bigopon opened #648 "doc: Enhance <let/> documentation"
I appears that doc for `<let/>` element is a bit too basic, doesn't introduce many advance scenarios like combination with list filtering with value converter, binding behavior. This could make it underused. Would be nice if there could be more documentation about those usages of `<let/>`.
@EisenbergEffect Please label this `help wanted` + `documentation`

[2018-10-15 22:50] Alexander-Taran commented on #541
Maybe can be closed.
Pull request merged

[2018-10-30 12:39] bigopon commented on #595
@itfourp Nice. Thanks!

[2018-11-13 11:14] johanbasson commented on #574
I got this bug today, here is the stack trace:

`
Uncaught TypeError: Cannot read property 'animatableElement' of undefined
    at getAnimatableElement (aurelia-templating.js:1847)
    at ViewSlot.animateView (aurelia-templating.js:1886)
    at ViewSlot.removeAt (aurelia-templating.js:2088)
    at Repeat.removeView (repeat.js:292)
    at ArrayRepeatStrategy._runSplices (array-repeat-strategy.js:19

[2018-11-13 13:12] johanbasson commented on #574
@bigopon Here is the code which updates the array:

[code]
As you can see it is a very simple clear and append to the array.

And here is a sample of the view code:

[code]

[2018-11-13 13:18] StrahilKazlachev commented on #574
Try
[code]
*or*
[code]
if it must be assigned before dispatching the event.
In general try to keep the mutations to the arrays used in bindings to a minimum - on perf side.

[2018-11-13 13:30] bigopon commented on #574
I think we have already tried to patch for this issue. My guess is there is some different version of aurelia binding inside your app. Can you try
[code]
in your webpack configuration?

[2018-11-13 14:01] johanbasson commented on #574
@bigopon I'm using the aurelia-cli with requirejs. I have also checked my node_modules directory and the aurelia-binding version is on 2.1.6

[2018-11-13 20:38] bigopon commented on #574
@johanbasson Thanks. I think this is hard to reproduce and it's a result of some weird combination of modules, could be core, could 3rd party. We'd really need a reproduction to fix this. I'm doing what you do to remove / add stuff all the times and haven't run into it. I'll try again but please share if you can reproduce it.

[2018-11-14 09:01] johanbasson commented on #574
@bigopon Thank you for your help. I investigated the code where the issue occurs and manged to simplify the code which somehow fixes the issue. The code changes does not have anything to do with Aurelia but somehow it does not give the stack trace. I'm at a loss to explain why the code changes fixes the problem, but at least it is sorted now.

[2018-11-14 16:45] tmueller commented on #604
Since #590 is closed, can this be closed as well?

[2018-11-17 07:37] bigopon commented on #595
@itfourp I'm unable to reproduce the issue as you can see from this demo https://dist-ouuggzgmue.now.sh/
I'm not sure where the differences are, but I followed the step you described.

[2018-11-17 08:58] itfourp commented on #595
@bigopon I am sorry my instructions have been unclear. In this example I've already set the view-cache to 0 in the sort-container.html to show the touch issues that occur with disabled view caching. To reproduce the behavior I reported here please just re-enable the caching.

[2018-12-17 14:18] shahabganji commented on #581
This will work when you know the loader for your css is the `text` loader, however when writing a plugin which requires to load some css in a custom attribute or element, and beforehand you don't know which loader will be used, you need adhere to the standard means of importing CSS such as  `import 'mycss.css'`, that will cause errors when using the built-in bundler and having `text` loader, for y

[2018-12-17 22:14] huochunpeng commented on #581
See aurelia/cli#976

`import "some.css"` is not a standard JS feature, different bundlers might supported differently. If you are developing aurelia plugin:
1. in html `<require from="some.css"></require>`,
2. in js if no view `@noView([PLATFORM.moduleName('some.css')]);`

Or use inline css string inside JS file, then do `DOM.injectStyles` manually. Like https://github.com/aurelia/dialog/blob/ab7e

[2018-12-18 07:00] pndewit commented on #581
@huochunpeng Thanks for the extra options, but I can't use these in my case.
1. and 2. can only be used for `customElement`s and I am trying to create a customAttribute with some extra styles.
Inline CSS string inside JS file in combination with `DOM.injectStyles` would work, but my customAttribute depends on a CSS component from a third party that distributes a CSS file.

[2018-12-18 07:51] shahabganji commented on #581
@huochunpeng

My bad, I thought it is.

I currently use `DOM.injectStyles`, and in case of the second approach, I used `viewResources` whcih does not work properly. I'll give noView a shot, but I remember it works with custom elements and not attributes as @pndewit  said. and unfortunately we are also depending on a third party library.

[2018-12-18 07:54] pndewit commented on #581
I just tested it to be sure and it gets ignored. 😞

[2018-12-19 05:55] shahabganji commented on #581
I had seen the issue you mentioned above, I just I have one questions is the built-in bundler using requireJS also depends on webpack? I had the problem with that configuration and not webpack.

That definitely clarified, thanks :pray:

[2018-12-19 07:09] pndewit commented on #581
Thanks @huochunpeng! 👍

This is what I have been doing for the last year or so. Since I am having a monorepo for Aurelia components (custom- elements and attributes) that is based on another monorepo (also maintained by myself) which contains the actual styles for a Material theme, this is generating quite a long list of imports in the base HTML in some cases. Thus my motivation to search for anot

[2018-12-19 07:49] huochunpeng commented on #581
Cli requirejs does not use webpack at all. The [PR](https://github.com/aurelia/cli/pull/976) for requirejs setup to support import css in js is not merged yet.

[2018-12-20 00:04] JNotelddim commented on #252
Where could I find a list of all the characters which need escaping?

I'm trying to move the view markup for some small custom-elements into the view-model files, though it kind of ruins the appeal of inline html when it's all escaped like that. My current element is looking like:
(I'm aware that the `text-content.two-way=` isn't functional with the current value, I'm just leaving it to elaborate

[2018-12-20 00:33] huochunpeng commented on #252
In es6
`` `string-interpolation ${jsValue}` ``

We use `${jsValue}` to inline a JavaScript value. But in Aurelia view template, we want literally string `"${to_be_evaluated_by_aurelia_NOT_JavaScript}"`, so we use
[code]
To bypass es6 string interpolation, the `\$` will result into just one `"$"` char in string content.

So you only need to escape `\$` and `` \` ``, there is no need to escape `.` o

[2018-12-20 00:44] huochunpeng commented on #252
One way to avoid escaping `$` sign is to avoid back-tick syntax, use old single quote (don't use double quote, otherwise you need to escape lots of double quote in html) with back-slash to support multiple lines.

The trade-off is now you need to escape single quote if there is any.

[code]
Make sure there is no extra spaces at right side of `\`, otherwise syntax error.

Note the back-slashes are

[2018-12-20 00:50] JNotelddim commented on #252
@huochunpeng  ok thanks - that's really helpful.
Yeah I was finding that when I was changing
[code]
to
[code]
that my component could no longer load 😅 but... that's not happening anymore? so I'll trust that whatever i was doing wrong, I managed to unconsciously fix 😂
Thanks for your help!

[2018-12-20 04:59] silbinarywolf opened #654 "Aurelia enhance() will crash if a <compose> element exists within a compiled component"
**Related to this comment:**
https://github.com/aurelia/framework/issues/600#issuecomment-252479570

**Related gist from above comment:**
https://gist.run/?id=c59eed72e1c255b8f462c1d45e495a7a

**I'm submitting a bug report**

* **Library Version:**
1.8.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
Webpack

* **Bro

[2019-01-06 18:18] Alexander-Taran commented on #164
@fkleuver is going to look after this for vNext

[2019-01-06 18:59] Alexander-Taran commented on #164
@reinholdk ??

[2019-01-07 13:01] Alexander-Taran commented on #283
@EisenbergEffect added to vNext candidates list.
Can be closed

[2019-01-07 13:10] Alexander-Taran commented on #344
[code]

[2019-01-07 13:41] thomas-darling commented on #283
See my comment here: https://github.com/aurelia/binding/issues/347#issuecomment-451935018

[2019-01-07 15:42] EisenbergEffect commented on #344
I think this is something that @fkleuver should review WRT to vNext surrogate behavior.

[2019-01-07 17:42] Alexander-Taran commented on #283
@thomas-darling your comment there is about vNext.
I do not try to kill your requests. I referenced them specifically in vNext monorepo to be able to come back to them.
I'm trying to clean up the mess of 800+ open issues across 20+ repositories.
Thank you for understanding.

[2019-01-07 17:53] fkleuver commented on #344
@EisenbergEffect what was the issue with @WillsonHaw 's suggestion?
[code]

What do you mean by `It's tricky since the attribute classes haven't been instantiated at that point.`?

[2019-01-07 18:07] EisenbergEffect commented on #344
If I recall, the code for this was in the compiler, so the behaviors wouldn't be instanced at that time. It would probably have to be a static method instead to make it work in that case. You're the expert on what the best way to handle this would be in vNext.

[2019-01-07 21:37] Alexander-Taran commented on #500
@EisenbergEffect added to vNext candidates list.
Can be closed

[2019-01-07 21:43] #482 closed

[2019-01-07 21:43] #500 closed

[2019-01-18 16:39] echjordan commented on #484
@EisenbergEffect
How exactly is the defaultBindable property in the bindable signature supposed to work? Is there more documentation on this? I want to override an undefined value coming from the parent but specifying an empty array as the default seems to have no effect -- the bindable still comes through as undefined. The use case is a form input, as the form starts blank all propagated values w

[2019-01-18 19:17] bigopon commented on #484
@echjordan May i know a bit about the html that is troubling you?

[2019-01-18 19:32] echjordan commented on #484
@bigopon thanks for your response. I managed to figure out a workaround but I do just want to verify what I found: if a bound value from the parent is `undefined`, the default value in the child will not be set.

parent.js
`class Parent {
    array = undefined
}`

parent.html
`<child array.bind="array"></child>`

child.js
`class Child {
    @bindable(defaultValue: []) array;
    //this.array is un

[2019-01-18 19:39] bigopon commented on #484
@echjordan I see, it's the expected behavior. Default value specified in `Child` is always there, before binding system kicks in. The sequence is something like this:
[code]
so it's getting `undefined` from parent, which is what you are telling it to do in the html.

what you can do to make it easier is to handle it in a reactive way:

[code]

[2019-01-29 11:14] Alexander-Taran commented on #654
.enhance is a tricky beast.
it is supposed to be run on not hydrated with aurelia dom.
and be called only once.

If you have au-target and au-target-id already on elements.. than you already ran aurelia magic on them.
your workaround is fine.
you would also want to add `el.au && el.au.controller.viewModel.detached() && el.au.controller.viewModel.unbind()`

[2019-01-29 16:07] rehanhilmy opened #656 "Can't get property from view model in repeater"
**I'm submitting a bug report**

* **Browser:**
| Chrome 71 | Firefox 64.0.2 |

* **Language:**
 TypeScript

**Current behavior:**
I can not get a value (selectedThing) from view model (app.ts) within a `repeat.for`.

**Expected/desired behavior:**
Access a property from the view model in a repeater.

**Reproduce problem:**
I attached an archive with a simple Aurelia project: [Archiv.zip](https://

[2019-01-29 20:32] bigopon commented on #656
@rehanhilmy Thanks for filing this, what you encountered is an expected behavior, not a bug. By default Aurelia binding system traverses the scope tree to find a matching property to observe. The scope tree in your cases comprises of repeat item and the app instance. It traverses from repeat item to app instance.

- If the app instance does not have property `selectedThing`, the binding system fal

[2019-01-30 08:08] rehanhilmy commented on #656
It works, thanks!

[2019-01-30 08:08] #656 closed

[2019-01-30 08:13] Tim-Erwin commented on #656
@bigopon , really helpful answer. Can we find this in the docs somewhere?

[2019-02-04 10:07] bigopon commented on #654
I think this has more to do with documentation than fixing the issue. It doesn't seem there is a safe or easy way to detect which element should be avoided when enhancing a DOM tree.

@fkleuver @EisenbergEffect

[2019-02-04 10:11] bigopon commented on #629
@jmezach @doktordirk I think the main issues described have been resolved, and it feels safe to close this to me. If you have any other issues related to this, please reopen/ open another.

[2019-02-04 10:11] #629 closed

[2019-02-04 22:38] silbinarywolf commented on #654
I've opted to only run it once in my use-case and it seems to be working OK. Improved documentation on enhancing/rendering a template manually would be much appreciated though.

https://github.com/silbinarywolf/cypress-aurelia-unit-test/blob/7a8b69ea872a2b31828549168a7a0210e08743e6/lib/component-tester.ts#L202

[2019-02-05 00:35] EisenbergEffect commented on #654
@bigopon Agree. Let me see if I can add a note right now to go out with the next site content release.

[2019-02-05 09:00] bigopon commented on #625
I'm uncertain whether we can support this feature. Consider the following example:

`a.html`
[code]
What we are seeing here is 2 levels deep replaceable templates, with `part="part-1"` and `part="part-2"`
Now suppose use this custom element in the following way:
`app.html`
[code]
The moment we replace `part="part-1"` in `a.html` with `<template replace-part="part-1">...</template>` from `app.html`

[2019-02-05 13:45] fkleuver commented on #625
@bigopon If you add a (failing or passing) test for it in the vNext repo I can debug and see what might be needed to make it work, or establish whether it's possible at all (and give solid reasoning why not, if not).

[2019-02-05 23:43] bigopon commented on #625
@JoshMcCullough I would imagine something like this

`foo.html`
[code]

## Case 1: I want to replace `part-1` (or `part-2`, simplified to only `part-1`):

`app.html`
[code]

## Case 2: I want to replace `part-1/part-1a`:
[code]

## Case 2: I want to replace `part-1/part-1a` **and** `part-1/part-1b`:
[code]

@JoshMcCullough Yes, it was there to demonstrate that we can't conditionally pick what to b

[2019-02-06 02:15] JoshMcCullough commented on #625
So I wouldn't think you'd use `replace-part="part-1/part-1a"`, but rather simply `replace-part="part-aa`.

I think all of your examples are correct in your latest comment. And it's up to the user to decide if they are replacing the outer or inner parts in this case.  Aurelia could potentially raise an error/warning if a user tried to do this )using your example) ...

[code]

[2019-02-11 14:02] itfourp commented on #595
@bigopon I've updated my example repository [here](https://github.com/itfourp/aurelia-oribella-sortable-replaceable-bugreport.git). There now are two views showing the problem with caching and without - hope it helps.

[2019-02-12 06:04] bigopon commented on #595
Thanks @itfourp , I haven't got around to fix the issue, but I'll try to summarize the issue first for some discussion, before starting that work.

### The normal usage of `repeat` + `view-cache` combo that doesn't cause issue:

Supposed we have the following as template of custom element named `foo`:
[code]
In this case, the template of `repeat` template controller doesn't let any foreign content

[2019-02-12 23:27] EisenbergEffect commented on #595
I'd like @fkleuver's thoughts on this, particularly as it pertains to vNext. If possible I think we should endeavor to solve this for vNext and backport to vCurrent so that our solution here is forward-compatible and so that this usage scenario is captured and handled going forward (no regression in vNext).

I'm not particularly fond of the API above 😏 So, some further design thinking on that woul

[2019-02-12 23:40] #541 closed

[2019-02-13 01:09] fkleuver commented on #595
For a sortable/draggable repeater in vNext, you would use keyed mode. This reorders the elements instead of re-binding them and thereby retains the element state (event listeners, css, etc). That simplifies this situation a *lot*.

For caching views in keyed mode, my immediate thought is: `KeyedViewFactory`. Repeater passes the key to `factory.create`, and factory will only retrieve a cached view

[2019-02-13 01:37] bigopon commented on #595
I'll do this soon.

[2019-02-20 09:21] ChristianKienle commented on #252
Another approach would be to use `{{value}}` instead of `${value}`. In Vue this is even configurable:

https://vuejs.org/v2/api/#delimiters

[2019-02-21 02:26] EisenbergEffect commented on #252
@fkleuver Do we have this as a configuration option in vNext?

[2019-02-24 08:08] bigopon commented on #533
This is an expected behavior with binding system, as by default it look up from immediate binding context to root one. To properly handle this scenario, simply predefine the property used for reference in the constructor, or before `bind()` lifecycle to any value:

[code]

working at https://gist.run/?id=53173d838af7ef9b65cecd8b6145fc67

@rytmis I'll close this, but please feel free to reopen if y

[2019-02-24 08:09] #533 closed

[2019-02-24 08:10] bigopon commented on #488
Closing, as docs are vastly different now, and have been improved quite a lot

[2019-02-24 08:10] #488 closed

[2019-02-28 10:37] sebastien-roch opened #657 "ElementEvents.subscribe set useCapture to true by default, which is not standard"
**I'm submitting a bug report**

* **Library Version:**
master

* **Language:**
all

**Current behavior:**
When using `EventElements.subscribe`, the listener will be set with `useCapture = true`, which is not the standard behavior of the native `addEventListener()` function and thus confuses the developer.

* **What is the expected behavior?**
`EventElements.subscribe` (and subscribeOnce) should u

[2019-02-28 10:39] bigopon commented on #657
@sebastien-roch I've been hit by this as well. It's unfortunate, but we can only fix this in a major release of templating.

cc @EisenbergEffect

[2019-03-01 00:44] EisenbergEffect commented on #657
Sadly, we can't change it at this point because it could potentially break existing apps. What if we had some setting that could be set to get the desired behavior though, in a non-breaking way?

[2019-03-01 00:53] bigopon commented on #657
@EisenbergEffect We cna do that via a static field on `ElementEvents` class, say `defaultListenerOptions`

[2019-03-01 00:56] EisenbergEffect commented on #657
That works for me. @sebastien-roch Would you be interested in adding this property and updating the implementation to use it? I think it would make a fine contribution and we'd be very happy to work with you to get your PR in. Thoughts?

[2019-03-04 11:51] glen-84 commented on #348
@EisenbergEffect Any updates regarding this issue? I have a case where your solution doesn't work.

[2019-03-04 17:48] EisenbergEffect commented on #348
Unfortunately, we won't be able to add the pre-detach event in the current version of Aurelia. However, it is already implement in our vNext (it's called `detaching`). @glen-84 Would you mind opening up a discussion with a few more details in your use case on aurelia.discourse.io ? The core team and community can try to work with you there to find a solution.

[2019-03-08 15:31] glen-84 commented on #348
@EisenbergEffect,

I'm trying to create an example on CodeSandbox, but I need to use `file-loader` for CKEditor, and [that's not working](https://github.com/CompuIves/codesandbox-client/issues/747#issuecomment-470940544).

I don't know if it makes sense to start a discussion when I don't even have an example to show.

FWIW, a summary:

1. You select an item from a select input.
2. On change, it lo

[2019-03-08 21:31] EisenbergEffect commented on #348
@glen-84 In terms of adding the hooks to vCurrent, it's not truly impossible. However, the way that vCurrent is designed, if we were to add more lifecycle callbacks, every component in every app would suffer performance hits. At the time it was designed, it wasn't really meant to handle more hooks than what it has today. In vNext, we've re-designed how the entire component lifecycle is implemented

[2019-03-10 16:22] #574 closed

[2019-03-10 16:23] #575 closed

[2019-03-12 10:41] glen-84 commented on #348
@EisenbergEffect,

Fair enough. Thanks for explaining. 🙂

v4, which can be a bit awkward to get working with webpack (which is why I needed the file-loader).

Yes, there is an error:

From that URL:

I realized that I could create an example without actually using CKEditor: https://codesandbox.io/s/18jkp20o34

If you switch between selecting `Example 1` and `Example 2`, you can see that the DOM el

[2019-03-14 04:18] EisenbergEffect commented on #348
What if before calling destroy on the editor...you put it back into the DOM somewhere, such as directly in the body, with a display none. Then call destroy and then remove it from the DOM again?

[2019-03-14 11:54] sebastien-roch commented on #657
I can do that. Towards which branch should I target my pull request having this `defaultListenerOptions`? I guess I have to create a second PR for a future breaking release where we just set `capture` to `false` by default.

[2019-03-14 11:57] bigopon commented on #657
@sebastien-roch Thanks for that. It should be `develop` branch

[2019-03-14 13:43] glen-84 commented on #348
@EisenbergEffect,

I don't think so. It calls `editor.window.getFrame()`, which will return `null` as it no longer exists. (see [here](https://github.com/ckeditor/ckeditor-dev/blob/51f2933d32ff606c85db0aaf7045706c3ebf077a/plugins/wysiwygarea/plugin.js#L524))

I can't just throw a random iframe into the document.

[2019-03-15 00:07] EisenbergEffect commented on #348
Here's another idea that doesn't involve any hacks, just a bit of clever HTML. In your editor custom component, create the CKEditor in a div directly inside the body of the HTML document, not as a child of your own element. Hide it. Then, when your element is attached, measure yourself to get exact position and width height. Then, position the CKEditor div over top of your element, with the same w

[2019-03-18 07:34] glen-84 commented on #348
I really appreciate your help here, but I do see that solution as a hack unfortunately.

If there is no cleaner option, then I'll have to make a decision between that solution and leaving a potential memory leak in place. Thankfully it's only an administration panel and not a website with thousands of users. It still makes me uncomfortable though.

[2019-03-18 18:07] EisenbergEffect commented on #348
I wouldn't consider this a hack, as it's something that's common practice across multiple frameworks for rendering or caching DOM outside of a component, but controlled by a component. It's very similar to what's called a `portal`, which we even have a plugin for. I'm just not sure if it's the exact fit for your scenario. @bigopon has written the portal plugin and could comment on whether it would

[2019-04-18 18:40] davismj opened #661 "custom attribute bindable properties with interpolated values won't fire updates"
If you interpolate a value into a custom attribute with bindable properties, no `changed` callbacks are called ever.

https://gist.run/?id=3d01db3846233729d987c074fccde75e

[2019-04-18 20:25] bigopon commented on #661
This is a feature requested. Similar to https://github.com/aurelia/templating-binding/issues/136

cc @fkleuver for awareness

[2019-04-18 22:02] #661 closed

[2019-04-30 17:25] davismj commented on #171
Thanks @fkleuver you never let me down.

[2019-04-30 17:52] davismj commented on #411
`bindingContext['$magic'] = 'Shazzam';`

This was my favorite movie from the 90's.

[2019-05-15 10:36] KoltesDigital opened #662 "Interface imports in output files"
**I'm submitting a bug report**

* **Library Version:**
aurelia-binding: 2.3.0
aurelia-templating: 1.10.2

* **Language:**
all

**Current behavior:**
`aurelia-templating`'s output files (in `dist/es2015`, `dist/native-modules`, and `dist/system` but the latter does not lead to an error) import interfaces from `aurelia-binding`. Since they do not exist in `aurelia-binding`'s output files, they can'

[2019-05-15 10:39] bigopon commented on #662
@KoltesDigital May i know your app setup?

[2019-05-15 10:42] KoltesDigital commented on #662
@bigopon I'm trying to make an Aurelia project (almost empty in itself) work with JSPM 2. You can read https://github.com/jspm/jspm-cli/issues/2454 while I commit the project state.

[2019-05-15 10:49] KoltesDigital commented on #662
Available on https://github.com/KoltesDigital/example-ts-jspm-aurelia/tree/531bdefb847001ce98679b0a8e15de47d3f87152

[2019-05-15 12:45] bigopon commented on #662
@KoltesDigital thanks. I'll have a look at the build

[2019-05-15 21:30] bigopon commented on #662
@EisenbergEffect `Scope` is used in only 1 place here
https://github.com/aurelia/templating/blob/ea994d18fb56aba64868e2bf67940473dbe5de32/src/binding-language.js#L23

We can degrade the interface to `any` and remove the `Scope` import to avoid the issue, or i can convert this module in TS as well, which one would be better?

[2019-05-15 22:34] KoltesDigital commented on #662
My two cents, you shouldn't degrade the code, i.e. lose guarantees that the code is correct. Scope is not the only problematic interface, I saw at least two other ones. I believe it would be better to configure the transpiler to not output interfaces, which ts does... But I don't know at all your release process.

[2019-05-16 12:06] bigopon commented on #662
@KoltesDigital I've checked the build, it's an old process so we probably don't want to touch that part. Beside that, let binding is not what you would use directly, so its interface, even when degraded to `any`, will still be ok.

[2019-05-16 19:04] justindra opened #663 "Constructor not called first"
**I'm submitting a bug report**

* **Library Version:**
1.10.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.14

* **Node Version:**
10.15.0

* **NPM Version:**
6.4.1

* **JSPM OR Webpack AND Version**
Webpack 3.3.0

* **Browser:**
all

* **Language:**
TypeScript 3.2.2

**Current behavior:**
When I load one of my components using the `aurelia-dialog` I noticed that the

[2019-05-16 20:57] StrahilKazlachev commented on #663
Do provide more information. What are those *observableOneChanged*, *observableTwoChanged*? Where are they implemented? Which *constructor*? What do you mean you *load* components with `aurelia-dialog`?

[2019-05-17 09:34] KoltesDigital commented on #662
Agreed. What about `Binding` (interface) and `Expression` (*class!*)?

[2019-05-17 18:18] justindra commented on #663
@StrahilKazlachev sorry for the lack of description. Here is some more information.

So here is example of the component

[code]

and to instantiate the component

[code]

[2019-05-17 19:42] StrahilKazlachev commented on #663
Ah, so the way I see it, it is combination of the compiled code and how `@observable` works.
`@oservable` is synchronous, meaning the moment you assign to the property the change handler will be called.
Since you are using TS your compiled constructor should look like this:
[code]
So because how `@observable`, when `this.observableOne = '';` is hit, before continuing to the next line, the change h

[2019-05-17 19:45] justindra commented on #663
Ah gotcha! That makes more sense. Thanks for that!

[2019-05-17 19:45] #663 closed

[2019-05-21 19:21] EisenbergEffect commented on #662
@bigopon I'd do the minimum we can to resolve @KoltesDigital 's issue. I'm wary of a big conversion or removing anything that was previously published in the dts. If widening a type can address the issue, I think that's ok for now. As you know, these issues are solved automatically for vNext by virtue of it all being TS and the new build processes there.

[2019-05-21 21:12] KoltesDigital commented on #662
Good news for vNext, I haven't followed up. Well this issue appeared because I tested JSPM 2 which is still in progress too... I better stay on JSPM 0.17 for now, and hopefully both libraries will be ready soon.

[2019-05-21 21:12] #662 closed

[2019-05-24 15:47] artmasa commented on #493
Is this being worked? @EisenbergEffect you marked this issue as an enhancement in 2016. Is this being considered for vNext?

[2019-05-24 17:34] EisenbergEffect commented on #493
@artmasa We haven't added this to vNext yet as most of our work there has been around reaching feature parity with vCurrent. However, the vNext compiler has a much better architecture and is generally much easier to extend and add new features to. So, after we get all the basics in place, this seems like something we could address there. @fkleuver What do you think? Is this something that's pretty

[2019-05-24 17:48] JontyMC commented on #493
@EisenbergEffect this would certainly simplify our nested controls, where we want to provide defaults at different levels. At the moment we need to duplicate code.

[2019-05-24 17:57] EisenbergEffect commented on #493
@JontyMC @artmasa One really cool way to contribute might be for you two to work on a brief RFC for this feature. The vNext work is going on here: https://github.com/aurelia/aurelia and if you create a new issue, there's  an RFC template. There are a couple of example RFCs to look at as well. It's nothing super formal, but if we could flesh out some use cases, some examples of how it would be used

[2019-05-25 03:02] artmasa commented on #493
@EisenbergEffect Thanks for pointing us to the vNext repo. While looking at the issues there, there's already a feature request already submitted targeting specifically what I need. The idea is to reuse custom elements and inherit it's functionality on another custom element, but still allow the consumer of the inheriting element to replace templates within the base custom element. This would make

[2019-05-25 05:05] EisenbergEffect commented on #493
Excellent. Glad we've got that tracked!

[2019-05-25 16:33] genadis opened #664 "child-observation depends on monkey patching MutationObserver"
**I'm submitting a bug report**

* **Library Version:**
master

* **Browser:**
all

**Current behavior:**

As can be seen here:
https://github.com/aurelia/templating/blob/master/src/child-observation.js#L160

MutationObserver returned by `DOM.createMutationObserver(onChildChange);` is being patched, by adding `observer.binders = [];`

Later it is expected here:
https://github.com/aurelia/templatin

[2019-05-25 17:41] EisenbergEffect commented on #664
Well, Zones are a pretty nasty hack to begin with. I'm not sure how much we can do. The standard way to associate data is either to add a property like we have already, or use a Map/WeakMap. But Map/WeakMap will have the same issue if the instance is actually difference since the key equality check will fail. Does Zones provide an API to unwrap the instance and get the original? That would probabl

[2019-05-25 21:06] genadis commented on #664
Thank you for the quick response!

@EisenbergEffect  I totally agree with you regarding Zones, In our case we unfortunately do not have other choice.

Regarding unwrapping the instance, I believe: `window[window.Zone.__symbol__("MutationObserver")]` should do the trick based on:
https://github.com/angular/angular/issues/26948
`window[window.Zone.__symbol__("WebKitMutationObserver")]` works for web

[2019-05-26 00:47] bigopon commented on #664
@genadis If you already know what could be applied to fix Zone, why couldn't you do this:
[code]

[2019-05-26 09:16] genadis commented on #664
@bigopon thank you fo the suggestion.

Our aurelia application is used in different environments the one with Zone.js is only one of them.
Solution that works for us is in bootstrap code to have:
[code]
Setting the `DOM.createMutationObserver` after the bootstrap is important because the DOM object is not setup prior to that.

If you are not planning to add this fix, I guess this issue might help

[2019-05-26 11:39] bigopon commented on #664
Angular is popular, so making Aurelia work seamlessly with it is desirable. But I'd be hesitant to add this. There's no guarantee that Angular would use Zone forever and there's no guarantee that Zone would stay that way forever (extremely speaking only, but I hope it's clear how uneasy one would feel adding something so specific to Angular/Zone into our modules). What we could do is to add a sect

[2019-06-08 03:37] davidlav commented on #513
For anyone else finding themselves here because the lack of surrogate behaviors doesn't allow for easy styling of custom elements used as route views (as any identifying attributes on the <template> tag itself, such `class` or `id`, are stripped), one possible workaround is to bind the router's current instruction config name to the `<router-view>` like so:

`<router-view id.bind="router.currentIn

[2019-06-08 21:46] davismj commented on #348
I ran up against this. My use case is custom events. I want to fire a bubbled custom event whenever the element is removed. The `detached()` callback is too late, as the element is already detached from its place in the dom and will not bubble.

[2019-06-26 08:50] fkleuver commented on #534
This is solved in vNext with the `bound` hook, is a "bubble-up" style hook that runs after all bindings are done. I think we can close this? Since we're not going to have that hook in vCurrent..

[2019-06-26 15:00] koenbeuk opened #668 "Custom elements as table rows break layout when importing resources as first business"
**I'm submitting a bug report**

* **Library Version:**
1.10.1 and later (have not tested before)

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **JSPM OR Webpack AND Version**
webpack-cli 3.1.2

* **Browser:**
Tested in Chrome

* **Language:**
all

**Current behavior:**
When using ```<tr as-element="custom-element">``` inside a table, where the custom element st

[2019-06-26 19:47] #534 closed

[2019-07-02 09:48] bigopon commented on #668
@koenbeuk thanks for filing this issue. And sorry that somehow I missed it until now. The issue you encountered is because how Aurelia turns a template (or a html file content) into a view factory: it is first passed through native HTML5 parser via simple `innerHTML`. This means invalid HTML5 structure (like `<td/>` as a direct child of template, but not the only child type) will be processed diff

[2019-07-02 09:50] bigopon commented on #668
Here is an example of it working: https://gist.run/?id=45a7d62b74673e35ed667412085baa7d

[2019-07-02 09:50] koenbeuk commented on #668
@bigopon Thanks for the example, I already got it working that way :)

[2019-07-02 09:54] bigopon commented on #668
@koenbeuk nice. I guess we can close this issue?

[2019-07-02 09:56] koenbeuk commented on #668
It's not blocking me anymore, feel free to close if you deem best

[2019-07-02 09:58] bigopon commented on #668
It seems we could really use some doc describing this scenario to help future folks. Would be great if you could help with this @koenbeuk ❤️

[2019-07-03 12:47] qraynaud commented on #192
@mreiche I'm adding this a bit late, but I have a simpler codebase for the same purpose :
[code]

[code]

You can also add some bit of code on `valueChanged` to ensure value is a `function` and create a `DetachedCustomAttribute` if you also want to handle detached « events ».

[2019-07-10 05:24] baerrach commented on #252
This problem will bite you when you are trying to do https://aurelia.io/docs/plugins/store#using-the-dispatchify-higher-order-function

The pages `app.html` contains the repeat statement, trying to push this into the example `framework-list` by cut-and-paste gives you an error, but putting into its own view file didn't. That's what brought me here.

[2019-07-10 15:31] thomas-darling opened #669 "A named slot cannot be used as content for the default slot of a child component"
**I'm submitting a bug report**

* **Library Version:**
1.10.0

**Current behavior:**

**app.html**
Let's say we have an app, which uses the component `foo`, providing content for its named slots.
[code]

**foo.html**
The component `foo` uses the component `bar`.
The content of the first slot in `foo` should be projected into the _default_ slot in `bar`.
The content of the second slot in `foo` sho

[2019-07-11 00:50] baerrach opened #670 "Failing karma tests report incorrect line numbers in console stacktrace"
**I'm submitting a bug report**

* **Library Version:**
aurelia-templating: "1.10.3"

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.15.3

* **NPM Version:**
6.4.1

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

**Current behavior:**
Create a new test case and force it to fail.

[code]

Not the line numbers with your unit test and the stack t

[2019-07-11 01:33] EisenbergEffect commented on #669
@thomas-darling I’m not sure how fast we’ll be able to get around to fixing this particular scenario in vCurrent. If this is critical to you, one thing you could do is use the shadydom polyfill, turning it on to emulate always, and then set your custom elements to use shadow dom.

[2019-07-12 03:51] #670 closed

[2019-10-18 12:17] code-chris opened #674 "Custom element creation is confusing"
**I'm submitting a bug report**

* **Library Version:**
1.10.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.15.3

* **NPM Version:**
6.4.1

* **JSPM OR Webpack AND Version**
webpack 4.27.0

* **Browser:**
Chrome 77

* **Language:**
TypeScript 3.1.2

**Current behavior:**
I created a repro for our problem:
https://github.com/code-chris/aurel

[2019-10-18 12:21] bigopon commented on #674
With a very quick glance at the code, I'm guessing you miss a metadata-generating decorator in derived classes. This is a requirement for bindable - inheritance. Could you please help try and confirm it?

[2019-10-18 12:23] bigopon commented on #674
What i meant is: in either `CommentItem` or `SolutionItem`, decorate it with `@bindable`, or `@customElement`, just one is enough, so it has the right metadata. This is a legacy issue that we traverse to the root metadata holding class definition, because there was no intention to support inheritance at first. We can fix it, but the potential breakage is unknown.

[2019-10-18 12:35] bigopon commented on #674
Yes
[code]

[2019-10-18 12:37] code-chris commented on #674
okay, thanks for your quick response.
Then I think we can close this issue. It was only a bit weird 😃

[2019-10-18 12:37] #674 closed

[2019-11-08 14:49] mazur33k opened #675 "@child() decorator does not work properly in combination with if.bind"
**I'm submitting a bug report**

* **Library Version:**
1.10.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.16.3

* **NPM Version:**
6.12.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Let's say we have an app, which uses the component `simple-component`. This component is p

[2019-11-08 20:06] bigopon commented on #675
This seems to be a bug in `.bind()` of the the observer, unable to set the value again when `.bind()` again after `.unbind()`
@mazur33k thanks for reporting this

[2020-01-28 10:28] plarner30 opened #679 "Initial range input displayed value rounded when value specified before step"
I'm submitting a bug report
Windows 10
Chrome 79.0.3945.130

Current behaviour
Initial range input model value correct but slider visual position rounded. In example below slider will show the min value. Current fix is to specify value.bind after step.bind.

What is the expected behavior?
Initial position of range input slider visually correct

export class RangeInputComponent {
min = 0;
max = 1;

[2020-01-28 11:27] bigopon commented on #679
@plarner30 thanks for reporting this issue & the link. We've fixed this in v2, but haven't done so in v1. Will probably have a fix for this

cc @Sayan751 @fkleuver @EisenbergEffect

[2020-02-13 19:10] DarkLiKally opened #680 "CustomAttribute is not being evaluated when on or inside an if.bind-Element"
**I'm submitting a bug report**

* **Library Version:**
1.10.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.13.0

* **NPM Version:**
6.12.0

* **JSPM OR Webpack AND Version**
It's an Aurelia Plugin created using the CLI. It's using gulp based build with npm

* **Browser:**
all

* **Language:**
TypeScript 3

**Current behavior:**

1. Create

[2020-02-18 14:32] BlischkeFlorian commented on #680
Totally agree - massive Bug.

[2020-02-18 14:32] BlischkeFlorian commented on #680
@EisenbergEffect any plans to fix this heavy issue?

[2020-02-18 14:49] bigopon commented on #680
@BlischkeFlorian thanks for notifying. Ill have a look

[2020-02-18 14:57] bigopon commented on #680
@BlischkeFlorian @DarkLiKally reading the description in this issue, it seems you want the `if` attribute to behave similarly to `show` attribute, is that correct? If so, can you described why you cannot use `show` attribute?

[2020-02-18 17:03] bigopon commented on #680
@BlischkeFlorian @DarkLiKally Sorry I misread your description. It seems the custom attribute value doesn't get updated. Could you please help with a repro based on this sandbox? https://codesandbox.io/s/zw9zjy0683

The issue you reported seems like a common usage to me, so it should have been notified by many others. I'm not sure why it doesn't work for you, so probably we will need the exact cod

[2020-02-26 15:42] lorond opened #681 "Custom elements with common base class"
**Submitting a bug report**

* **Library Version:** aurelia-bootstrapper 2.3.2, aurelia-cli 1.2.3
* **Operating System:** OSX 10.15, Windows 10 (does not matter)
* **Node Version:** 10.15, 13.8
* **NPM Version:** 6.13.7, 6.4.1
* **Webpack Version** webpack 4.27
* **Browser:** Chrome 79 | Firefox 73 (guess, it does not matter)
* **Language:** TypeScript 3.1.2

**Current behavior:**
Several custom e

[2020-02-28 22:00] bigopon commented on #681
@lorond I believe you hit the issue of derived class retrieving base class metadata. We have provided doc for this, but probably it's easy to miss. Did you have a look at https://aurelia.io/docs/templating/html-behaviors#inheritance-with-html-behaviors? Note:

Here's some old example you can have a look at: https://discourse.aurelia.io/t/example-of-binding-inheritance/428

@jods4 @EisenbergEffect

[2020-02-28 22:31] lorond commented on #681
Thanks @bigopon. Yep, I missed that. I'll do a PR a bit later to highlight this in the docs, ok?

[2020-02-28 22:32] bigopon commented on #681
@lorond that'd be awesome

[2020-04-24 04:09] 3cp opened #683 "Trash files in repo"
FYI @EisenbergEffect there are few trash files incorrectly pushed up.

[code]

[2020-04-24 04:18] EisenbergEffect commented on #683
Fixed.

[2020-04-24 04:18] #683 closed

[2020-05-17 23:52] bigopon commented on #675
fixed by #685

[2020-09-18 18:57] mertcankose commented on #529
Hey, I have exactly same problem. Do you find a solution? Thanks.

[2020-09-18 19:05] mertcankose commented on #529
<Card
        class="card cat-card"
        v-for="card in 5"
        :key="card"
        imageUrl=`/src/assets/card-${card}.jpg`

I got "Parsing error: unexpected-character-in-unquoted-attribute-value.eslint-plugin-vue"
What Can I do?

[2020-09-18 19:13] mertcankose commented on #529
EDİT: I solved

      <Card
        class="card cat-card"
        v-for="card in 5"
        :key="card"
        :imageUrl="`/src/assets/card-${card}.jpg`"

[2020-09-30 06:43] anthonyborell opened #689 "Upgrading electron caused <compose> to hide other parts of UI"
### I'm submitting a bug report

**Library Version:**
aurelia-templating 1.10.3

### Please tell us about your environment:

**Operating System:**
Windows 10 1903

**Node Version:**
12.13.0

**NPM Version:**
6.12.0

**Webpack Version**
4.38.0

**Browser:**
Electron 7.3.3
Chromium 78.0.3904.130

**Language:**
TypeScript 3.5.3

### Current behavior:

After upgrading my Electron app from 3.0.2 to 7.3

[2020-09-30 06:54] bigopon commented on #689
@anthonyborell can you help paste some template html here? and the final rendered html as well? It's quite hard to guess what is rendered and what's not based on just a few lines of html

[2020-10-01 01:52] anthonyborell commented on #689
@bigopon The vagueness was due to this being propitiatory software. However I will do my best to help you as much as I can. I am going to try and recreate the bug outside of the code base.

[2020-10-01 07:03] anthonyborell commented on #689
Upon further investigation, the problem isn't related to `<compose>`. Between Electron 3.0.2 and 7.3.3, the behaviour of CSS overflow has changed. There also seems to be issues with Chromium's implementation of flexbox and overflow since v72
The reason it only affected the pages with the `<compose>` elements were because those pages had content that exceeded the containers height.

[2020-10-01 07:03] #689 closed

[2020-10-01 07:33] bigopon commented on #689
I remember having these issues in one of my apps as well, and it was painful to resolve. Thanks for the updates.

[2020-10-12 16:10] plarner30 opened #716 "Custom attribute primary property same name as attribute"
I'm submitting a bug report
Windows 10
Chrome 85.0.4183.102

Current behaviour
If you name the primary property of a custom attribute the same as the attribute its is not possible to access the initial or changed value.

What is the expected behavior?
The value should update when the primary property name is the same as the attribute and have the correct initial value.

[code]

[code]

[2020-12-22 11:50] JSeligsohn commented on #482
@Kabe0 Hey, i know it's been a while since this issue was opened. Any luck getting this to work? Have you done it using the current version of Aurelia? I have a very similar use case I'm interested in.

[2021-06-19 03:48] sflanker commented on #549
This workaround for `DialogService.open()`, while it does work and I'm grateful for that, is outright horrible. I have to make a massive app wide refactor that can't be easily automated with sed/awk and throws away type safety, forcing me to validate that every single dialog in my app still works.  Sigh 💩

[2021-06-19 03:57] bigopon commented on #549
@sflanker tou can refactor eitber in the user of the view model, or the view model itself by giving it an explicit name via a `@customElement()`

[2021-06-21 21:36] sflanker commented on #549
@bigopon So if I simply explicitly decorate every dialog viewModel type, I can safely continue to references these view models using the type name imported using an ES style import? That is good news 🙏

Just to clarify to be sure I understand the workaround:

[code]

[2021-06-22 11:50] bigopon commented on #549
@sflanker yes thats exactly it

[2021-08-11 23:11] Alexander-Taran commented on #568
This can be closed actually (-:
@bigopon @jdanyow

[2022-03-16 15:06] deap82 commented on #595
I think I've stumbled upon something related to this issue, but for now managed to work around it. Just wanted to know if there has been anything done about this **that perhaps I could try**, before elaborating more on my specific case (which involves both sorting [through a value converter] and replaceable parts in a probably pretty advanced way... 😬). In short, the issue is with checked bindings

[2022-05-24 19:12] Alexander-Taran commented on #451
@bigopon
can be closed.

Amazing read on @child & @children

[2022-05-27 13:01] #451 closed

[2022-05-31 22:58] Alexander-Taran commented on #583
@bigopon and the question is kinda answered?

[2022-06-01 14:56] Alexander-Taran commented on #565
@bigopon PR to mention this in docs happened..
maybe can be closed.

[2022-06-02 02:52] #565 closed

[2022-06-02 02:54] bigopon commented on #583
This is a won't fix for now. Unless it's really desirable. There' many ways to work around it, simplest is with let as an example. Changing the attr parser in v1 isn't a high priority unless someone wants to take on that.

[2022-06-02 02:54] #583 closed

[2022-06-20 11:26] Esger commented on #57
The 'view' and 'anchor' comments cause the CSS `+` (adjacent sibling) selector to fail.

[2022-10-27 04:23] leonidpaslavskyi opened #709 "In aurelia template, it shows "Cannot read properties of null (reading 'insertBefore')" error."
**I'm submitting a bug report**

* **Library Version:**
1.10.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
14.17.4

* **NPM Version:**
6.14.14

* **JSPM OR Webpack AND Version**
webpack 4.44.2

* **Browser:**
Chrome 106.0.5249.119

* **Language:**
TypeScript 4.0.3 | ESNext

**Current behavior:**
In aurelia template, I used multiple if.bind ex

[2022-11-03 01:45] bigopon commented on #709
Please follow the main discussion at https://github.com/aurelia/framework/issues/1003
Linked issue in the html spec change that causes this https://github.com/whatwg/dom/pull/819

[2022-11-03 01:45] #709 closed, assigned to nobody

[2022-11-04 17:48] jded76 commented on #709
@bigopon are you sure it's the same thing? The issue here says Chrome and doesn't mention Safari 16+ anywhere.

[2022-11-04 20:24] bigopon commented on #709
Thanks @jded76 , I looked too quick and only saw `insertBefore ... null`.
@leonidpaslavskyi sorry for closing too quickly, can you provide a repro?